﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="ChangeLogon.aspx.vb" Inherits="ChangeLogon" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

<asp:UpdatePanel ID="pnlchangeLogon" runat ="server" >

<ContentTemplate>
<table style="border-style: groove" align="center" width="100%" >
 <tr>
    <td colspan="2">
        <asp:Label ID="messagelbl" runat="server" />
    </td>
 </tr>
 <tr>
     <td>
        <asp:Label ID="ChangeLogonLbl" text= "Enter Logon" runat="server" />
        <asp:TextBox ID="ChangeLogonTextBox" runat="server" />
    </td>
    <td>
        <asp:Button id="btnSubmit" runat="server" text="Submit" />
    </td>
 </tr>
 <tr>
    <td colspan="2">
        <asp:Label ID="newidlbl" runat="server" />
    
    </td>
 </tr>
</table>
</ContentTemplate>
</asp:UpdatePanel>
</asp:Content>

