﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript">
    function GetSelected() {
        var message = "";
        var checkBoxList = document.getElementById("<%=chkFruits.ClientID%>");
        var checkBoxes = checkBoxList.getElementsByTagName("INPUT");
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                var value = checkBoxes[i].value;
                var text = checkBoxes[i].parentNode.getElementsByTagName("LABEL")[0].innerHTML;
                message += "Text: " + text + " Value: " + value;
                message += "\n";
            }
        }

        alert(message);
        return false;
    }

    function OnClientClick() {
        var combo = $find("<%=RadComboBox1.ClientID %>");
        if (combo.get_items().getItem(0).get_checked()) {
            combo.get_items().getItem(0).set_checked(false);
        }
        else {
            combo.get_items().getItem(0).set_checked(true);
        }
    }
</script>

<head>
    <title></title>
</head>
<body>
<table>
    <tr>
        <td>
            <input id="f1" type
        </td>
    </tr>

</table>
<asp:CheckBoxList ID="chkFruits" runat="server">
    <asp:ListItem Text="Mango" Value="1" />
    <asp:ListItem Text="Apple" Value="2" />
    <asp:ListItem Text="Banana" Value="3" Selected="True" />
    <asp:ListItem Text="Guava" Value="4" />
</asp:CheckBoxList>
<asp:Button ID="btnGet" Text="Get Selected Items" runat="server" OnClientClick="return GetSelected()" />

</body>
</html>
