﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="CSCGroupQueues.aspx.vb" Inherits="CSCGroupQueues"  ViewStateMode="Enabled"%>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

  
  <asp:Panel runat="server" ID="pnlContent" >
  
  
  </asp:Panel>
</asp:Content>

  
