﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default"  ViewStateMode="Enabled"%>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <asp:Calendar ID="Calendar1" runat="server" Height="361px" Width="432px">
    </asp:Calendar>

    <asp:Button ID = "btnTestRole" runat="server" Text="TestRole" />
</asp:Content>

  
