<%@ Page Language="VB" AutoEventWireup="false" CodeFile="HelpMissing.aspx.vb" Inherits="HelpFiles_HelpMissing" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>HelpMisssing</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table width="100%">
            <tr>
                <td style="width: 100px">
                </td>
                <td style="width: 100px" align="center">
                    Help Resource</td>
                <td style="width: 100px">
                </td>
            </tr>
            <tr>
                <td style="width: 100px">
                </td>
                <td style="width: 100px" align="center">
                    <asp:Label ID="lblHelpMissing" runat="server" Font-Bold="True" Font-Size="XX-Large"
                        Text="Select Help"></asp:Label></td>
                <td style="width: 100px">
                </td>
            </tr>
            <tr>
                <td style="width: 100px">
                </td>
                <td style="width: 100px">
                </td>
                <td style="width: 100px">
                </td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
