﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="InvalidAccountQueueV3.aspx.vb" Inherits="InvalidAccountQueueV3" %>

<%--<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>--%>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
         <%--<asp:table id="QueueTable" style="Z-INDEX: 100; POSITION: absolute; TOP: 128px" 
				runat="server" Width="624px" Font-Names="Verdana" Font-Size="Smaller">
               </asp:table>

                <asp:label id="subTitle" style="Z-INDEX: 107; POSITION: absolute;" runat="server"	ForeColor="#006666" Font-Bold="True" Width="280px" Font-Size="Larger"></asp:label>--%>

<table style="border-style: groove" align="center" width = "100%">

<tr>
<td valign = "top" align ="left">


<div>

<asp:UpdatePanel ID = "uplQueue" runat="server">
   

<ContentTemplate>
<table>
<tr>
<td>

</td>
</tr>
<tr>
<td align="center">

    <asp:Label ID ="lblAccountType" runat="server" Font-Size="Large" EnableTheming="false" >Invalid Queues</asp:Label>
    <hr />

</td>
</tr>
<tr>
<td>
    <asp:Table ID = "tblAccountQueues" runat = "server"> </asp:Table>
</td>
</tr>
</table>
</ContentTemplate>
</asp:UpdatePanel>
</div>


</td>
</tr>
</table>

</asp:Content>

