﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="True" CodeFile="jQueryPlugin.aspx.vb" Inherits="jQueryPlugin" %>



<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">




<script type="text/javascript" src="Scripts/FieldValidator.js"></script>
 <script src="Scripts/center.jQuery.js" type="text/javascript"></script>
   

<script type="text/javascript">
    $(function () {

        $('img').center();
    });
</script>

      
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
<div>
<img src="images/CKHSlogo185px.jpg" alt="whateve" />
</div>
 

  <%-- OnClientClick="myfunction(); return false;"--%>
</asp:Content>

