﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="MaintenanceQueue.aspx.vb" Inherits="MaintenanceQueue" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">


<asp:UpdatePanel ID="uplPanel" runat ="server" >

<Triggers>

  <%-- <asp:AsyncPostBackTrigger ControlID="dgValidateQueue" EventName="SelectedIndexChanged" />--%>

</Triggers>

<ContentTemplate>
<table style="border-style: groove" align="left">
<tr>
   <td colspan = "4" class="tableRowHeader">
     Maintenace Queue
   </td>
  
</tr>
<tr>
    <td>
        Select Type
    </td>
    <td>
        <asp:RadioButtonList ID ="rblSearchType" runat="server" >
            <asp:ListItem Value="users">Multiple Login Names </asp:ListItem>
            <asp:ListItem Value="account">Multiple Accounts</asp:ListItem>
        </asp:RadioButtonList>
    </td>
    <td>
    Account
    </td>
    <td>
        <asp:DropDownList ID = "ddlAccounts" runat="server">
        
        </asp:DropDownList>

    </td>
   </tr>

 <tr>
    <td colspan = "4" align = "center">
        <asp:Button ID = "btnSearch" Text = "Search" runat="server" />
    </td>
</tr>

<tr >
<td colspan = "4">


<asp:Table ID = "tblQueue" runat = "server">


</asp:Table>




</td>
</tr>

    
  

</table>

</ContentTemplate>


        </asp:UpdatePanel>


</asp:Content>

