﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<!–#include virtual=”testinclude.asp”–>-->
<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
<script type="text/vbscript">

<% user_name = Request.ServerVariables("REMOTE_USER")
   
   testresult = uCase(LEFT(user_name,8))

	if testresult = "CKHSAD\" then
		loginid = mid(user_name,9,15)
	else
		loginid = mid(user_name,8,15)
	end if


	Set Conn = Server.CreateObject("ADODB.Connection")
	set rs = server.createobject("adodb.recordset")
    set rs1 = server.createobject("adodb.recordset")
    
    
    
	on error resume next
	Conn.Open "Provider=SQLOLEDB;DATA SOURCE=webdev10;DATABASE=help_desk01;UID=helpdesk;PWD=crozer;"

	if conn.state=adStateClosed then
		response.write("<center><h2>Invalid Login ID or Password</h2><br>")
		response.write("<a href=""hs_login.asp"">Please Try Again</a></center>")
		response.write(session("loginid"))
		response.end
	end if

	err=0

	sql = "sel_ticket_by_request_num "
	sql = sql & event_id & ",'" & loginid & "'" 
	
	rs.open sql, Conn , 3, 1 

    'group = session("group")


   sql1 = "sel_activities_by_request_num "
	sql1 = sql1 & event_id & ",'" & loginid & "'" 

	rs1.open sql1, Conn , 3, 1 
	
	
	
	
    came_from = Request.ServerVariables("HTTP_REFERER")
	came_from = right(came_from, 16)
%>
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Ticket Info</title>
</head>
<body bgcolor="#CCCCCC">
<br><br>
<table>
    <tr>
    
        <td>
            
        </td>
    </tr>
</table>
<TABLE WIDTH=99% BORDER=1 CELLSPACING=1 CELLPADDING=1 >
	<TR align = center>
		<TD class="header">ID #</TD>
		<TD class="header">Entry Date</TD>
		<TD class="header">Entered By</TD>
	    <TD class="header">Activity</TD>
		<TD class="header">Status</TD>
		</font>
	</TR>
	<%
	
	
	i=0
while not rs1.eof


if i mod 2 = 0 then%> 
  <TR class="even">
<%else%>
	 <TR  class="odd">
<%end if%>
	 
	
		<TD class=activity><%=rs1(1)%>&nbsp;</td>
		<td class=activity><%=rs1(2)%>&nbsp;</TD>
		<TD class=activity><%=rs1(5)%>&nbsp;</TD>
		<TD class=activity><%=rs1(3)%>&nbsp;</TD>
		<TD class=activity><%=rs1(8)%>&nbsp;</TD>

	</TR>
	
	<%rs1.movenext
	i=i+1
wend


%>
</body>

</html>
</asp:Content>