﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="ProviderQueue.aspx.vb" Inherits="ProviderQueue" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">


<table>
<tr>
    <td>
        <asp:Button runat="server" id="BtnExcel" Text="Excel"
         CssClass="btnhov" BackColor="#006666"  Width="145px" /> 
    </td>
</tr>

</table>
<asp:UpdatePanel ID="uplSignOnForm" runat ="server" >

<Triggers>



</Triggers>

<ContentTemplate>
<table style="border-style: groove" align="left" width="100%" cellpadding="5px">
<tr>
   <td class="tableRowHeader">
      Provider Queue (Waiting for Doctor Master Number)
   </td>
</tr>
<tr >
<td>

<asp:Table ID = "tblProviderQueue" runat = "server" Width="100%">


</asp:Table>





</td>
</tr>

    


</table>

</ContentTemplate>

</asp:UpdatePanel>
</asp:Content>

