﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CSCMaster.master" AutoEventWireup="false" CodeFile="ReportDisplay.aspx.vb" Inherits="ReportDisplay" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
 <asp:UpdatePanel ID="mainupd" runat="server" >
  <ContentTemplate>
     <table>
        <tr>
          <td>
               <asp:Table ID = "tblReports" runat = "server">
                  </asp:Table>

          </td>
        </tr>
       
       </table>
    <div id="Content">
     <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional" Visible="false" >
        
        <ContentTemplate>
            <table>
                <tr>
                    <td>
                        <asp:Button ID="btnReturn" runat="server" Width="150px" Text="Return To Reports Menu " />
                    </td>
                </tr>
            </table>
           <%-- <iframe id="pdfFrame" src="ReportMissing.aspx" runat="server" style="top:50pX"></iframe>--%>
         </ContentTemplate>
        </asp:UpdatePanel>  
     </div>
</ContentTemplate>
</asp:UpdatePanel>
</asp:Content>

