﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SecurityV2.aspx.vb" Inherits="SecurityV2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   			<table id="Table1" cellspacing="1" cellpadding="1" width="70%" border="0">
				<tr>
					<td style="HEIGHT: 22px; width: 709px;" align="center">
						<asp:label id="Label1" runat="server" Font-Names="Verdana" ForeColor="#006666" Font-Size="X-Large"
							Font-Bold="True" Width="628px" Height="28px"> CSC Turbo Login</asp:label>
                    </td>
					   
				</tr>
                <tr align="center" >
                    <td align="center">
                        Please Provide Account Name 
                        <asp:Label ID="testid" runat="server" ></asp:Label>
                    </td>
                
                </tr>
				 
                <tr>
                    <td align="center">
                        <asp:TextBox ID="Accountnameid" runat="server" ></asp:TextBox>
                    </td>
                
                </tr>
                <tr>
                    <td align="center">
                        <asp:Button ID="BtnSubmit" runat="server" text="Submit Account" />

                    </td>
                
                </tr>
            </table>

    </div>
    </form>
</body>
</html>
