﻿<%@ Page Language="vb" AutoEventWireup="false" validateRequest="false" Inherits="Security" CodeFile="Security.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head runat="server">
	
		<title>
			<%=Application("TitleRoot")%>
			Local Login</title>
		<script type="text/javascript">
            function LoadFocus() {
            var sPW;
            //alert("test");
            sPW=document.getElementById("txtPassword");
            //document.getElementById("txtPassword")
            //alert(document.getElementById("txtPassword").style.visibility);
            //if(sPW.style.visibility="visible")
            //{
            sPW.focus();
            //}
            }
       </script>
	</head>
	<body>
		<form id="Form1" method="post" runat="server"  defaultfocus="txtpanlogin">
			&nbsp;
            <asp:ScriptManager ID="ScriptManager1" runat="server">
            </asp:ScriptManager>
            <table id="Main" cellspacing="1" cellpadding="1" width="100%" border="0">
             <tr>
             <td align ="center" bgcolor="gainsboro">
			<table id="Table1" cellspacing="1" cellpadding="1" width="70%" border="0">
				<tr>
					<td style="HEIGHT: 22px; width: 709px;" colspan="3" align="center">
						<asp:label id="Label1" runat="server" Font-Names="Verdana" ForeColor="#006666" Font-Size="X-Large"
							Font-Bold="True" Width="628px" Height="28px"> Customer Service Center/Account Queue</asp:label>
                    </td>
					   
				</tr>
				 
				<tr>
					<td colspan="3" rowspan="1" align="center" style="width: 709px" >
					<hr width="100%" style="color: #006666; font-size: medium;">
                        <%--<input id="btnFocus" type="button" value="button"  onclick="LoadFocus();"/>--%>
						<asp:Label id="Label4" runat="server" Font-Size="Larger" Font-Bold="True" Width="235px" Height="32px"
							Font-Names="Arial">Account Information</asp:Label>
					</td>
					</tr>
				<tr>
				<td colspan="3" rowspan="1" align="center" style="width: 709px" > 
						<asp:Label id="ntlogin" runat="server" Height="32px" Font-Names="Arial"></asp:Label>
                   </td>
				</tr>
				<tr>
				<td colspan="3" rowspan="1" align="center" style="width: 709px" >
				        
						<asp:Label id="Label2" runat="server" Font-Size="Larger" Font-Bold="True" Font-Names="Arial">Message</asp:Label>
                </td>
                </tr>
                <tr>
                <td colspan="3" rowspan="1" align="center" style="width: 709px;" >						
						<asp:Label id="lblSecurityMessage" runat="server" Font-Names="Arial"></asp:Label>
						
				</td>
				</tr>
                <tr>
                    <td>
                            <asp:Label ID="LoginText" runat="server" />
                   
                    </td>
                </tr>

                <tr>
                    <td>
                    
                            <asp:Label ID="InfoText" runat="server" />
                   
                    </td>
                </tr>

				
				<tr>
					<td align="center" colspan="3" style="height: 379px; width: 709px;">
                       
						<asp:Label id="HDreferer" runat="server" Width="112px" Font-Names="Arial" Visible="False"></asp:Label>
                        <asp:Label ID="HdCurStoredPW" runat="server" Font-Names="Arial" Visible="False" Width="112px"></asp:Label>
                        <asp:Label ID="HdEnteredPW" runat="server" Font-Names="Arial" Visible="False" Width="112px"></asp:Label>
                        <asp:Label ID="HdUserNum" runat="server" Font-Names="Arial" Visible="False" Width="112px"></asp:Label>
                        <asp:Label ID="HdChangePW" runat="server" Font-Names="Arial" Visible="False" Width="112px"></asp:Label>
                        <asp:Label ID="HdEnteredLogin" runat="server" Font-Names="Arial" Visible="False" Width="112px"></asp:Label>
                     </td>
				</tr>
				<tr>
				<td colspan="3" align="center" style="width: 709px">
                    
                    <div style="z-index: 105; width: 575px; position:relative; ;
                        height: 310px">
                     </div>
				  </td>
               </tr>
			</table>
           </td>
          </tr>
         </table>
		</form>
	</body>
</html>
