﻿<%@ Page Language="vb"   AutoEventWireup="false" Inherits="Variables" CodeFile="Variables.aspx.vb"%>
<%--<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">  MasterPageFile="~/CaseMaster.master" --%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD id="HEAD1" runat="server">
		<title>
			</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0" >
		<form id="Form1" method="post" runat="server">
			
			<TABLE height="100%" cellSpacing="0" cellPadding="0" width="100%" border="0">
				<TR>
					
					<TD vAlign="top" align="left" colSpan="2"><BR>
						
						<TABLE id="Table3" cellSpacing="1" cellPadding="1"  border="1">
							<TR>
								<TD align="left" valign="top">
                                    <asp:Button ID="btnKillSession" runat="server" Text="Kill Session" /></TD>
								<TD></TD>
								<TD></TD>
							</TR>
							<TR>
								<TD>
                                    </TD>
								<TD>
									<asp:Table id="tblVars" runat="server"></asp:Table></TD>
								<TD></TD>
							</TR>
							<TR>
								<TD></TD>
								<TD></TD>
								<TD></TD>
							</TR>
							<TR>
								<TD>Application Restarts:
								</TD>
								<TD>Free Memory (in MB):
								</TD>
								<TD>Peak Memory Used: KB</TD>
							</TR>
							<TR>
								<TD>
									<asp:Label id="lblAppRestarts" runat="server"></asp:Label>
								</TD>
								<TD>
									<asp:Label id="lblFreeMem" runat="server"></asp:Label>
								</TD>
								<TD><asp:label id="lblPeakMem" runat="server"></asp:label>
								</TD>
							</TR>
							<TR>
								<TD>Request Count:</TD>
								<TD>ProcID</TD>
								<TD></TD>
							</TR>
							<TR>
								<TD>
									<asp:Label id="lblRequestCount" runat="server" Width="96px">Label</asp:Label></TD>
								<TD>
									<asp:Label id="lblProcID" runat="server" Width="72px">Label</asp:Label></TD>
								<TD></TD>
							</TR>
							<TR>
								<TD></TD>
								<TD>
                                    <asp:Button ID="btnBack" runat="server" Text="Back" />
                                </TD>
								<TD></TD>
							</TR>
						</TABLE>
						<br>
						<br>
					</TD>
				</TR>
			</TABLE>
			</form>
	</body>
</HTML>
    <%--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>
			<%=Application("TitleRoot")%>Reports <META content="Microsoft Visual Studio .NET 7.1" name="GENERATOR" /><META content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" /><META content="JavaScript" name="vs_defaultClientScript" /><META content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" /><FORM id="Form1" method=post runat="server"><TABLE height="100%" cellSpacing=0 cellPadding=0 width="100%" border=0 __designer:dtid="3659174697238529"><TBODY><TR __designer:dtid="3659174697238530"><TD vAlign=top align=left colSpan=2 __designer:dtid="3659174697238531"><BR __designer:dtid="3659174697238532" /><TABLE id="Table3" cellSpacing=1 cellPadding=1 width=300 border=1 __designer:dtid="3659174697238533"><TBODY><TR __designer:dtid="3659174697238534"><TD __designer:dtid="3659174697238535"></TD><TD __designer:dtid="3659174697238536"></TD><TD __designer:dtid="3659174697238537"></TD></TR><TR __designer:dtid="3659174697238538"><TD __designer:dtid="3659174697238539"></TD><TD __designer:dtid="3659174697238540"><asp:Table id="tblVars" runat="server" __designer:dtid="3659174697238541"></asp:Table></TD><TD __designer:dtid="3659174697238542"></TD></TR><TR __designer:dtid="3659174697238543"><TD __designer:dtid="3659174697238544"></TD><TD __designer:dtid="3659174697238545"></TD><TD __designer:dtid="3659174697238546"></TD></TR><TR __designer:dtid="3659174697238547"><TD __designer:dtid="3659174697238548">Application Restarts: </TD><TD __designer:dtid="3659174697238549">Free Memory (in MB): </TD><TD __designer:dtid="3659174697238550">Peak Memory Used: KB</TD></TR><TR __designer:dtid="3659174697238551"><TD __designer:dtid="3659174697238552"><asp:Label id="lblAppRestarts" runat="server" __designer:dtid="3659174697238553"></asp:Label> </TD><TD __designer:dtid="3659174697238554"><asp:Label id="lblFreeMem" runat="server" __designer:dtid="3659174697238555"></asp:Label> </TD><TD __designer:dtid="3659174697238556"><asp:label id="lblPeakMem" runat="server" __designer:dtid="3659174697238557"></asp:label> </TD></TR><TR __designer:dtid="3659174697238558"><TD __designer:dtid="3659174697238559">Request Count:</TD><TD __designer:dtid="3659174697238560">ProcID</TD><TD __designer:dtid="3659174697238561"></TD></TR><TR __designer:dtid="3659174697238562"><TD __designer:dtid="3659174697238563"><asp:Label id="lblRequestCount" runat="server" Width="96px" __designer:dtid="3659174697238564">Label</asp:Label></TD><TD __designer:dtid="3659174697238565"><asp:Label id="lblProcID" runat="server" Width="72px" __designer:dtid="3659174697238566">Label</asp:Label></TD><TD __designer:dtid="3659174697238567"></TD></TR><TR __designer:dtid="3659174697238568"><TD __designer:dtid="3659174697238569"></TD><TD __designer:dtid="3659174697238570"></TD><TD __designer:dtid="3659174697238571"></TD></TR></TBODY></TABLE><BR __designer:dtid="3659174697238572" /><BR __designer:dtid="3659174697238573" /></TD></TR></TBODY></TABLE><%--</TD></TR></TBODY></TABLE></form>
	</body>
</HTML>
</asp:Content>--%>