﻿<%@ Page Language="VB" AutoEventWireup="false"  CodeFile="ViewImage.aspx.vb" Inherits="ViewImage" ViewStateMode="Enabled"   EnableEventValidation="True" %>
<%@ Import Namespace="System.Data"%>
<%@ Import Namespace="System.Data.SqlClient"%>
<%@ Import Namespace="System.IO"%>
<%@ Import Namespace="AjaxControlToolkit" %>
 
   
  <html>
    <head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title>Viewimage</title>
    </head>
     <body>


        <form id="form3"  method="post" runat="server">

                   
                     <table width="100%" border="5px">

                        <tr>
                            <td>
                                <asp:Label ID="filenamelbl" runat="server" ></asp:Label>
                                <asp:label id="HDrequestnum"  runat="server" Width="176px" Visible="False"></asp:label>
                                
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <asp:Button ID="btnReturn" runat="server" Text = "Return"
                                CssClass="btnhov" BackColor="#006666" ForeColor="White"  Width="200px" 
                                    Font-Bold="True" Height="30px"  />
                               
                            </td>
                        </tr>

                        <tr>
                  
                            <td align="center">
                            
<%--                                      <img alt="" src="cscfileupload/myimage.jpg" width="70%" height="400px" 
                                        id="Myimage" />--%>

                                      <img src="CSCFileUpload/Image1.jpeg" alt="" width="80%" height="600px"
                                        id="image1"/>



                            </td>
                        </tr>

                   </table>
        </form>

    </body>
</html>