<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: END">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="33"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><p:shaperange
  href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s33794" type="#_x0000_m1026"
  style='position:absolute;left:36pt;top:21.625pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s33794" class=T style='position:absolute;top:7.24%;
 left:5.96%;width:88.07%;height:10.07%'>END<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 <p:shaperange href="master03.xml#_x0000_m1027"/><v:shape id="_x0000_s33795"
  type="#_x0000_m1027" style='position:absolute;left:36pt;top:126.25pt;width:9in;
  height:356.125pt;visibility:visible' o:spt="75" o:preferrelative="t"
  o:gfxdata="UEsDBBQABgAIAAAAIQBgJjcoXAEAAHYEAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbLSUy07DMBRE
90j8Q+QtStx2gRBq0kVTVggQlA+4sm9Sq34E20mbv8dJU1U8Ctl06cfMHF2PPF/slYwatE4YnZJp
MiERama40GVK3tcP8R2JnAfNQRqNKWnRkUV2fTVftxW6KKi1S8nG++qeUsc2qMAlpkIdTgpjFfiw
tCWtgG2hRDqbTG4pM9qj9rHvPEg2z7GAWvpotQ/bBxKL0pFoebjYZaUEqkoKBj6Q0kbzbynxkJAE
ZX/HbUTlbgIGob8mdCfnAwbdcxiNFRyjF7D+CVTAoNw6ijOTG5b87dFBKhebohAMk9y6Va86Mp3z
5gJKC8pRDh6mIzK+jnvI44bVKgw54RZ24TWVTAbjPNiOZpDQmtpfgOKxNx7N8VELtn3zrcQLsPS+
o1GYkca6C2Ase+PRHMPDjgE5tfBnGw71+DfV7LTFZkQbT1mh8XmQvWJzdKf9r5F9AgAA//8DAFBL
AwQUAAYACAAAACEAOP0h/9YAAACUAQAACwAAAF9yZWxzLy5yZWxzpJDBasMwDIbvg72D0X1xmsMY
o04vo9Br6R7A2IpjGltGMtn69jODwTJ621G/0PeJf3/4TItakSVSNrDrelCYHfmYg4H3y/HpBZRU
m71dKKOBGwocxseH/RkXW9uRzLGIapQsBuZay6vW4mZMVjoqmNtmIk62tpGDLtZdbUA99P2z5t8M
GDdMdfIG+OQHUJdbaeY/7BQdk9BUO0dJ0zRFd4+qPX3kM66NYjlgNeBZvkPGtWvPgb7v3f3TG9iW
Oboj24Rv5LZ+HKhlP3q96XL8AgAA//8DAFBLAwQUAAYACAAAACEAT1fSJ3ACAADZBQAAFgAAAGRy
cy9kaWFncmFtcy9kYXRhMS54bWyklF1v2jAUhu8n7T9Yvg9OgEBADVUCiVapXSe16+3kOQasOXFq
mxZW7b/vOB+Mbb3oxxWHE+eJz3vec87O96VED1wboaoYBwMfI14xVYhqE+Ovt7kXYWQsrQoqVcVj
fOAGny8+fjgrNuW8oJZeqYJLBJTKzCEX46219ZwQw7a8pGagal7B07XSJbXwV29Ioekj8EtJhr4/
IYWgG01L3EHoGxAlFRVeNHeq7aWxfYhKd7uLIsZPYTjOxmGWe8vQz7xx5ideEgS5l6VBkEV+4i+j
5BdG9lBDlYViPU7fcIukuoW84+x0NS8F08qotR0wVRK1XgvGux+qrSsqJBGR9KB2lrADkxxElGpJ
rSM0CYzuzeuR9zvBfhh7kJwYUdaSB47TcdsMRuwNYKak0oZQxnhlg29DR+mwXQ6jeisLHWMfk1Zd
U3/REBJnhPo5xYM0mE5Wk9RLozz3xv4w9JLhaOzNlsPJaprNwslodFS81mCsrm2N5C6RGKPYxerl
3XMvfaYldBA6UysjLL/Z0prD7eHJjVNuWVlXRP8pbi6bPt1Rbdoc217RPXqgMsbTvtZCuFJdpYAR
P/knGAjJTXuK7ymz7mQrBZw4RXZJcFEL+Fe2Tr+jadm+Oo1PHLzK0ySI0sQDswbeeBLOvNlqlHvh
ajqa5UmWTdP8Lz2v1zC7mr3G/gU3jUmfXtg8wF9rMDWsDfdqHzu13zMtvZinYnzfdC143CoYgFZN
vm/Hnc4hQjst/lsezw5rt4HcqEbH/QNEU//ZaRkAu7Vm6ndgkW43kL4oQoxKUd1xGKM3b0knTVNt
57degcZHx4W8+A0AAP//AwBQSwMEFAAGAAgAAAAhAJe5ke+PAQAA+QMAAA4AAABkcnMvZTJvRG9j
LnhtbKRTS07DMBDdI3EHy3tIGtpCoiYsgKJKCHUBBxjZbmIR22Hslvb2jNMUUcQC0d3z731mxrPb
rWnZRqHXzpZ8dJlypqxwUtu65K8v84sbznwAK6F1VpV8pzy/rc7PZl3xkLk5glGMKKwvupI3IXRF
knjRKAP+0nXK0tnKoYFAS6yTDpVXNkAgOdMmWZpOEwPa8ooI7eYRoWu06GmXGPfE82aJTMuSjzmz
pFbyO2cDcbBlC0I1rpUK2RVPhts/KaCov5E+OfHmB8PwF8MS4YNqceSVWfeIFHcURZPe40/VGGYf
oGvI/ZbsZ/k4n15n+WR4tb9Az3+LvV2hqWZQuNXqZLdRfHJNpeZsR6anaRoxWYdCbcPJ9IL4b7Is
J17OBCmMJ9kkn/YdoXSHJEMXTpWLrgeqewjA1qj/0UapgUgMTZ2sTYGqXcjDVNDGCYRDPPwLBfVW
C3XvxNrQOO//Alnp/4ZvdOc5w0KSG1zIUcSt63EW8bvv8VXEYo/H/WAdlYfG82vdj+rhz1afAAAA
//8DAFBLAwQUAAYACAAAACEA0jPc+R0BAABmAwAAGQAAAGRycy9fcmVscy9lMm9Eb2MueG1sLnJl
bHO0k11PwyAUhu9N/A+Ee0s7P2NGd2FjssQbdf6AE0pbMuBUYGr/vbjpYhNWvdklPOE9T3Je5osP
o8mbdF6h5bTIckqkFVgr23L6sro/u6HEB7A1aLSS00F6uihPT+ZPUkOIj3ynek9iivWcdiH0t4x5
0UkDPsNe2kgadAZCPLqW9SDW0Eo2y/Mr5n5n0HKUSZY1p25Zn1OyGvo4+e9sbBolZIViY6QNiRGs
VtA6MI8bJdbPYdAyhoNrZeD0G3n2uodFFuUpS3vNjuD1AANuQsJJb8GkT3EEnwoCJGzqeD3pcnnA
xSjh0GMTMoGG7db1tabrcRN+1lQ5eI89TBnsyKTExQGJRCn/XZw71Oh8Qkhswd6HjX5H+QkAAP//
AwBQSwMEFAAGAAgAAAAhAEG2yJ4CAQAAfAEAAA8AAABkcnMvZG93bnJldi54bWx0UN9LwzAQfhf8
H8IJvrlk3Vq7unSMoeBABnbCXmN6aYttWpLY1f/eVIX6ssf7ft19t94MTU16NLZqNYf5jAFBLdu8
0gWHt+PTXQzEOqFzUbcaOXyhhU16fbUWSd6e9Sv2mSuID9E2ERxK57qEUitLbISdtR1qz6nWNML5
0RQ0N+Lsw5uaBoxFtBGV9htK0eGuRPmRfTYcJDvsc7PP6pNcvmyrWJ2O/U5zfnszbB+AOBzcJP5z
P+ccljBW8TUg9fd1BmVl8VEplO6glEVnR7wmvqnv6Q1xEKwixoCOuBvxxfw+/KGWYRCuosUvZS5Y
3if8n55e2u2J6WnpNwAAAP//AwBQSwMEFAAGAAgAAAAhAAPAojwRBAAA30EAABgAAABkcnMvZGlh
Z3JhbXMvY29sb3JzMS54bWzsnF1P2zAUhu8n7T9Evh9pGSBWERAfq4SE0KSx68lNnDTCcTLbhfLv
Zzuf7aClsbs0xdyUJsqx8+T49fHxSc8u5gl2nhBlcUo8MDwYAAcRPw1iEnng18P4yylwGIckgDgl
yAMviIGL88+fzoIoGfkpTim7QaEjrBA2Esc8MOU8G7ku86cogewgzRARZ8OUJpCLrzRyAwqfhf0E
u4eDwYkbxDCiMAGFEdjCRAJjApwZif/M0G3ggRkloyT2acrSkB/4aeKmYRj7qPiAlMumj91TN78F
F/o+Inz4+xCcqzvjMcfIeYLYA8DNDwWI+YtHfMjvGM/Piv8d/pIJQoUp4GQ0FkSHoiFpwlXAGlcw
/oLR3QQ7BCbiMpIGaFC0HsYYX2MqjDsJ4lMPUJQhyMVZOFJckTib96VsrWyhvjTvF47JOy1hPqz6
WV2VG0FhiHye2ylo8Pldabk6Mq66XR36vnilglDeeG67/FZggDiOyL1gMeySxTLV7nhIt+gUxW64
Be7eJ3YDxBMiuiikikCcTWGuIMcD8adGfkNcCr3qu5rI0VNKen0vH05UJYavXerpbowdieHIYgij
2yT6gaGvM7FIEeEx4X3RkLVjvumifF6HMnmUwuftIhlL+t+Q1TjpiXXoV1YGxjGzePJAIWGHNxoB
6aJunGwl9iij9/e31V18H0Y/LVa11K3WjLX2Voc2Ft+JxVqs+yuGJrCWEjDUkQDRI5UHqAPyTVMV
5QAvLekO37XBAZ/XuREjwYEPMU5nMqMj00I1ibU9Wb71+tK2EBdVctVqsH+YIWPcJtWAxKAxZ5fD
rL2vNWMRXS+qBG3jSUFisNkA5Q02G6Aw2GwAyCC9ntq4Xuy1VMIyrvYx1k7HTWEzEhg0H0enWrUc
aOjKdrcoO9W7/ULZqWbuE8odWUSp1NEUBsV296qUzNY1wPg6q5bT4c1OyOmHob0TirtE+3RFurHf
vr0TorzXtMPo0vdbLKJlhCjBNHbcv61ww/Zr7P8+NQaPppNiKRlbyksFXsYpqwor68uyPLEuozNO
mdNLWclmjPOR1Yw8wb1ULzixgrFtwWApjgMdYdbPH/d/blMQNSXBcvSA4nilMegtRA+oWHacii3I
53u9+uK3Ittmcdh2py7dHmx93Wc8tCgDOPsAVRlB/x6gilns0+vp01Pi2aKowCYC5AtN5fRbhvGv
BvUKcYt0rUW8GeIWOVqLeDPELRKzFvG7EYsyz2nWvohOxo71SwzbjVNL4etfuBI8XuljZvUO46pd
mB6lv+UwLR+qkdIPTg1wrt25quRc2HvYEyc3Dl/U4ZtTklV76O09vHnP/VMRip4e5ptL9SuTofmX
VeUSfSmP8FYjWwevVwKh1lT5bxqIn2U4/wsAAP//AwBQSwMEFAAGAAgAAAAhAFnLpJrbAwAADVEA
ABwAAABkcnMvZGlhZ3JhbXMvcXVpY2tTdHlsZTEueG1s7JzdTtswFMfvJ+0dIt+PtLBNqCJFfKgS
EkKIsQdwHSe1cOxgu1DefraTpkxioqGEOeHctGma49T+2ecc/+306HhV8OiBKs2kSNB4b4QiKohM
mcgT9Pt29u0QRdpgkWIuBU3QE9XoePr1y1GaFxNtnjg9p1lkCxF6Yk8laGFMOYljTRa0wHpPllTY
bzOpCmzsR5XHqcKPtviCx/uj0c84ZThXuEB1IfgNRRSYCRQtBbtf0os0QUslJgUjSmqZmT0ii1hm
GSO0fsPKuFv/iA/j+yUjd74asWZFyekYTX3VDDOcRg+YJwjF1amUavL3GYLNpTbVt/Y4Mk+lbaKq
IBSVitkWHY1HI1dC7BrsuYEmVNCDdHqE7emCKmwNtEmQVGYhbYuUC0ZmSgrjrPGEs3xhblgeKWbJ
mIWi9NqgKGXKfmpu0BTa4Lmc80jY8hMkZEpHdfWa67q7eXmQ1g1nVteqPvRN7asjbmy/YekqQfv2
N+GJJiqfn3EV2frYTmjraF/n7tU1nq2/M3AXZozzxtbhet22NnGX0iyjxDT2rj1et2+M/P0tksa+
YEKqugzb4amrgO803IzrH55V19c9oG4A3xv8seVTdaD1p5oWF1eW17o7Aq+qr4TL64EKIPaRI8ys
dhxh2LpUQPaRyHZ2ii6EgUvsSwhztFxw97lI99kOJBxVpvTGhMPROgBaPUkPHa3vQKsntLL8osiv
OSYQvZq51Hsm9M7xNTPe58f/ml353A+Y1FPqMJjMYZA4YaOzhLz1INFsfquw0PvnIebc20kBn002
yvJfQK3TYeTGp1e331HsmwO1StXtzPl1QW3tH8dB+sftpPGX/eN2vrVrWb11wCKYc7k0MC3qYFrU
GgbW2rh+BOrPZrlou3HVpOPOadVqTjVb6m65ydEKMcuDxcHNSvtmKdfRAmW1Lzq4owXKap9ogbLa
F1olVmeLgFUKiF8vxa/n1CCO9XGsQTzrIzWIa/2jFqa6tEtc224WHJy6tAla4/OhBa0BIBlaRBoA
kqGFm54iyfITQkDc6yL0t1bFiRQzwNHVgxitcfh9QDA6OnoupjUOo07cpvxAgeyyorqdbXA57xx8
VTC+SkvOUggenW0Rae2tPJCQHdYuk/SeOizP5BS8VjBey08+ZtJuzHm8gqe3Qkm01nkvgPEPk4cT
U3zCBVQCo+KdmFN/YDPbe29ma511eRZD0997mm15FkMT3vvMYmiKe09Z2Oc5FmWA4WK7BYyXnwno
KYr07hRghDLtMApgBDQzD9NJfULVStGH29XA4sV2seb/rnhs/jTA/ovh9A8AAAD//wMAUEsDBBQA
BgAIAAAAIQBvzLwG1RwAAMorAQAYAAAAZHJzL2RpYWdyYW1zL2xheW91dDEueG1s7F3bcuM4kn3f
iP0Hh963LFL3inZPTGzN7G5EXyameqOfaYm2NaGLh6Lr0l8/CYCQEmIeUglLLtauXrrLEnWYOMg7
QPCHP31Zr24+5cVuud3c9ZJ3/d5NvplvF8vN413vf3/7639Meze7MtssstV2k9/1vua73p9+/Pd/
+2HxuH6/yr5uX8oP+cMNoWx27+mzu95TWT6/v73dzZ/ydbZ7t33ON/Ttw7ZYZyX9WTzeLorsM+Gv
V7dpvz++XSyzxyJb9yqQLAJinS03vZuXzfKfL/n/LO56L8Xm/Xo5L7a77UP5br5d324fHpbzvPpf
VpTm1qPb6a0bwu3863yVT3s/2mGVy3KV33zKVne93q37aJHv5uEn86z8aVe6b+nfN+XXZ6LH4vRu
novlXW/S7/fN728NVfzyXbZ+/pCV2c3LLifyiPbqxgv68OftIl852Gdzh0qA+8fqH5+ftqvco7If
2Lt4ZPf7Xfl1lV/oRh66ImBVmPu4P5hQZuR2FH5AN2szPDNFpGiOssV27ll+Lg/fJ9KHqfThQPpw
KH04Mh9aophQ8y+bw0R+2RwkmJDmF/NKVlKA0vwzsR/+WrgRmE+rf1fTQ2gHBGM7NYT0gEBgLQgz
CWFwQCCwFoSEiK4LMTxAEFobhBv0EROjAwShhRBO5Rmxp6nvnKuRs8xfSF9uNtna2NZ2/bzdLcv8
41P2nFcm8ykrDrP39HP2xVnpxE//YllUM1Pku+Uf+X+TK1vlO3dV/iWbl3ud4FDZ6tFbtL9rdcPn
jHxV9d3Ttvjjz6vlI/ke6y3mZeHvyy8j91ryy9bLhXRZVlQwVvUthSRGZcpmyJWDLE5xkM7ffdjO
X9b5xnq78W2Rr7KS/Pzuafm8690U7+9Xy2fyce4W2eIfzt04T2JuWFktMffrg9fvp+1252fkF5qX
fvXz5UM1TeZDUpjsy3JHc/ZEzrD8zfrGDU1l7+bhZTOnzzdl72ZLN8//+bIftbvdnAQs2aTaPyvC
V/T7LY3fwNI/zK3uep/zxaO5Y5E/uBt9pi9pYsnHvOtPPdMOtsKhm58Fx9xJJc9075cCedxw2sZl
rqrGBXBEfhYv6/XXJJMJsi7RBijOs8hPHYcJBIhuEOj+TAJxnEiBnAb99kWWKN1HnWDORI4EJCYT
QGrQIiTTaCzqtbkX0McAicmkQcqKYvv5d2tuO0rgVmTOCqOjPI+SvLp8J6JqVP5ESIXyvwqR0sH1
X7eb8uMfbPyhW/S+0CcozAtaf7x8cN4xcLMU/dVuNq38NbtBzfxFq21ys/tk7VQLUSlOg33IOEBV
GqyD4TDbADgiPXXvyMLQSOFC6kBMovO5WbVEwM/OZCCRI8E7cpJGM9GpRTjafUkQ6GODHgXekckk
AzUoUgDEJk6O+5glMm3Rtcp+H1OEcOS8CDMEcICFYII4DqMH4Ij8WANJQT4zlAcmElQHYhJp9NoB
3ctTppeIAzGJgO0XLKZQcGU5cRooI9Pq4VDrsEMoJpRsIA16hGSSgcyd5IQGSiRbmgjEgro8d4Dy
EzIZGU+j5q3CxWUvsmAyVgtp3JaZdkWTBvDiSANg8kBF93CYABXWpZI96tOok73BJZK9/mwiG6vI
YlPa2N+3aU6N07L2Ag0R1bcmj7nq7FV1oqGoOeOTOcKRMbkHJE0Thdd3MnEoxpNCpJaUT3bWDYoU
hA8mUgrCLI5ESQDF/Jes3A3KFABxmWRnI06d5Qn4GeBQMUsAR55+zBCAUVsbx2H0AByRnnqqxiZs
Oh7IGikyVIdiMgGzbZDpXra2ZDCW9ahBJg4VKZNTo0AhGVGpIjkWkJhM46Gs2w3KhIQCSOZmyswP
tNfEybPDo5AqF1mpQp8akWQczBKQCJgK5ojjsGkDOCJD1k4GoMxKkqmiWK9DMZlkihpE4mbClHs4
1cyaE4lDMZFAXlJAlRxA5dbW6yESk0kf4EIoxpTsmMy9ZIMLgbhMshMQkQ7ZtG6p5lpr/W4a7ilw
VbJHbycN4GkcxGFGAZisHWIAjMRq0TTuBZn+g3yqnTSAF0caAIsiTYV1qQJ1GFGgDi9ToKr7W8gn
jUFPGkdwgAR0RFRgm1FwHOZyAQ4Ol3DhN9GQZMNlAMVk6iOWGqS6l/3ZbKCXikMxqYZTMHeiVI5z
FMZHZ6xTxTWOBn1CMg3kcq5BowIkxlQqJwSYJ+Dv+zPN5FnGtUiYJ4AE7AWzxHEYRwBH5MgaC1qg
iNDwAIrJNEIm3CDVvWx3EEqM1m6AHIpJBQcoSuW0INBMFqnVdgdXBUayjjfoE5JJbXdQJrXdgTAP
/a84eZZxhIQsGPMEkIC9YLvjOEybAI6oS66my2QNh+FAJKkOxWTSabiD4sbCFFw3dXUoJhU04eLE
wo6JNTxb2aq2u7DYZDKp7S5EYkyp7Y4yW7lPBDIMUaWs3XEkJhFUA2x3HImxBOzF3Esu7jkOkwjg
YLsbAruDQxNJshoeQDGZoAk3SAXsDkI1SMWhmFRwgNjuhii2qO0uRGJSpXLG2qBPSCa13WGZ5Bhs
pK7p5qEhwAshpujRRTzA0yh8q3BRRTwQTMZqIS0FHuvaLmrQNJ6CnEPTAF6cpgEwWTtEL3bQWhVW
i6bx+HEO0gBeHGkALIo0Fdalemz00I16E8joMj22RPYlpeTNbe4D/Ft/PJCRcKwCSEBHRAWuSWSu
Ov82EA1JNvfBPTbAEs590EaQWZLIe3bFqXNSgdxnAAp0UShHOUozQKEgyiQgselL+7J9N+gTEgqs
KDZoVIDEhAKKgIlCEXymWHe1PCGg6VjWAkwTQFKbHcdhFAEckSKrlUFfjMWeWTKVNUBUpjoUk2kw
GcuJdINU93LuNUFd8gapOBSTagrqBFEopwSBXjKuwPBEmQQkJtRQXshvUCckUyrPnrlXLXtrlknW
cEwTSIxArYFJAjhyxx4zBGCAoWB+OA6bMYAj0mOtBO0GmQzHCq9Uh+IyjWZyNtAgFbcSptrpCJSu
4rw5qThUtFRWJ8PuExMLxHFRKAGJSQVIb9AnaHGykzP3ki0uHB2TSb0Hayh7y/5YNhZMEwdiAvX1
cY4jsYkD5oJJ4jhMIoCDFTzohzGBUv1iaQAVyCR3fBuE4qbChOpPE9l9izNnrW7IoZhQMPgWUC/D
3hMTayCPTxTKWl2IxKRSx7kQicmkjnMhEpNJG+eojJQb2lMZCdPEkZhAEUUdR2IkAWsx95JdE8dh
EgEcrOCjDJA0ncoRSiTJKngAxWRSlU8OiZsKY2k41cxcHYoJBacOW90IxRVgKyJT1upCJCaVvqgL
oRhX6qIuRGJCgaLOXFHTzUP3DXQvQJLZvisN4GkUvlU4hUuPxGohLUXGKG6naScN4MWRBsCiSFNh
tZDG835mANGaBvDiSANgUaSpsFpIG55Z0wBeHGkALIo0FVYLaTzonkPTAF4caQAsijQV1qVWAcYR
qwDjy6wCiO63lAKgje8gVvXHICgbXaqF0iYkoCGi+tZwzFXnXwM4nSKbl+EVAMARTmHRCsB0on5g
LoBiPKUTjVSOcZQtnm8JINH2IuHDoKCf0aBPwegYU0AmcfYsTyAT0PZFAAxIArDBARy1wXEcRg/A
EemxdoK6/9OpWrkDKCZTKnc1G2S6l5OHGJk4FJNpIs+/KJNTo0AhWXAey0aCnTfcyDqUuwYNuoRk
AlvzzPjlMABlSsZyfMdEgSSyLysBpgnigIeLMU0ACZgKJonjMFUCOCJD1uRQ/z8ingRQTCYKJ/Iu
sQapuKUw/R7JliJOnBseB2IyzQYamazRhf1xLpQ8OlEoAYlJNQYK3qBO0Opk+zU3k60uHB4TSh3k
hrLDBE/gYpo4DpMHnlWCWeJIbOKAsWCOOA6TCOBg9Q5a9kygocIvWfUOgJhEOvV2UNxSmExJqj71
ADX/oSMooFaG7XEmlroNGSIxrvRGF0IxodSZZYjEhFIbHShi+9o1Eo7D5FGnlhyHMQRMxdxJdksc
h8kDcLDJBf16JlCSqNU7gGIyadI4a3IjZHIRMnEoJhNId7HBhY1xRtRAG+VCJCaTOrUMkZhM6tQy
RGIy6VNLatiI623aDJzjMIEi2icciZEETMXcSzY5jsMkAjjY5MZgtS0iogRQTCZdq8Ia3ZhbCqNJ
HXsDICYTnDlsdGOUxamjXIjEpAIBxRAAtADJpA5yWpmM1DWZWpegQIRqXzYC/UuNurcKJ9etYuob
idVCWgq8lbzs3U4awIsjDYBFkabCaiGN19jMU0RrGsCLIw2ARZGmwmohjddI5yAN4MWRBsCiSFNh
tZDGs9xzkAbw4kgDYFGkqbBaSON5yjlIA3hxpAGwKNJUWGdcoMxXwWthJhdZbpxOtRkzCNiUd4nL
ckY1aumE7cMBIDDhojbWcMxVZ19v7Gs4slluw4qjSBLO4oNVQmZm+iWZAInxlKZ9ua0rCuUYR8np
Gdcb5f3TDdqEZJLVskGdAiBGVCI3czBNIBnqz2YKP2QJR0iTkYyEaQJIaqPjOIwjgCNyZC0lWCjk
+j2caLuxARSTKR2A5csGqe7lhH0GGjql5OTc+DgSE2oETvsUZXI6EOglo+p8q47gQYoGbUIyqVtD
eNVRdgSYJ5BN92fgvUzi3FnGIRLYZo55AkjAWoyayCGT4zBlAjgiR1Yrg7VCpkqzVL/Ex9tMTKZx
Hxzl0iAVtxUm1Xim9gUDDsWkms7A4rMoldMCpOPjgex8GxQqgGJiAaoaFCpAYlxpox1edwShBRMF
KjJQr2OWOA7jSE5SMEUchhEEbMXcSLY5jsPEATgiPdbmgsVCJtB4Clp6IkN1KC7TTC8VNxQm1SCZ
yM2pBqk4VLRU1ubChTkm1rAPfK8oloDF5JrI+Zy5G9AEZHQJSOjMzU6BYkIl2nAHSvr+eCgjYaI4
EpOoT0FBLFowURyJTR5QTswSx2ESARxsesGSIRNo0E9lryKSZE0vgOIyqQKLg+L2wqTqT9SLIcFS
JpMKBuECama4RsfEGoDdMSJX1vJCKCaWOtyFSEwobbgLgZhIiTrcgbZQnzgXzQXzxJGYSH19dceR
GEvAYMy9ZPfEcZhEAAcbXrBwyATqg8V6kSNrLAESE0lVRzkkYHbJSO0M0BokrDix2YWrdIwq9cJ/
iMSoUld3IRKTSV3dhUhMJnW4m8iFOSmUdoMER2IS6fuYHIiRBIzF3Eo2Oo7DBAI42OgmvCJjAum3
tQRITCRdy9Ba3QRY3XCmmbg6FJMKzRw2uglK6NQL/yESEwoouJkWoAVIJm2owyLJea8RuiZS63I4
qO7al7B13X9R21uFUwTiSKwW0lLgreTSqp00gKdxEYeBArAo0lRYLaTxJhdzX9GaBvDiSANgUaSp
sFpIG55Z0wBeHGkALIo0FVYLaby+PIemAbw40gBYFGkqrBbSeG1wDtIAXhxpACyKNBVWC2mTM5sn
wIsjDYBFkabCOsNmCbNJ4scfbheP6/fzp+3W/GH+Xbys8p925a37y31zs8nW+V3PvM57Wu2lWD6w
D2cnPwP+WOa9m0/Z6q6XVECr7Ov2pfxlu8grQNsA8d9mq8eb8usz3Xz3vO8NWGnZ7ZO+JBS9YVZ/
Pq2/7+4pe86rO+er1fJ5R3J/Wa82u/fFXe+pLJ/f397u5k/5Otu92z7nG/qOcsB1VtKfxePt9uFh
Oc8/bOcv63xT3qb9/vi2yFdZudxudk8ER1r9/p5w73qV7NniH452OyP2/tXsLB/cXASU07Gp+tGl
1b346J6XbzMyNwYa5c1y8cVMv1ODdNL387r/joZmVWRmv7J8OHYqQtrJofxAfTSxfz/1d0LOIJoc
ygPU5Ph3o30n5ERzQ+FezY0/0/o74WbgHmOJMSuK62p2/Fkf3ws7Grs62mdIjyo4L/e9jDVN3g3T
qW1qNKsDyBVq2QEdQibFKsoPHl4287vep6wgFSoe73qLJf1rS+Ev/+dL5e43FD+rnz8X+e7Xh72y
3Szoz+Jjvnro3TyXv9l8YGMzBvpP72ZXUjy5oYgy39h/Hazfh86jiUp9wlAbADWyhQHQMvNellAC
PzC68/FwPNK5xxKkAdRP1kvm0wC9ZGkjy6FkMWHGx2C9ZAOFZDFO3gdAvWRDhWQxDtaHH71kI4Vk
VJ1Eu369ZONGyY6t2Tsd/X0m4n0Eb2fdo/C5rZ4opS+LQ810qKDsrw4FjvMsh7+rEsa25s2+5/X2
U/77sny667XWQC7CvH1BYsbraPYFoh+8G9zc/lkVTp/3pV5wcfUt1f1VIUjfWqbcj4lIhxXH4/2V
x1fy6JTPLKYAhaQovp+k+dPP2Rc3kTbsunbC3+gJ46MP719Wq7z8yya7X+WL45nniIeSv/ziS0Oe
UBX5nGLthVT/5mm5yP8r364PDQqxMHfDNF0T1oegLc5C8kAJZbeyHzqJvjLW40bKwGcGQSSndXS9
7/f30Pvk5kwulCwmx/Bj1EumyH5og6ueszfJfujwcb1kb5L90LMGesneJPuh/R96yXzhq9czVfYz
8E5Hf5/zZj9CAlD+TLUe698HXevqYTN5G+F99C9X0b8son/Jx2VzGrfhryGpOWQ4VTZUgyAH4p7H
+yX7hSJxRj1T8y+fK1XJUZU5HXLKo57xUao8PJTGvOdfK4Pp3elCJKPG0almcOjze3d7EJH3+f23
h6Df0OcfegcZBAHarXuqVIdeg78vTyy+cSfcdbtNYlFrhFdNcqtPuk748DVxqEPkuK6cSE4yOii1
kpzXhMIOkbNPvGuKE72CQtu49EblY3GHqKma3aLiuPcFxhjVa9KBLpHTYFWvaIPTHnwXPLo0VNbq
FpUhSd9NRxO357BZJVAX6LiYIrckxFB6SvDi1WBznXKUEox8KKwlAfRIujSA14RbfY6qqAbpOQS9
z/Jj1EvWzHKQotDzs3rJ4msuRS989Bo/r+dM0QsfvcbJ6iVr7oUf24z3cPr7yLWd4FOsExI+N95r
3+Cr+qpRnVLz0P9Rg8+7Aikbd878Qm0352dc9uYrHHtD94WjuRrsfvDuO/fnN+w4p/WO85VHv4fM
avGh9HNTdvg7KAWFjrMnkveHrx3nw268sZhj0Osqu5Vj0AFHlbEeJ0l0hq37JoiX9CJgfbz099D7
ZEWOQY0dvWR+jHrJFDnGuLM5Bp2youfM15J6zhQ5xrjDOQa9UNdZhp6B8+YYleXyhd1rX5flYI6f
fT/W5Gfmjzft67pNtDbYNvZ16eFhwd1OYvq63qnJwdx/K2WStUKT3mghSRUTBDxSh1oPVX9S7DrE
N3YnMYHIl5QdYqeh651MYxu7dD5JfMTpEDmuQylqDp1Fvl8L0nW9JzHh2C9mdoichualpu19VNrT
2T3OF3VopLw3KSrDePguNd3Ldo1ADYXjvJyODRNcMhnkxQuL5ubV0WxNfTyrxRR6BbU0gJitLD6m
6BMxRWFBz5/pXZb353rJFIXFNCbSxKfvzfMflIm0c13Pmfdkes6aC4tjzfTPAujvI7ciBcu9eIvQ
HHZ41CL0xiAlds5lXluE/GlGu7nXnKl45bHaJe3csrZlbTel2iMXAZHXFqF9fLceCH1CE7rON3gk
p9mTH/lLStmcYtQGMPMxPhjA7PSa9bDrxzsvvU9WRPJZTI7xJpF8FpNjvEkkp1MgOxvJZ/EZw3kj
eWUf10YcnR7Q1Q2WM/tOiPZG3Ez0yrOYgxS865Abcf5bKV+rudqk771w4GuTPi0oqZ/+8nfuUiHt
OkpiDR3fikv6MbHI+9Uu0eN6SiI9CWmsX5nX9ZuSfkxA9E63Q/Q0tSo1e1CPMp+k30FLsR2lw1Gj
tY2lSTJ6R7vl7MmR1ttBnRDqVqNggu/xFnHke6jIv/TD46rKPqH3QYNUNaGT1txXR2M43a8fklWv
FRdNVhM6O0fv2v1M6UVT9J2SqAN8vN/Qi6YqVxI6f8fNtP5GsrYJdnLx/o45WP+onPZaJ+UL1/7O
+1qSZfs75r3hVx5f39+xLy8ARF77O3J/J6FTgKWYQ1vZOxY3Ex826rGfXhAmjiFmqdJ7ML1jVjR5
EjrpprNxMybb8BOgZ00XN/dH7+hvdN646fQt2D183dbUsW1NiXuvQHs7JaETmiQHojge6fDEqndT
tVhv1yD8t1KCVHdsqfdGYUFA74WJ9x4dKomrroDYMXhFQ4X6EHp6vAfrEj2uLSDTQ5XXyQ2V45ZB
6kvQLg2WtQTEESfjybtk6N4DeaaeQSrX23SPi+c+cm8fHDiX0GalKuAc77RJ9sexhC6CzmLR24B3
Tvrgqsl9og6E8eapF625Z3BsGgPvcfU3kjOZb1GYm3dlHdVBfmqluHMtzEFhbt7udeXx9YW5ffkX
IPJamIPCnM6AknJScwDTpRvayuDks4l6/konH4ljiCkxPR16x6wJTnTEjT5uvlVw2p+ro+fgvMGp
Skauewk6vJeAcuV9heAsE6WQ8sFIieJkpEP1601Brn79t1IWUvcedPqQ5D2G/0fKu9SVcGKxo6p+
j3NYOn3H8dal8o5Vb/KIk+m7856gkgzl6EMHzFw8gsrPUKLybn/WS90G6MAXyQbo2JW3DFPNEfRY
//Ynv+jDlFysfYsayrz39ChlbfJe1xoK1FDmVa1XHl9fQ9k3uQIirzUUqKHoCUjRe1L//NI1lDIC
eN8iRAAfzcMG3xsfcKSMAP75v28dAdzsX5fpzCvTurrpOaFjaPxSRnOhQifTSOZM58OcmgwdChVv
VXKh4r+VCpUOZdUpS5rlrJod7SDtsTQ/qrsc+VidxJyrc2m3KR8qjRJnUmmnEHo/Izs0IdO0FNlO
xyvf0WFe6n0UwNvV7Po4ZO1xSPNG8yuPr88o7XvKAZHXjBJklHROlhiCaKtZx1yjb368lWu8plrl
xz+qlxJ1N9WanZhqUd4g6Tk903FqqnV4FMFnbfSG279k8yf2yptEPjtqt7z/rcg2u559n85P2a60
f971aHHGvaSvEq6WvGVFsf38e754zJPdcvO4ys3r/b7ScZL3lAA/PH6sgNMPXqZ68iMfJ5VM1MnP
IXek+mPjE5WsyNbV4V7m47/T24srpVltN4//+VJ8ys0UmazjmV27K+bmJcfVpf6dX8KFi50NmMGF
9xLiff74t5Iotm+cKH+SLsk3C3bJ36VLCOVj+bVCIfalawjmcM1m+2d3ldvDs3psfuVEQidVOTb+
/9G5p+pYGQJCK9KP6ASJLK9drFZe6k1Y1ZxJb6W2o7Fv6KzU15Xnh3eC8WXFz5Vqgfe8kA5nC69z
DqcyLqO77iu3/9Nn8E6whvMj7OWVqzrSzbADozgm7FB2+o2mki8Ut6ufxRdGeEGfPhyNWb12ojXb
eYc9oOgkAw/4GpNFRS49dRznAb9vKl8TTK7e7wLez5DKczc6PU1q2wmejU5TE7LGJs9m3slMPzo1
2aNLtWneVH7uyRykpivkLung6JD901I8OkVeuFCd4n0jBxeb4mkcXPeovDo4elPxN07vTC4qOSxx
i1Gbw6KDKk51WHSp2mH5ZnGYkU3pScLuOCw68k/wQ0JNSmfaCRd+Lw7LL29e0vd3j8qrw+qsw6LD
ZSIyLMp1TnVYdKnWYckn7yXm6L3uOCw6w0LwQ4LDokMahAu/E4dFhwpevoTsHpVXh9Vdh0UOpX4m
XFuGRfu2TnVYdKnaYfk6JMyw6ATHDjkserZP8EOCw6KH14QLvxeH5ZPdS2ZY3aPy6rC667DEE1va
HBa5jlMdFl2qdli+DgkcVkrHcHbIYdFGesEPCQ6LdooLF34fDiulM04vn2F1j8qrw+qqw0rlY2Xb
HBatQZ7qsOhSpcNK6SxXZyVHDqtTTXfapyn4IcFh0UZE4cLvxWH5ZPeSGVb3qLw6rG/vsOwOi8PW
rWqThfvgQ/7w478EAAAA//8DAFBLAwQUAAYACAAAACEAz1mvPuAAAACQAQAAGQAAAGRycy9kaWFn
cmFtcy9kcmF3aW5nMS54bWyEkMFuwyAMhu+T9g7I94Vsh6mKSnrrblWldQ+AgFCk2CCM0u3tR5tk
h/awm+3/92f4t7tvHMXkModICl6bFoQjE20gr+DrtH/ZgOCiyeoxklPw4xh2/fPT1nLqbNaXahSV
QdxZjwrOpaROSjZnh5qbmBxVdYgZdalt9nJZwlG+te27tEH7rBFWCKcHCAaTI8ehNCaijMMQjFsx
V8jmHqIfEP+/A3Ug6G/f4nTKzs01TR85faZjnltzmI5ZBKugBkUaayIg/6TFWgfyGs/drp9Bq7pe
uVmXUPpfAAAA//8DAFBLAQItABQABgAIAAAAIQBgJjcoXAEAAHYEAAATAAAAAAAAAAAAAAAAAAAA
AABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADj9If/WAAAAlAEAAAsAAAAAAAAA
AAAAAAAAjQEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAE9X0idwAgAA2QUAABYAAAAAAAAA
AAAAAAAAjAIAAGRycy9kaWFncmFtcy9kYXRhMS54bWxQSwECLQAUAAYACAAAACEAl7mR748BAAD5
AwAADgAAAAAAAAAAAAAAAAAwBQAAZHJzL2Uyb0RvYy54bWxQSwECLQAUAAYACAAAACEA0jPc+R0B
AABmAwAAGQAAAAAAAAAAAAAAAADrBgAAZHJzL19yZWxzL2Uyb0RvYy54bWwucmVsc1BLAQItABQA
BgAIAAAAIQBBtsieAgEAAHwBAAAPAAAAAAAAAAAAAAAAAD8IAABkcnMvZG93bnJldi54bWxQSwEC
LQAUAAYACAAAACEAA8CiPBEEAADfQQAAGAAAAAAAAAAAAAAAAABuCQAAZHJzL2RpYWdyYW1zL2Nv
bG9yczEueG1sUEsBAi0AFAAGAAgAAAAhAFnLpJrbAwAADVEAABwAAAAAAAAAAAAAAAAAtQ0AAGRy
cy9kaWFncmFtcy9xdWlja1N0eWxlMS54bWxQSwECLQAUAAYACAAAACEAb8y8BtUcAADKKwEAGAAA
AAAAAAAAAAAAAADKEQAAZHJzL2RpYWdyYW1zL2xheW91dDEueG1sUEsBAi0AFAAGAAgAAAAhAM9Z
rz7gAAAAkAEAABkAAAAAAAAAAAAAAAAA1S4AAGRycy9kaWFncmFtcy9kcmF3aW5nMS54bWxQSwUG
AAAAAAoACgCbAgAA7C8AAAAA
" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0032_image081.png" o:title=""/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" ungrouping="f" rotation="f" aspectratio="f" position="f"
   selection="f" cropping="f" verticies="f" text="t" adjusthandles="f"
   grouping="t"/>
  <p:placeholder type="object" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_3"
 src="slide0032_image081.png" style='position:absolute;top:23.32%;left:5.03%;
 width:90.06%;height:65.9%'><![endif]></p:slide></div>

</body>

</html>
