<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Sign-On Form">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="splitOut" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="6"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=14)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_6" o:spid="_x0000_s6146" type="#_x0000_t75"
  style='position:absolute;left:284pt;top:2.375pt;width:434pt;height:540pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0003_image007.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_6"
 src="slide0003_image008.png" style='position:absolute;top:.35%;left:39.47%;
 width:60.26%;height:100.0%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s6147" type="#_x0000_t202" style='position:absolute;
  left:30pt;top:99.875pt;width:3in;height:94.5pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13"
  adj="16200,5400" path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s6148" type="#_x0000_t13" style='position:absolute;
  left:186pt;top:378pt;width:98pt;height:30pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAWERA
Ff8CAADmBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVV9P2zAQf5+072D5dWJpS4e6iIAAie2hQlUL
H+DiOG1W52zZTmn59DvboQU2oWnlpb34zr7f/e7f+eW2VWwjrWs0Fnz4dcCZRKGrBpcFf7i/PZlw
5jxgBUqjLPhOOn558fnTucmdYXQZXW4KvvLe5FnmxEq24L5qI5F0tbYtePq0y8xY6SR68OSoVdlo
MDjLWmiQX9BTuFmYmQ2SuNvMLGuqgn/nDKEll/NmufLsylr9yCY8663ChSgjXSAhe/mKi69Bvq1t
24OEfwFZWXikyN/gg1zXNdsWfHR6NiLgnO0KPp5QBCSTa8jl1jNBBsPReDyajDgTZHE6GQ6SQZaQ
BEtjnf8h9dGoWHio4DZwE6khHiGHzdT5QMbBUWQm8UEp8zslg6HCuaSQYvr+mxlKUyAleo6ZlzfK
sg2ogoMQlOxhUq2gkun4GxESKSOA+xsRbgQUkNWNUh+GrQcQqvJPbImn3l9wLetaCv9hzgfvEZOc
7z3GyDV+nPO2QW3/BkBRVvrIk79UIKkwTO6317raBTgl/VMrHlsj1qsbTRVBXQMoVtoWXHib2kY5
vwiOj3VC8VDBH/tKfIQibsFOI14S5lFQmxRAgxVVdYpFLWlehkhYJet7KBdPNLKG43EYDxRzNJIw
xWu7prnAWU1sX8VL0HnNmaJJiL2arqwAlzR5Zh0KcpDqVuHCiIDKGTETPrVQmCn7HnppcS3rZ1vv
ku2+1Yw4aK9q/45dry07auX7bSS27BZPe/GWwth/3NFKiCYeyjR4ICc25mkgU0rCTKe+wmoGFuiY
rbu2afWvJtFKMRdc4snDgpYM8TekmcpZGZXJpCs4kpOwg2yzpmWAehElztbSho0V57EA2kG9oRHx
PpV/C6p5kj/jZwlOqiZsMPKAema1roMc8CkMv6hvafSk1kgnTqumCoeRr9dD5NBGr6xSQz9z0U2x
56oLz/RyzDzzOyNrEAToS4snyveLBN4oJCSFcG8UwvVtfGA3zf3Yz89tTFvRmYvfAAAA//8DAFBL
AwQUAAYACAAAACEAMrt7ZtYAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPQU8CMRSE7yb8h+aZ
eJOuJCyyUAghIXohwir3t9vHtrptN21lF3+9jQc8TmbyzcxyPZiWXcgH7ayAp3EGjGztpLaNgI/3
3eMzsBDRSmydJQFXCrBeje6WWEjX2yNdytiwBLGhQAEqxq7gPNSKDIax68gm7+y8wZikb7j02Ce4
afkky3JuUNvUoLCjraL6q/w2acah35Wn/ecmVD9VM5lSHvQsF+LhftgsgEUa4n/4ba/y6fxm/qFe
pYA5sPPLtfJaHjFE8gLSt/Q04YGvfgEAAP//AwBQSwECLQAUAAYACAAAACEA8PeKu/0AAADiAQAA
EwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h
0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQBYREAV
/wIAAOYHAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAh
ADK7e2bWAAAA+QAAAA8AAAAAAAAAAAAAAAAAVgUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAE
APUAAABZBgAAAAA=
" adj="18293" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <![if !vml]><img border=0 v:shapes="_x0000_s6148" src="slide0003_image009.png"
 style='position:absolute;top:69.43%;left:25.69%;width:14.3%;height:7.24%'><![endif]>
 <div v:shape="_x0000_s6147">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:19.08%;left:5.16%;width:32.84%;
 height:4.24%'>This employee is identified </span><span style='position:absolute;
 top:23.14%;left:5.16%;width:30.99%;height:4.24%'>as a Physician. Notice the </span><span
 style='position:absolute;top:27.2%;left:5.16%;width:32.98%;height:4.24%'>Employee
 Number and the </span><span style='position:absolute;top:31.09%;left:5.16%;
 width:28.07%;height:4.24%'>Affiliation.<span style='mso-special-format:lastCR;
 display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s6148">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:70.67%;left:27.01%;width:10.59%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t68" coordsize="21600,21600" o:spt="68" adj="5400,5400"
  path="m0@0l@1@0@1,21600@2,21600@2@0,21600@0,10800,xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="10800,0;0,@0;10800,21600;21600,@0"
   o:connectangles="270,180,90,0" textboxrect="@1,@4,@2,21600"/>
  <v:handles>
   <v:h position="#1,#0" xrange="0,10800" yrange="0,21600"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s6149" type="#_x0000_t68" style='position:absolute;
  left:283.75pt;top:74.25pt;width:22pt;height:54pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAu7Di
rwADAADfBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WtFsSAhhxYIAifYhQhGB
D5h4vck23rFle0PC13dsb8KlFaoaeAiznrHnzJnb+eWmUWwtras1Frz/PeNMotBljYuCPz7cHo05
cx6wBKVRFnwrHb+8+Prl3OTOMLqMLjcFX3pv8l7PiaVswH3XRiLpKm0b8PRpFz1jpZPowZOjRvWO
s2zUa6BGfkFP4XpmpjZI4m49tawuCQtBQWjI56NhV9bqJ3bGe51NMI8ykjkJvddvuPgW5JvKNh1E
+BeIpYUnivsdOsh1VbFNwQejbHA6HnC2LfjZcJCNhgEO5HLjmSD98enZaZ/oEqQfjU/GWRb0vYQj
GBrr/A+pD8bEwkMFb01khQiEHNYT55O3nZdISqKCcuW3SgZDhfeSool5+29SKD8h3ug5plzeKMvW
oAoOQlCW+0m1hFKm45OM/jo69jciORFQQFbVSn0atg5AKMc/sSWeOn/BtawqKfynOc8+IiY533uM
kWv8POdNjdr+DYCirHSRJ3+pQFJhmNxvrnW5DXDm9J968NAasV7daKoIamNAsdS24MLb1DLK+Vlw
fKgTiofa6tBX4iMUcQN2EvGScB8FtU4B1FhSVadY1IIGZYiElbJ6gPnsmcZBfzik+mYUczSSMMFr
u6IhxllFbF/FS9B6zZmiEYidmq4sARc0dKYtCnKQ6lbhzIiAyhkxFT61UD+00K6HXltcy2pn612y
3ZnR/RftVeU/sOu085Za+WETiZ23s+e9eEth7D/uaBdEEw/zNHggJzbu0yymlIRhTn2F5RQs0DFb
tU3d6F91opViLrjEo8cZbRfirx+GJZtHZTJpC47kJCwfW69oCaCeRYmzlbRhVdEGoVkLtHw6QyPi
fSr/BlT9LH/Gzzk4qeqwusgc9dRqXQU54FMYflHf0uhJrZFOnFZ1GQ4jX2+HyEsbvbFKDb3jop1g
x1UbnunkmHnmt0ZWIAjQtwaPlE8dIeGdQkJSCPdOIVzXxi/sxkFqYj/v2pgWojMXvwEAAP//AwBQ
SwMEFAAGAAgAAAAhAPIE8+DVAAAA+gAAAA8AAABkcnMvZG93bnJldi54bWxEj1FrwjAQgN8H/odw
wl7GTDeYuM4odmNsDESs/oBbczbFJumSVOu/37GH+Xj3Hd/xzZeDbcWJQmy8U/AwyUCQq7xuXK1g
v3u/n4GICZ3G1jtScKEIy8XoZo659me3pVOZasESF3NUYFLqciljZchinPiOHLODDxYTj6GWOuCZ
5baVj1k2lRYbxx8MdvRqqDqWvVUg7+Lqq/gZ+rdj76PeYJmKolTqdjysXkAkGtL1eLM206fnf/in
+tTcwimHj8t3aPQWY6KggDecygjk4hcAAP//AwBQSwECLQAUAAYACAAAACEA8PeKu/0AAADiAQAA
EwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h
0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQC7sOKv
AAMAAN8HAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAh
APIE8+DVAAAA+gAAAA8AAAAAAAAAAAAAAAAAVwUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAE
APUAAABZBgAAAAA=
" adj="4405" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <v:shape id="_x0000_s6150" type="#_x0000_t202" style='position:absolute;
  left:38.5pt;top:236pt;width:199pt;height:72.75pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s6151"
  type="#_x0000_m1026" style='position:absolute;left:36pt;top:21.625pt;width:210pt;
  height:68.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s6149" src="slide0003_image010.png"
 style='position:absolute;top:13.25%;left:38.94%;width:4.23%;height:10.95%'><![endif]>
 <div v:shape="_x0000_s6149">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:17.13%;left:40.79%;width:.52%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s6150">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:44.34%;left:6.35%;width:25.69%;
 height:4.24%'>Mandatory fields are </span><span style='position:absolute;
 top:48.4%;left:6.35%;width:28.47%;height:4.24%'>indicated by RED boxes </span><span
 style='position:absolute;top:52.29%;left:6.35%;width:25.69%;height:4.24%'>around
 the fields.<span style='mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s6151" class=T style='position:absolute;top:5.3%;
 left:5.96%;width:27.28%;height:10.07%'><span style='font-size:45%'><b>Sign-On</b></span><b>
 </b><span style='font-size:45%'><b>Form</b></span><span style='font-size:45%;
 mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
