<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Who Can Request">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="7"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s7170" type="#_x0000_t75"
  style='position:absolute;left:-.75pt;top:120.875pt;width:10in;height:178pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0004_image011.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0004_image011.gif" style='position:absolute;top:22.43%;left:-.13%;
 width:100.0%;height:33.03%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s7171" type="#_x0000_t202" style='position:absolute;
  left:84pt;top:42pt;width:554.5pt;height:72.75pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s7171">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:8.48%;left:12.71%;width:84.37%;
 height:4.24%'>Most Presidents VP and Directors will have this view and
 capabilities.&#13;</div>
 <div class=O style='position:absolute;top:12.36%;left:12.71%;width:84.37%;
 height:4.24%'>At this security level, users can search for any account in the
 system. &#13;</div>
 <div class=O style='position:absolute;top:16.43%;left:12.71%;width:89.66%;
 height:4.24%'>Submit new requests for new account or current and view their
 requests.<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shape id="Picture_x0020_6" o:spid="_x0000_s7172" type="#_x0000_t75"
  style='position:absolute;left:55.125pt;top:336pt;width:608.25pt;height:195.875pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0004_image012.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_6"
 src="slide0004_image013.png" style='position:absolute;top:62.19%;left:7.68%;
 width:84.5%;height:36.21%'><![endif]><v:shape id="_x0000_s7173" type="#_x0000_t202"
  style='position:absolute;left:126pt;top:298.875pt;width:484.625pt;height:29pt;
  visibility:visible;mso-wrap-style:none;v-text-anchor:top' filled="f"
  stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s7174"
  type="#_x0000_m1026" style='position:absolute;left:96pt;top:3.625pt;width:486pt;
  height:38.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s7173">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:56.0%;left:18.54%;width:78.67%;
 height:4.24%'>Users with no ability to submit or view will receive this
 message.<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s7174" class=T style='position:absolute;top:1.94%;
 left:14.3%;width:65.56%;height:4.59%'><span style='font-size:45%'><b>Who Can
 Request</b></span><span style='font-size:45%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
