<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Search">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style>
.CT
	{color:black;}
</style>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="4"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><p:shaperange
  href="master03.xml#_x0000_m1027"/><v:shape id="_x0000_s4098" type="#_x0000_m1027"
  style='position:absolute;left:108pt;top:306pt;width:7in;height:138pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:top' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAWjfj
KQoDAACbBgAAEAAAAGRycy9zaGFwZXhtbC54bWykVNtuGjEQfa/Uf7D8WiUshOsqSwSRaCuhCAXy
AbNeL7h47ZXtpcDXd2wvCclTlYAEY8+x58yZ8dw/HCtJDtxYoVVGu7cJJVwxXQi1zejLZnEzpsQ6
UAVIrXhGT9zSh+n3b/d1amuCh5VN64zunKvTTseyHa/A3uqaK/SV2lTgcGm2ndpwy5UDh4Eq2ekl
ybBTgVB0ilepw7peGW+xp8PKEFFk9I4SBRWGXDe5E05y0qOdFhLRgBSWmu1tywP+h0dh4C8m944C
UfqnwSy6PkAnkLjwUUjHB613xJ1qZGObfOPZUCR5zGi/N+lPhqPeZNCejQfwkrecbMgN0mNpqq9S
nd5DqsuSYOju3ag7TLBgJxRrPB6ipJ4DpPzoCEPAsJ8kYw9giOiOBj2P9hlGKiHVyK1O3XGui5M/
neM/liCW9vOSYk85rIc2Z0rkb2UzOun2+0jGhUV/MOrhwlx78nceJx+1zGiCDQKpwk6aNU6XwsUE
Ikvvktat3Qnb44uMg3SXlv503p4RlptUYJaevDeegyEPIRsiVIHvIGyB3OKjY85QUvByA/n63Mrk
pXERz2Gp5mbvu5OUWrlZOAQoBgqLz0m1bjyyA7XF3l41imGAblBOqnXNPCtbsxVz5AB4bTfxn7YX
rhFzXn7EYlu9QvGON8SsdBess/Hey5WIa7158yjN5hjEzZv1+dVcYCrhSZXA8FnNjABJSQ1KW1wm
vWSeDJM+/l++ffQKx3YLqIT0LY8bbAfG8iBmG+EJp1QwHeRL65sFUtT2eWXQxMZvnyJXxQoM4DbZ
N5Wo9B8Ri4QKZpSrm5c1zj2sxp1/VSQPzghpMqowiB+LRuyRq9LrYFGy58YP0XCEAQ6UFlizcN43
MUhx5r/CMgfLpfBDFSMovTJal972lKXyv0ovhJSReNyxWorCbwbl/bTlqG8U3x1jxbEl2jKPBlel
u4CDDO/u4WXJmbuo1SxVW6TGB2rt0GlX9fpRqRvp2nkDHxwcooPZDw5m25570z9WJcyiywzC4Wnr
6T8AAAD//wMAUEsDBBQABgAIAAAAIQC28rkg1wAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/B
SsQwFEX3gv8QnuBGnFQrWupkBhmQmYUIHV3o7tm8Nh2bl5LEtvP3Bhfj8nIv53KW69n2YiQfOscK
bhYZCOLa6Y5bBe9vz9cFiBCRNfaOScGRAqxX52dLLLWbuKJxH1uRIBxKVGBiHEopQ23IYli4gTh1
jfMWY4q+ldrjlOC2l7dZdi8tdpweDA60MVR/73+sgvGqOnyMhfncvLwe8txsp6yhSanLi/npEUSk
Of6Pi90Dtnen8g+10wpyEM32+OU7XWGI5BUkt2SaLEGufgEAAP//AwBQSwECLQAUAAYACAAAACEA
8PeKu/0AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQA
BgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQA
BgAIAAAAIQBaN+MpCgMAAJsGAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsB
Ai0AFAAGAAgAAAAhALbyuSDXAAAA+QAAAA8AAAAAAAAAAAAAAAAAYQUAAGRycy9kb3ducmV2Lnht
bFBLBQYAAAAABAAEAPUAAABlBgAAAAA=
">
  <v:stroke o:forcedash="t"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="subTitle" position="-1"/></v:shape>
 <div v:shape="_x0000_s4098">
 <div class=CB1 style='mso-margin-left-alt:468'></div>
 <div class=CB2 style='mso-margin-left-alt:720'></div>
 <div class=CB3 style='mso-margin-left-alt:1008'></div>
 <div class=CB4 style='mso-margin-left-alt:1296'></div>
 <div class=CB><span style='position:absolute;top:57.24%;left:16.02%;
 width:68.07%;height:7.42%'><span style='color:#898989;mso-special-format:lastCR;
 display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s4099" type="#_x0000_t75"
  style='position:absolute;left:3pt;top:180pt;width:10in;height:351.5pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0001_image002.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0001_image003.png" style='position:absolute;top:33.39%;left:.39%;
 width:100.0%;height:65.01%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s4100" type="#_x0000_t202" style='position:absolute;
  left:42pt;top:78pt;width:642pt;height:94.5pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s4101"
  type="#_x0000_m1026" style='position:absolute;left:3in;top:17.25pt;width:258pt;
  height:42.75pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="centerTitle" position="-1"/></v:shape>
 <div v:shape="_x0000_s4100">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:15.01%;left:6.88%;width:87.28%;
 height:4.24%'>SEARCH . SEARCH . SEARCH . &#13;</div>
 <div class=O style='position:absolute;top:19.08%;left:6.88%;width:87.28%;
 height:4.24%'>Search before adding a new employee.&#13;</div>
 <div class=O style='position:absolute;top:23.14%;left:6.88%;width:96.82%;
 height:4.24%'>Search for current employees , Search for any open requests for
 that employee&#13;</div>
 <div class=O style='position:absolute;top:27.03%;left:6.88%;width:87.28%;
 height:4.24%'>Search to see if that employee account has been deactivated.<span
 style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s4101" class=CT style='position:absolute;top:3.88%;
 left:30.99%;width:33.9%;height:6.53%'><span style='font-size:64%'>Search</span><span
 style='font-size:64%;mso-special-format:lastCR;display:none'>&#13;</span></div>
</p:slide></div>

</body>

</html>
