<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Provider Validate Queue">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="alphafade" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="23"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s23554" type="#_x0000_t75"
  style='position:absolute;left:2.75pt;top:1in;width:10in;height:186pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0021_image062.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0021_image063.png" style='position:absolute;top:13.25%;left:.39%;
 width:100.0%;height:34.45%'><![endif]><v:shape id="Picture_x0020_4" o:spid="_x0000_s23555"
  type="#_x0000_t75" style='position:absolute;left:24pt;top:318pt;width:644.25pt;
  height:190.5pt;visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0021_image064.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_4"
 src="slide0021_image064.gif" style='position:absolute;top:58.83%;left:3.31%;
 width:89.53%;height:35.33%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s23556" type="#_x0000_t202" style='position:absolute;
  left:181.5pt;top:40.625pt;width:393pt;height:29.125pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shape id="_x0000_s23557" type="#_x0000_t202" style='position:absolute;
  left:102pt;top:286.125pt;width:552pt;height:29.125pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s23558"
  type="#_x0000_m1026" style='position:absolute;left:90pt;top:7.125pt;width:468pt;
  height:22.875pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'
  o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEA2KMc
exADAADtBwAAEAAAAGRycy9zaGFwZXhtbC54bWzUVV1P2zAUfZ+0/2D5dYK0oXwkIkWAxDapQhUt
z5PrOG2oY0e207X8+h3bKRSeJnjZeCjXvce+55770curbSPJRhhba1XQ4fGAEqG4Lmu1LOjj/O7o
ghLrmCqZ1EoUdCcsvRp//XLZ5rYluKxs3hZ05VybJ4nlK9Ewe6xboeCrtGmYw9Esk9YIK5RjDoEa
maSDwVnSsFrRMZ5Sm1k7Nd7i95upIXVZ0JQSxRqEnNdOCjKkSe+PUIb4E83XtifB/oZEadhvZPYm
PlH6u0EKIUASGOzJKHDxQdsVcbsWVJynQkFvW9BRmo2ys/M0O/XMcDGig7F/wIasWL6tTPNZnuNL
luuqIgg9HI5OBgOUalfQiyw7Tz0DloutIxzu02x0cubdHP40Gw7Si0Ax8ghcI7E2d9sbXe785QX+
Q/lY0Y+LiVZyqIQ2z5TIn8oWNBuORuDiwmF0ep7iYA49izceJ2+1LChATHG8U1DuDJqE5QrddN05
XdWOVFq5GWcSNcmgxKDPLybhwdK6mduhbz6ZUBB23+gflsUzQiuQhplJyA3GQzDkJiZbqxLTEfOW
S4yiz5qUopqzxey5V9Er5yJesIm6MWvftkGM63CJQR7ojiFTvRtXVkwt0fTTTnEEGAYtpZq13LOy
LZ9yRzYMzw69knspDxE3onqP3cNw/9V7Xbk9ztn45gGu9y66W2nm2yDsops9v5h3qOnL4R7bJkAc
W0ysCybUeJgamElQ04fCeOIDyq67pm70Ux1FRcYFFerocYbtBfWwbSDEIqgVIV1BFUL45WbqNdpI
6VmwKFkL41ch7mCCGDZDD2x5eNy3IZP1s/gRjgtmhaz9agRc6anRugp2WRuH+cO3tnG3UjA8OujF
96yVvquljNlIFXTTsi79l+HgV6mAVFFHt437CRU7RImqEtztBeomqhew88/0dmiHsMAqxsHzW/N0
JF2/Mtg7h2DRwe07B7f9jEFtz8+Nya/4R94avjpoA3wGnFDllBmGwv3LNfIZxSL8r2V51TnOR1jz
+/WOHyXbjv8AAAD//wMAUEsDBBQABgAIAAAAIQCwWqh71wAAAPkAAAAPAAAAZHJzL2Rvd25yZXYu
eG1sRI9NT8MwEETvSPwHa5G4oNZphaoQuq0QApkDl6a0XJd48wGxHdkmTf89Fgc4jmb0Rm+9nUwv
RvahcxZhMc9AsK2c7myD8LZ/nuUgQiSrqXeWEc4cYLu5vFhTod3J7ngsYyMSxIaCENoYh0LKULVs
KMzdwDZ1tfOGYoq+kdrTKcFNL5dZtpKGOpseWhr4seXqq/w2CKWqVzfvh8XtpzrsldIuPw53OeL1
1fRwDyLyFP/HT69yHKu/8hf1ohGWIGp1/vCd3lGI7BGSWzJNliA3PwAAAP//AwBQSwECLQAUAAYA
CAAAACEA8PeKu/0AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBL
AQItABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BL
AQItABQABgAIAAAAIQDYoxx7EAMAAO0HAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwu
eG1sUEsBAi0AFAAGAAgAAAAhALBaqHvXAAAA+QAAAA8AAAAAAAAAAAAAAAAAZwUAAGRycy9kb3du
cmV2LnhtbFBLBQYAAAAABAAEAPUAAABrBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s23556">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:8.12%;left:26.22%;width:63.17%;
 height:4.24%'>Provider request moves to Provider Validate Queue<span
 style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s23557">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:53.53%;left:15.23%;width:86.75%;
 height:4.24%'>Provider validators add Doctor Number and validate or Cancel
 request.<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s23558" class=T style='position:absolute;top:1.41%;
 left:13.5%;width:63.04%;height:4.24%'><span style='font-size:41%'><b>Provider
 Validate Queue</b></span><span style='font-size:41%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
