<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Submitting">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="randomBar" direction="vertical" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="22"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=22)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s22530" type="#_x0000_t75"
  style='position:absolute;left:204pt;top:2.75pt;width:454pt;height:540pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0020_image060.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0020_image061.png" style='position:absolute;top:.53%;left:28.34%;
 width:63.04%;height:100.0%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s22531" type="#_x0000_t202" style='position:absolute;
  left:18pt;top:31.125pt;width:174pt;height:29pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shape id="_x0000_s22532" type="#_x0000_t202" style='position:absolute;
  left:24pt;top:65.875pt;width:162pt;height:443.5pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s22533"
  type="#_x0000_m1026" style='position:absolute;left:24.875pt;top:.5pt;width:126pt;
  height:32.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s22531">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:6.36%;left:3.44%;width:22.25%;
 height:4.24%'>Ready to submit.<span style='mso-special-format:lastCR;
 display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s22532">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:12.89%;left:4.37%;width:22.51%;
 height:4.24%'><span style='color:red'>Use proper names </span></span><span
 style='position:absolute;top:16.78%;left:4.37%;width:20.79%;height:4.24%'><span
 style='color:red'>when submitting </span></span><span style='position:absolute;
 top:20.84%;left:4.37%;width:21.19%;height:4.24%'><span style='color:red'>any
 new request. &#13;</span></span></div>
 <div class=O><span style='position:absolute;top:24.91%;left:4.37%;width:22.38%;
 height:4.24%'><span style='color:red'>Name that is filled </span></span><span
 style='position:absolute;top:28.79%;left:4.37%;width:21.72%;height:4.24%'><span
 style='color:red'>out should be the </span></span><span style='position:absolute;
 top:32.86%;left:4.37%;width:23.44%;height:4.24%'><span style='color:red'>same
 as on the W4 </span></span><span style='position:absolute;top:36.92%;
 left:4.37%;width:20.66%;height:4.24%'><span style='color:red'>form for
 HR.&#13;</span></span></div>
 <div class=O style='position:absolute;top:40.81%;left:4.37%;width:20.66%;
 height:4.24%'><span style='color:red'><b>Examples: &#13;</b></span></div>
 <div class=O style='position:absolute;top:44.87%;left:4.37%;width:20.66%;
 height:4.24%'><span style='color:red'>Joseph not Joe&#13;</span></div>
 <div class=O style='position:absolute;top:48.93%;left:4.37%;width:23.31%;
 height:4.24%'><span style='color:red'>Elizabeth not Betty&#13;</span></div>
 <div class=O style='position:absolute;top:52.82%;left:4.37%;width:20.66%;
 height:4.24%'><span style='color:red;display:none'>&#13;</span></div>
 <div class=O><span style='position:absolute;top:56.89%;left:4.37%;width:23.04%;
 height:4.24%'><span style='color:red'>Any name changes </span></span><span
 style='position:absolute;top:60.95%;left:4.37%;width:23.31%;height:4.24%'><span
 style='color:red'>must be submitted </span></span><span style='position:absolute;
 top:64.84%;left:4.37%;width:20.66%;height:4.24%'><span style='color:red'>to HR
 not IS.&#13;</span></span></div>
 <div class=O style='position:absolute;top:68.9%;left:4.37%;width:20.66%;
 height:4.24%'><span style='color:red;display:none'>&#13;</span></div>
 <div class=O><span style='position:absolute;top:72.96%;left:4.37%;width:22.51%;
 height:4.24%'><span style='color:red'>If you are not sure </span></span><span
 style='position:absolute;top:76.85%;left:4.37%;width:20.66%;height:4.24%'><span
 style='color:red'>of the spelling of </span></span><span style='position:absolute;
 top:80.91%;left:4.37%;width:20.66%;height:4.24%'><span style='color:red'>the
 name please </span></span><span style='position:absolute;top:84.98%;
 left:4.37%;width:20.66%;height:4.24%'><span style='color:red'>verify before </span></span><span
 style='position:absolute;top:88.86%;left:4.37%;width:20.66%;height:4.24%'><span
 style='color:red'>submitting. </span><span style='color:red;mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s22533" class=T style='position:absolute;top:.88%;
 left:4.5%;width:15.62%;height:4.59%'><span style='font-size:45%'><b>Submitting</b></span><span
 style='font-size:45%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
