<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Provider Form">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" effect="cut"
 flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="21"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s21506" type="#_x0000_t75"
  style='position:absolute;left:150pt;top:0;width:456.25pt;height:540pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0019_image058.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0019_image059.png" style='position:absolute;top:0%;left:20.79%;
 width:63.31%;height:100.0%'><![endif]><p:shaperange
  href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s21507" type="#_x0000_m1026"
  style='position:absolute;left:0;top:18pt;width:131.875pt;height:44.375pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEANcI5
tvQCAABoBgAAEAAAAGRycy9zaGFwZXhtbC54bWykVFFv2jAQfp+0/2D5dWoDDGiJGqq2UrdJqEJN
+zw5jgMpjh3ZhgG/fp/tpKN9mloe4Mx9vvvuu/NdXe8bSXbC2FqrjA7PB5QIxXVZq1VGn5/uzy4p
sY6pkkmtREYPwtLr+dcvV21qW4LLyqZtRtfOtWmSWL4WDbPnuhUKvkqbhjkczSppjbBCOeaQqJHJ
aDCYJg2rFZ0jlNrl7dJ4iz/slobUZUZHlCjWIOVT7aQgQ5p0/ghlyL/QfGM7Eux/SJSG/UFlb/IT
pX8YlBASJIFBT0aBi0/arok7tKDiPBUKevuMjkez8Wx6MZpNPDNcjOhg9AFsqIql+8o0n+U5v2Kp
riqC1GjSAQKNLqeDgU/OUrF3hMMznF5MhlP4OQCT6ffJdBTYRQqBZuTUpm5/q8uDv1zgF6LHZn5c
R0yRQxO0OVIifymb0dlwPAYXFw7jycUIB3PqKd54nLzTMlTHFEecjHJnMB8sVRikm63TVe1IpZXL
OZNox2yAT1dfLMKDpXW5O2BkPllQELaf8Q/L4hlhCkjDzCLUBuMxGHIXi61ViYcR65YrvEJfNSlF
9cSK/Nip6JVzES/YQt2ajZ/YIMZNuMQgD3TH+1KdG1fWTK0w78ut4kgwDFpKlbfcs7ItX3JHdgxh
h17JXspTxK2o3mN7GO7/895Ursc5G2Oe4Dpvsb2T5mkfhC22+fHVvEdPXw8PWDQB4lixsC6YUONx
aWAmQU2fCi8TX1B2s23qRr/UUVRUnFGhzp5zLC6oh0UDIYqgVoRsM6qQwu81U28wRkrnwaJkI4zf
griDF8SwFDpgy0NwP4ZM1kfxMxwLZoWs/VYEXOml0boKdlkbh/eHf23j7qRgCDroxPeslb6vpYzV
SBV007Iu/Z/h4LeogFRRR7ePqwkdO0WJqhLc9QJtF6oTcOvDdHYYh7C7KsbB81vzciZdtzLYO4dg
0cHtOwe33RuD2p6fm5Pf8UO84XuC5uMbXt+fsGb69YJ9aNv5XwAAAP//AwBQSwMEFAAGAAgAAAAh
AFS2HUnWAAAA+QAAAA8AAABkcnMvZG93bnJldi54bWxEj1FPwjAUhd9J/A/NNfGFSAcxZAwKQRJT
H2WIvl7Xu624tktbYfx7Gx/w8eScfCffajOYjp3JB+2sgOkkA0a2ckrbRsD74eUxBxYiWoWdsyTg
SgE267vRCgvlLnZP5zI2LEFsKFBAG2NfcB6qlgyGievJpq523mBM0TdcebwkuOn4LMvm3KC26aHF
nnYtVd/ljxFQyno+/jxOn07yeJBSufyjX+RCPNwP2yWwSEP8H293z4s3fSv/UK9KwAxYLa9fXqs9
hkheQHJLpskS+PoXAAD//wMAUEsBAi0AFAAGAAgAAAAhAPD3irv9AAAA4gEAABMAAAAAAAAAAAAA
AAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAA
AAAAAAAAAAAAAAAuAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEANcI5tvQCAABoBgAAEAAA
AAAAAAAAAAAAAAApAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQBUth1J1gAAAPkA
AAAPAAAAAAAAAAAAAAAAAEsFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAATgYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s21507" class=T style='position:absolute;top:5.47%;
 left:.26%;width:17.88%;height:4.24%'><span style='font-size:41%'><b>Provider
 Form</b></span></div>
</p:slide></div>

</body>

</html>
