<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Request Process">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="19"/>
 <o:rules v:ext="edit">
  <o:r id="V:Rule1" type="connector" idref="#_x0000_s19470">
   <o:proxy end="" idref="#_x0000_s19463" connectloc="0"/>
  </o:r>
  <o:r id="V:Rule2" type="connector" idref="#_x0000_s19471">
   <o:proxy end="" idref="#_x0000_s19465" connectloc="3"/>
  </o:r>
  <o:r id="V:Rule3" type="connector" idref="#_x0000_s19472">
   <o:proxy start="" idref="#_x0000_s19463" connectloc="2"/>
  </o:r>
  <o:r id="V:Rule4" type="connector" idref="#_x0000_s19473"/>
  <o:r id="V:Rule5" type="connector" idref="#_x0000_s19474"/>
 </o:rules>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s19458" type="#_x0000_t202" style='position:absolute;
  left:474pt;top:179.625pt;width:231.375pt;height:50.875pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t110" coordsize="21600,21600" o:spt="110"
  path="m10800,l,10800,10800,21600,21600,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect" textboxrect="5400,5400,16200,16200"/>
 </v:shapetype><v:shape id="_x0000_s19459" type="#_x0000_t110" style='position:absolute;
  left:250.625pt;top:54pt;width:150pt;height:96pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAUNQl
5wkDAAD1BwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtu2zAMfR+wfxD0OnS2s7ZIjbpF2yHbQ1AE
TfsBjCwnXmTKkOQ06dePkuz0sqEYlr4ktEiKh0e8nF9uG8U20thaY8GzrylnEoUua1wW/OF+cjTm
zDrAEpRGWfCdtPzy4vOn8za3LSNntHlb8JVzbZ4kVqxkA/arbiWSrtKmAUefZpm0RlqJDhwFalQy
StPTpIEa+QVdhZt5OzNeErebmWF1WfATzhAaCjlR+lGswLicfZei9kjZMU96a+8YZCRHEpKXt9lw
K+TbyjQ9WPgXsKWBR2LgDU7IdVWxbcG/ZePR6eiUs13BT8cn4zT1cCCXW8cE6bOz9CSlQybIIBtl
Z5Stt0giEm/aGut+SH0wKuYvKnhFHN14jgaGiFbIYTO1LsYd4gWCIi30gm6npDdUeCcps/Ca/00Q
vRrlPgqRQyHIG2XYBlTBQQh6+yyqVlDKeOxJGojZewSaAiCPrKqV+jBsPQBfpH9iizz18XxoWVVS
uA8Lnr5HTAy+jxgy1/hxwZsatfkbAEWv0mce48UCiYXR5m57rcudh7Ogf+rMQ2vEOHWjqSKoOQDF
SpuCC2di+yjr5j7woUEoH2qwQ28Jl1DGDZhpwEvCXRDUJiZQY0lVHXNRSxqfPhNWyuoeFvOngp9l
x8d+ClDOwUjCFK/NmkYCZxWxfRWcoHOaM0WDEXs1uawAlzSAZh0KChDrVuG8FR6VbcVMuNhCmW+h
oYdeWlzLarB1NtoOZuT/rL2q3Dt2vXbRUSvfbwOxi27+tBcnlMb+45Y2RDBxsIiDB3Ji4y7OZXoS
P+Kpr7CcgQE6ZuuuqRv9q460Us4Fl3j0MKedQ/xlfrCyRVBGk67gSEH8SjL1mnYD6nmQOFtL4xeY
n7RMAK2k3rAVwZ/KvwFVP8mf4XMBVqraLzQyRz0zWlde9vgU+l/UExo9sTXiidWqLv1h4Ov1EHlu
o1dWsaEHLrop9lx1/ppeDi/P3K6VFQgC9KXBI+X6hQJvFBKiQtg3CmH7Nn5mNwzSNvTz0Ma0HG17
8RsAAP//AwBQSwMEFAAGAAgAAAAhAGfSUNLWAAAA+QAAAA8AAABkcnMvZG93bnJldi54bWxEj1FL
wzAUhd8F/0O4gm8uddii3bIhFnWCQzb3A+6au6ba3JQk67p/b/BBHw/n8B2++XK0nRjIh9axgttJ
BoK4drrlRsHu8/nmHkSIyBo7x6TgTAGWi8uLOZbanXhDwzY2IkE4lKjAxNiXUobakMUwcT1x6g7O
W4wp+kZqj6cEt52cZlkhLbacHgz29GSo/t4erYL8623aD/bd7e9eVnm9LqpjXlVKXV+NjzMQkcb4
P/5YmyJ/+Ct/USudICAOr+e9b/UGQySvILkl02QJcvEDAAD//wMAUEsBAi0AFAAGAAgAAAAhAPD3
irv9AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYA
CAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAuAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYA
CAAAACEAUNQl5wkDAAD1BwAAEAAAAAAAAAAAAAAAAAApAgAAZHJzL3NoYXBleG1sLnhtbFBLAQIt
ABQABgAIAAAAIQBn0lDS1gAAAPkAAAAPAAAAAAAAAAAAAAAAAGAFAABkcnMvZG93bnJldi54bWxQ
SwUGAAAAAAQABAD1AAAAYwYAAAAA
" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <v:shape id="_x0000_s19460" type="#_x0000_t202" style='position:absolute;
  left:282.5pt;top:84pt;width:86.125pt;height:29.125pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shape id="_x0000_s19461" type="#_x0000_t202" style='position:absolute;
  left:192.25pt;top:87.5pt;width:42pt;height:29pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shape id="_x0000_s19462" type="#_x0000_t202" style='position:absolute;
  left:406.625pt;top:88.875pt;width:42pt;height:29pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19459"
 src="slide0016_image048.png" style='position:absolute;top:9.54%;left:34.43%;
 width:21.85%;height:18.72%'><![endif]>
 <div v:shape="_x0000_s19458">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:33.92%;left:66.88%;width:34.3%;
 height:4.24%'>After a request is submitted </span><span style='position:absolute;
 top:37.8%;left:66.88%;width:30.19%;height:4.24%'>process to complete<span
 style='mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19459">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:16.78%;left:40.52%;width:9.4%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19460">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:16.25%;left:40.26%;width:10.46%;
 height:4.24%'>Provider<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s19461">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:16.78%;left:27.68%;width:4.23%;
 height:4.24%'>Yes<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s19462">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:17.13%;left:57.48%;width:3.97%;
 height:4.24%'>No<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shapetype id="_x0000_t109" coordsize="21600,21600" o:spt="109" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s19463" type="#_x0000_t109" style='position:absolute;
  left:1in;top:139.125pt;width:126pt;height:81.5pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAAR63
yQcDAADzBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WtHdQLh0xQYBUtoHhCIC
HzDxepNtvGPL9oaEr+/Y3iRAK1QBPIRZz9jnzPHM+Pxi3Sq2ktY1Gks++J5zJlHoqsF5yR/uxwdn
nDkPWIHSKEu+kY5fjL5+OTeFM4w2oytMyRfemyLLnFjIFtx3bSSSr9a2BU+fdp4ZK51ED56AWpUd
5vlJ1kKDfERH4WpqJjZY4nY1saypSv6DM4SWIMdKP4oFWF+widVCOsfOeNYHh33RRtpHRvb8MBcP
hWJd27bnCv/DtbLwSAK8ogmFrmu2JmaD4TAnoTYk2OnJ6fEw0oFCrj0T5B+c5Dnlx5kIEfnR8Pho
GAhnicnoHApjnf8p9YdZsXBQyWuS6DpI1AtEokIBqxvnE+wWLuqTVKH78xslQ6DCO0mJxbt8tz50
Z5T6YUSOZSCvlWUrUCUHIejmB8m1gEqm5eOc/npddjuiSpFQYFY3Sn0at55AKNG/uSWderwALeta
Cv9p4PlbwiTwHWLMXOPngbcNavsvAopupc884aUCSYVhCr++0tUm0JnRf+rLj9aI9epaU0VQbwCK
hbYlF94GClSFzk8D8EdB4mHb0fTucg6MaHqwFuxN5EvGXTTUKiXQYEVVnXJRcxqeIRNWyfoeZtOn
/ZSgnGOQhBu8skuaCJzVpPZl3ASd15wpGovYu0mbBeCc5s+kQ0EAqW4VTo0IrJwRE+FTCw1CC217
6HnElay3sd6l2G0Y7d97L2v/RlzvnXXUyvfrKOysmz7tzDGlsfu4pfchhniYpcEDBalxl8ZyVDNA
SawmYIGW2bJrm1b/bpKslHPJJR48TOnFIf0GZ2GEzqIzhXQlRwIJD5JtlvQyoJ5Gi7OltOH5SlMX
6EHqA42I+6n8W1DNk/wVP2fgpGrCc0YIqGlo6jrYgZ/C8It6TKOH0qGZnVacVk0VFqNeL4fIvo1e
RKWG3mrR3WCvVReO6e1488xvjKxBEKFvLR4onzpCwiuHhOQQ7pVDuL6N9+pG6ib287aN6W10ZvQH
AAD//wMAUEsDBBQABgAIAAAAIQDhQuG+1gAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/BSgMx
FEX3gv8QnuBGbKJgacemxRFENyKtXXT5nLyZDDN5GZK0nfl7gwu7vNzLuZzVZnS9OFGIrWcNDzMF
grjypuVGw/777X4BIiZkg71n0jBRhM36+mqFhfFn3tJplxqRIRwL1GBTGgopY2XJYZz5gTh3tQ8O
U46hkSbgOcNdLx+VmkuHLecHiwO9Wqq63dFp8J1VZVf35aE8jKx4ulvs3VHr25vx5RlEojFdxl+f
dv60/C//UB9GwxJE/T79hNZsMSYKGrJbNs2WINe/AAAA//8DAFBLAQItABQABgAIAAAAIQDw94q7
/QAAAOIBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgA
AAAhADHdX2HSAAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgA
AAAhAAEet8kHAwAA8wcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAU
AAYACAAAACEA4ULhvtYAAAD5AAAADwAAAAAAAAAAAAAAAABeBQAAZHJzL2Rvd25yZXYueG1sUEsF
BgAAAAAEAAQA9QAAAGEGAAAAAA==
" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <v:shape id="_x0000_s19464" type="#_x0000_t202" style='position:absolute;
  left:96pt;top:150pt;width:78pt;height:36.375pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19463"
 src="slide0016_image049.png" style='position:absolute;top:25.61%;left:9.8%;
 width:18.01%;height:15.72%'><![endif]>
 <div v:shape="_x0000_s19463">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:31.27%;left:11.12%;width:15.36%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19464">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:28.44%;left:14.3%;width:9.0%;
 height:2.82%'><span style='font-size:67%'>Provider </span></span><span
 style='position:absolute;top:31.09%;left:14.3%;width:9.0%;height:2.82%'><span
 style='font-size:67%'>Validation</span><span style='font-size:67%;mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shape id="_x0000_s19465" type="#_x0000_t109" style='position:absolute;
  left:274.625pt;top:222.75pt;width:132pt;height:66pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEA+E+A
ng0DAAD1BwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtu2zAMfR+wfxD0OnSOky5zjbpFWyDbQ1AE
TfsBjCwnXmTKkOQ06dePkpz0sqEYlvYhpcUj8fCIpM4vt41iG2lsrbHg6dcBZxKFLmtcFvzhfnKS
cWYdYAlKoyz4Tlp+efH503mb25bRZrR5W/CVc22eJFasZAP2q24lkq/SpgFHn2aZtEZaiQ4cBWpU
MhwMxkkDNfILOgo383ZmvCVuNzPD6pK4pJwhNBRzovSjWIFxOZsZLaS1LB3wpIf7ncFG2klG8vI4
G46FfFuZpmcL/8K2NPBIErwhCrmuKrYt+Og0y0ajMWe7gg+zYTY+yzwfyOXWMUGAdPx9fDogMQUh
slFG6XpAEpl4ZGus+yH10ayYP6jgFWl04zXqFSJZIYfN1LoYdh8u6BNVoRt0OyU9UOGdpMTCbf63
PnRrlPkwRA6FIG+UYRtQBQch6O7T6FpBKePytwH99bocdgSVAiHPrKqV+jBuPQFfpH9yizr18Xxo
WVVSuA8LPnhPmBj8EDFkrvHjgjc1avM3Aopupc88xosFEgujzd32Wpc7T2dB/6kzj60R49SNpoqg
1gAUK20KLpyJzaOsm/vAxwahfKi/jj0lHEIZN2CmgS8Zd8FQm5hAjSVVdcxFLWl8+kxYKat7WMyf
Cn6WnoYZQDkHkIQpXps1TQfOKlL7KmyCzmnOFA1G7N2kzQpwSfNn1qGgALFuFc5b4VnZVsyEiy2U
+hba99BLxLWs9lhnI3YPo/3P3qvKvYPrvYuOWvl+G4RddPOngzmhNA4ft/RCBIiDRRw8kJMad3Es
05X4EU99heUMDNAyW3dN3ehfdZSVci64xJOHOb05pF+a+Qm6CM4I6QqOFMQ/SaZe09OAeh4sztbS
+AfMD1omgJ6kHtiKsJ/KvwFVP8mf4XMBVqraP2gER01DU1fe9vwU+l/UExo9sTXiitWqLv1i0Ov1
EHluo1eo2NB7Lbop9lp1/pjeDjfP3K6VFQgi9KXBE+ViR0h445AQHcK+cQjbt/GzumGQtqGf921M
b6NtL34DAAD//wMAUEsDBBQABgAIAAAAIQDly50L1gAAAPoAAAAPAAAAZHJzL2Rvd25yZXYueG1s
RI9BSwMxEEbvgv8hjOBFbFLBUtemxRVELyKtPfQ4bmY3y24mS5K2u//e4MEehze8j7fajK4XJwqx
9axhPlMgiCtvWm407L/f7pcgYkI22HsmDRNF2Kyvr1ZYGH/mLZ12qRFZwrFADTaloZAyVpYcxpkf
iDOrfXCY8hkaaQKes9z18kGphXTYcl6wONCrparbHZ0G31lVdnVfHsrDyIqnu+XeHbW+vRlfnkEk
GtPl+evTLh6f/uGf6sPkljmI+n36Ca3ZYkwUNOS4nJoRyPUvAAAA//8DAFBLAQItABQABgAIAAAA
IQDw94q7/QAAAOIBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0A
FAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0A
FAAGAAgAAAAhAPhPgJ4NAwAA9QcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQ
SwECLQAUAAYACAAAACEA5cudC9YAAAD6AAAADwAAAAAAAAAAAAAAAABkBQAAZHJzL2Rvd25yZXYu
eG1sUEsFBgAAAAAEAAQA9QAAAGcGAAAAAA==
" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <v:shape id="_x0000_s19466" type="#_x0000_t202" style='position:absolute;
  left:303pt;top:232.75pt;width:96pt;height:36.375pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shape id="_x0000_s19467" type="#_x0000_t109" style='position:absolute;
  left:274.5pt;top:320.75pt;width:141pt;height:78pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEACWHd
QQ4DAAD1BwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WtFsEiCwYkGARPuAUETg
AyZeb7KN117ZTkj4+h7bm3BphaoGHsKsZ8Zz5nguZxfrRrGVtK42uuD97xlnUgtT1npW8MeHm4MT
zpwnXZIyWhZ8Ix2/OP/65azNXcvgrF3eFnzufZv3ek7MZUPuu2mlhq4ytiGPTzvrtVY6qT15BGpU
b5Blx72Gas3PcZVeTdqxDZK4W40tq0tgGXKmqUHMG2WexJysz9nYGiGdY/0B73XmwTPKGp4Qeq+v
c/FayteVbTq09C9oS0tPoOAdUMpNVbF1wYeHJ0ej02PONgU/zEbDwfA44KFcrj0TMOiPTrNRBjIF
LE5Ps2PIAVtCEixb6/wPafZGxcJFBa/A0XXgqGMItFJOq1vnU9htuMhPYgUv6DdKBkOl7yUSi6/5
3/zg1ZD5IEaOhSCvlWUrUgUnIfD2/aSaUynT8VGGv46XnUdkKQIKyKpaqU/D1gEIRfontsRTFy+E
llUlhf+04NlHxKTgu4gxc6M/L3hTa2P/BkDhVbrMU7xUIKkw2tyvr0y5CXCm+I/O3LdGrFfXBhWB
1iAt5sYWXHibmkc5PwmB9w2CfNBf+94SL0HGDdnbiBfCfRTUKiVQ6xJVnXJRM4zPkAkrZfVA08kz
+r5/eBhmAHKORpJu9ZVdYDpwVoHty+hES284UxiMulPDZU56hvkzXmqBAKlulZ60IqByrRgLn1qo
H1po20OvLa5ktbX1LtluzeD/or2s/Ad2nXa6RCs/rCOx0+XkeSfeII3dxx02RDTxNE2Dh3KwcZ/G
Mp4kjHj0lS7HZAnHbLFs6sb8qhOtyLngUh88TrBzwF//JLA3jcpksiy4RpCwkmy9wGrQZhIlzhbS
hgWGvYKhS1hJnWEroj/KvyFVP8uf8XNKTqo6LDSYa4OhaaogB3xKh19tbjB6UmukE2dUXYbDyNfb
IfLSRm+sUkNvuVje6o6rZbimk+PLM79pZUUCgL41+kD51BGS3ikkJYVw7xTCdW38wm4cpG3s520b
Yze69vw3AAAA//8DAFBLAwQUAAYACAAAACEA9Q1cc9YAAAD6AAAADwAAAGRycy9kb3ducmV2Lnht
bESPQUsDMRBG74L/IYzgRWyiYqlr0+IKoheR1h56HDezm2U3kyVJ291/b/Bgj8Mb3sdbrkfXiyOF
2HrWcDdTIIgrb1puNOy+324XIGJCNth7Jg0TRVivLi+WWBh/4g0dt6kRWcKxQA02paGQMlaWHMaZ
H4gzq31wmPIZGmkCnrLc9fJeqbl02HJesDjQq6Wq2x6cBt9ZVXZ1X+7L/ciKp5vFzh20vr4aX55B
JBrT+fnr084fn/7hn+rD5JYHEPX79BNas8GYKGjIcTk1I5CrXwAAAP//AwBQSwECLQAUAAYACAAA
ACEA8PeKu/0AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIt
ABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQIt
ABQABgAIAAAAIQAJYd1BDgMAAPUHAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1s
UEsBAi0AFAAGAAgAAAAhAPUNXHPWAAAA+gAAAA8AAAAAAAAAAAAAAAAAZQUAAGRycy9kb3ducmV2
LnhtbFBLBQYAAAAABAAEAPUAAABoBgAAAAA=
" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <v:shape id="_x0000_s19468" type="#_x0000_t202" style='position:absolute;
  left:306pt;top:343.25pt;width:90pt;height:36.25pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shape id="_x0000_s19469" type="#_x0000_t202" style='position:absolute;
  left:270.625pt;top:438pt;width:164.125pt;height:50.875pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19465,_x0000_s19467"
 src="slide0016_image050.png" style='position:absolute;top:40.98%;left:38.01%;
 width:20.13%;height:33.39%'><![endif]>
 <div v:shape="_x0000_s19465">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:45.22%;left:39.33%;width:16.15%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19466">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:43.63%;left:43.04%;width:11.39%;
 height:2.82%'><span style='font-size:67%'>Validation </span></span><span
 style='position:absolute;top:46.46%;left:43.04%;width:11.39%;height:2.82%'><span
 style='font-size:67%'>Queue</span><span style='font-size:67%;mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19467">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:64.48%;left:39.2%;width:17.35%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19468">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:64.13%;left:43.44%;width:10.59%;
 height:2.82%'><span style='font-size:67%'>Individual<span
 style='mso-spacerun:yes'>  </span></span></span><span style='position:absolute;
 top:66.78%;left:43.44%;width:12.71%;height:2.82%'><span style='font-size:67%'>Account
 Queue</span><span style='font-size:67%;mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s19469">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:81.8%;left:38.54%;width:21.72%;
 height:2.82%'><span style='font-size:67%'>Request completed Crozer </span></span><span
 style='position:absolute;top:84.45%;left:38.54%;width:22.64%;height:2.82%'><span
 style='font-size:67%'>employees receives email if </span></span><span
 style='position:absolute;top:87.1%;left:38.54%;width:20.92%;height:2.82%'><span
 style='font-size:67%'>they have a valid email.</span><span style='font-size:
 67%;mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t33" coordsize="21600,21600" o:spt="33" o:oned="t"
  path="m,l21600,r,21600e" filled="f">
  <v:stroke joinstyle="miter"/>
  <v:path arrowok="t" fillok="f" o:connecttype="none"/>
  <o:lock v:ext="edit" shapetype="t"/>
 </v:shapetype><v:shape id="_x0000_s19470" type="#_x0000_t33" style='position:absolute;
  left:135pt;top:98.5pt;width:57.25pt;height:40.625pt;rotation:180;flip:y;
  visibility:visible;mso-wrap-style:square' o:connectortype="elbow" o:gfxdata="UEsDBBQABgAIAAAAIQD+JeulAAEAAOoBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzU7EIBDH
7ya+A+FqWqoHY0zpHqwe1Zj1AQhMW2I7EAbr7ts73e5ejGviEeb/8RuoN7tpFDMk8gG1vC4rKQBt
cB57Ld+3T8WdFJQNOjMGBC33QHLTXF7U230EEuxG0nLIOd4rRXaAyVAZIiBPupAmk/mYehWN/TA9
qJuqulU2YAbMRV4yZFO30JnPMYvHHV+vJAlGkuJhFS5dWpoYR29NZlI1o/vRUhwbSnYeNDT4SFeM
IdWvDcvkfMHR98JPk7wD8WpSfjYTYyiXaNkAweaQWFf+nbSgTlSErvMWyjYRL7V6T3DnSlz4wgTz
f/Nbtr3BfEpXh59qvgEAAP//AwBQSwMEFAAGAAgAAAAhAJYFM1jUAAAAlwEAAAsAAABfcmVscy8u
cmVsc6SQPWsDMQyG90L/g9He8yVDKSW+bIWsIYWuxtZ9kLNkJHNN/n1MoaVXsnWUXvQ8L9rtL2k2
C4pOTA42TQsGKXCcaHDwfnp7egGjxVP0MxM6uKLCvnt82B1x9qUe6ThlNZVC6mAsJb9aq2HE5LXh
jFSTniX5UkcZbPbh7Ae027Z9tvKbAd2KaQ7RgRziFszpmqv5DztNQVi5L03gZLnvp3CPaiN/0hGX
SvEyYHEQRb+WgktTy4G979380xuYCENh+aiOlfwnqfbvBnb1zu4GAAD//wMAUEsDBBQABgAIAAAA
IQBjDVvPrgEAAOsEAAAUAAAAZHJzL2Nvbm5lY3RvcnhtbC54bWy8k8tOwzAQRfdI/IPlPeRBm5aI
tIuqsEGo4rU3iQ2WnLFlW2n694ydElQJCaRWZBXb4zl37oxvln2rSMetkxoqml2mlHCodSPhvaIv
z7cXc0qcZ9AwpYFXdMcdXS7Oz25M6QzBy+BKU9EP702ZJK7+4C1zl9pwwDOhbcs8Lu17Yix3HDzz
CGpVkqdpkbRMAl1gKuhWPTyZjQ2L+qHbWCIblHNNCbAWsWv1prdkpQF47bUl2Zwm+9jxJis5NLja
q2J/UdVYtsVSDwRFNJJl01c0DZwkihpBQe/GDvsHyl2sgJW9sO3RKqz26EA6T8NHiVDSvOIG+sVK
LQRBcdksm0zD4Q7/82k2KYogF43oPakxYJbProoJJTUGTLMineexnEFhCDTW+Tuuj1cbElX0DTs8
NimPUll373zw6hsWwOroNoUsnkm1hob4ncEhYdbq7b5ABbFtQ0dwVv1O8YH7yNG7OLfHTEhwP9YX
R56vlCUdU6ihrtGDbFSBtIAVUqmTgdPfwXteQHMh8M38J3wkxso1nA7eStD2p+p9/2W5GHhD94eu
4/N1ZvEJAAD//wMAUEsDBBQABgAIAAAAIQA9mpx5wAAAANsAAAAPAAAAZHJzL2Rvd25yZXYueG1s
RE/bisIwEH1f8B/CCL6t6SpI7ZoWEQvigqDuBwzN2JZtJqWJtfr1ZkHwbQ7nOqtsMI3oqXO1ZQVf
0wgEcWF1zaWC33P+GYNwHlljY5kU3MlBlo4+Vphoe+Mj9SdfihDCLkEFlfdtIqUrKjLoprYlDtzF
dgZ9gF0pdYe3EG4aOYuihTRYc2iosKVNRcXf6WoUxPH8kq8lP+77Tb3oD9c4/9k6pSbjYf0NwtPg
3+KXe6fD/CX8/xIOkOkTAAD//wMAUEsBAi0AFAAGAAgAAAAhAP4l66UAAQAA6gEAABMAAAAAAAAA
AAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAlgUzWNQAAACXAQAA
CwAAAAAAAAAAAAAAAAAxAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAYw1bz64BAADrBAAA
FAAAAAAAAAAAAAAAAAAuAgAAZHJzL2Nvbm5lY3RvcnhtbC54bWxQSwECLQAUAAYACAAAACEAPZqc
ecAAAADbAAAADwAAAAAAAAAAAAAAAAAOBAAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA+QAA
APsEAAAAAA==
" strokecolor="#4a7ebb">
  <v:stroke endarrow="open"/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19470"
 src="slide0016_image051.png" style='position:absolute;top:18.19%;left:18.01%;
 width:9.0%;height:7.95%'><![endif]><v:shape id="_x0000_s19471" type="#_x0000_t33"
  style='position:absolute;left:352pt;top:172.5pt;width:137.875pt;height:28.625pt;
  rotation:90;visibility:visible;mso-wrap-style:square' o:connectortype="elbow"
  o:gfxdata="UEsDBBQABgAIAAAAIQD+JeulAAEAAOoBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzU7EIBDH
7ya+A+FqWqoHY0zpHqwe1Zj1AQhMW2I7EAbr7ts73e5ejGviEeb/8RuoN7tpFDMk8gG1vC4rKQBt
cB57Ld+3T8WdFJQNOjMGBC33QHLTXF7U230EEuxG0nLIOd4rRXaAyVAZIiBPupAmk/mYehWN/TA9
qJuqulU2YAbMRV4yZFO30JnPMYvHHV+vJAlGkuJhFS5dWpoYR29NZlI1o/vRUhwbSnYeNDT4SFeM
IdWvDcvkfMHR98JPk7wD8WpSfjYTYyiXaNkAweaQWFf+nbSgTlSErvMWyjYRL7V6T3DnSlz4wgTz
f/Nbtr3BfEpXh59qvgEAAP//AwBQSwMEFAAGAAgAAAAhAJYFM1jUAAAAlwEAAAsAAABfcmVscy8u
cmVsc6SQPWsDMQyG90L/g9He8yVDKSW+bIWsIYWuxtZ9kLNkJHNN/n1MoaVXsnWUXvQ8L9rtL2k2
C4pOTA42TQsGKXCcaHDwfnp7egGjxVP0MxM6uKLCvnt82B1x9qUe6ThlNZVC6mAsJb9aq2HE5LXh
jFSTniX5UkcZbPbh7Ae027Z9tvKbAd2KaQ7RgRziFszpmqv5DztNQVi5L03gZLnvp3CPaiN/0hGX
SvEyYHEQRb+WgktTy4G979380xuYCENh+aiOlfwnqfbvBnb1zu4GAAD//wMAUEsDBBQABgAIAAAA
IQBLgF3MqwEAAOIEAAAUAAAAZHJzL2Nvbm5lY3RvcnhtbC54bWy8k91OhDAQhe9NfIem9y4U2HUl
sl5s1BtjNv48QIWiJGXatA0Lb++0IMbEGBOM3JBCO9+Zc6aXV30rSSeMbRQUlK1iSgSUqmrgtaDP
TzdnW0qs41BxqUAUdBCWXu1OTy51bjXBw2BzXdA353QeRbZ8Ey23K6UF4L9amZY7XJrXSBthBTju
ENTKKInjTdTyBugOS0G37+FRH4xflPfdwZCmKmiSUgK8Rey1fFFHslcAonTKkCSh0bR3PslzARWu
JlX8N6oqw4/Y6hdBAc0YxXdf0NSDoqBqJnnBBzN+/yLdhhZ43temXSzDKFfQdRb7B13iuaprgoqy
7DzebDGXAR1iFyxLgxnYfu9IiRvY+TrOWEZJiTvSTZKybWhi1OUraWPdrVDLNfpCBX3BYOdskqCV
d3fWeYc+YR4sF6fjqzjeyGuoiBs0zgY3Rh2nBiWEsMYccETdIMXIfRBoXhjXJYPh3Q39hUkXe2lI
xyVqKEv0gM0qkOaxdSPln4HHIfgRPPE8WtQ1XpX/hM/E0LmCv4O3DSjzne2u/7C8Hnlj+mPqeGmt
3r0DAAD//wMAUEsDBBQABgAIAAAAIQBxl+IowwAAANsAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/B
asMwEETvgfyD2EBviRwXQnAjm1ISiI9N2kNvi7W2TK2VYym226+vCoUeh5k3wxyK2XZipMG3jhVs
NwkI4srplhsFb9fTeg/CB2SNnWNS8EUeiny5OGCm3cSvNF5CI2IJ+wwVmBD6TEpfGbLoN64njl7t
BoshyqGResAplttOpkmykxZbjgsGe3oxVH1e7lZBOn+/X2udlMdyb0K5u3/c+FQq9bCan59ABJrD
f/iPPuvIPcLvl/gDZP4DAAD//wMAUEsBAi0AFAAGAAgAAAAhAP4l66UAAQAA6gEAABMAAAAAAAAA
AAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAlgUzWNQAAACXAQAA
CwAAAAAAAAAAAAAAAAAxAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAS4BdzKsBAADiBAAA
FAAAAAAAAAAAAAAAAAAuAgAAZHJzL2Nvbm5lY3RvcnhtbC54bWxQSwECLQAUAAYACAAAACEAcZfi
KMMAAADbAAAADwAAAAAAAAAAAAAAAAALBAAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA+QAA
APsEAAAAAA==
" strokecolor="#4a7ebb">
  <v:stroke endarrow="open"/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19471"
 src="slide0016_image052.png" style='position:absolute;top:21.73%;left:56.42%;
 width:4.37%;height:26.85%'><![endif]><v:shape id="_x0000_s19472" type="#_x0000_t33"
  style='position:absolute;left:182.375pt;top:173.25pt;width:41pt;height:135.625pt;
  rotation:90;flip:x;visibility:visible;mso-wrap-style:square' o:connectortype="elbow"
  o:gfxdata="UEsDBBQABgAIAAAAIQD+JeulAAEAAOoBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzU7EIBDH
7ya+A+FqWqoHY0zpHqwe1Zj1AQhMW2I7EAbr7ts73e5ejGviEeb/8RuoN7tpFDMk8gG1vC4rKQBt
cB57Ld+3T8WdFJQNOjMGBC33QHLTXF7U230EEuxG0nLIOd4rRXaAyVAZIiBPupAmk/mYehWN/TA9
qJuqulU2YAbMRV4yZFO30JnPMYvHHV+vJAlGkuJhFS5dWpoYR29NZlI1o/vRUhwbSnYeNDT4SFeM
IdWvDcvkfMHR98JPk7wD8WpSfjYTYyiXaNkAweaQWFf+nbSgTlSErvMWyjYRL7V6T3DnSlz4wgTz
f/Nbtr3BfEpXh59qvgEAAP//AwBQSwMEFAAGAAgAAAAhAJYFM1jUAAAAlwEAAAsAAABfcmVscy8u
cmVsc6SQPWsDMQyG90L/g9He8yVDKSW+bIWsIYWuxtZ9kLNkJHNN/n1MoaVXsnWUXvQ8L9rtL2k2
C4pOTA42TQsGKXCcaHDwfnp7egGjxVP0MxM6uKLCvnt82B1x9qUe6ThlNZVC6mAsJb9aq2HE5LXh
jFSTniX5UkcZbPbh7Ae027Z9tvKbAd2KaQ7RgRziFszpmqv5DztNQVi5L03gZLnvp3CPaiN/0hGX
SvEyYHEQRb+WgktTy4G979380xuYCENh+aiOlfwnqfbvBnb1zu4GAAD//wMAUEsDBBQABgAIAAAA
IQCeiUbQswEAAOsEAAAUAAAAZHJzL2Nvbm5lY3RvcnhtbC54bWy8k91q4zAQhe8LfQeh+61thbit
qdOL0J+LZQnb7gNMbSkxyCMhCcd5+47krEuhlIWE9Y0tWdJ35pzR3f3YazZI5zuDNS+ucs4kNqbt
cFvzP6+PP2448wGwBW1Q1vwgPb9fXV7c2cpbRpvRV7bmuxBslWW+2cke/JWxEumfMq6HQEO3zayT
XmKAQKBeZyLPy6yHDvmKjsJhPeKL3bg4aH4NG8e6tuai5AyhJ+yDfjN7tjaIsgnGMbHk2XHtvBMq
H2hwFAX/Iqp1sKdKP+lJ5FtOr5EUREyWNM2cKHfjpvlPwn0qAKpRuf5kFc4EyqMkn+jhTOnOPtME
2QWVUYpFcYtiuShJ6oG+RV6IYhHlQiXHwBpasBSFWFCADS0oroW4vS5TPZPEuNI6H56kOV1uPKjm
b5TwHJJIWmH46UM06wMWwfrknOIpATr9gC0LB0tNAs6Z/bFAjSm3KRLq1XDQcuL+lmRe6ttTWoTc
nbJILS/X2rEBNGloGvKgmFUQLWJVp/XZwHky9lvwkRfRUim6M/8TPhNT5QbPB+87NO6r6sP413I1
8ab0p9Tp/nq7egcAAP//AwBQSwMEFAAGAAgAAAAhANltY/HEAAAA2wAAAA8AAABkcnMvZG93bnJl
di54bWxEj0FrwkAUhO+F/oflFXqrG4NYia5BDJZCoZCo6PGRfSYh2bchu2r677uFgsdhZr5hVulo
OnGjwTWWFUwnEQji0uqGKwWH/e5tAcJ5ZI2dZVLwQw7S9fPTChNt75zTrfCVCBB2CSqove8TKV1Z
k0E3sT1x8C52MOiDHCqpB7wHuOlkHEVzabDhsFBjT9uayra4GgVH114/zth+6VNbfM/iWZa/55lS
ry/jZgnC0+gf4f/2p1YQz+HvS/gBcv0LAAD//wMAUEsBAi0AFAAGAAgAAAAhAP4l66UAAQAA6gEA
ABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAlgUz
WNQAAACXAQAACwAAAAAAAAAAAAAAAAAxAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAnolG
0LMBAADrBAAAFAAAAAAAAAAAAAAAAAAuAgAAZHJzL2Nvbm5lY3RvcnhtbC54bWxQSwECLQAUAAYA
CAAAACEA2W1j8cQAAADbAAAADwAAAAAAAAAAAAAAAAATBAAAZHJzL2Rvd25yZXYueG1sUEsFBgAA
AAAEAAQA+QAAAAQFAAAAAA==
" strokecolor="#4a7ebb">
  <v:stroke endarrow="open"/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19472"
 src="slide0016_image053.png" style='position:absolute;top:40.81%;left:18.67%;
 width:19.2%;height:9.01%'><![endif]><v:shapetype id="_x0000_t32" coordsize="21600,21600"
  o:spt="32" o:oned="t" path="m,l21600,21600e" filled="f">
  <v:path arrowok="t" fillok="f" o:connecttype="none"/>
  <o:lock v:ext="edit" shapetype="t"/>
 </v:shapetype><v:shape id="_x0000_s19473" type="#_x0000_t32" style='position:absolute;
  left:342pt;top:294pt;width:0;height:18pt;visibility:visible;mso-wrap-style:square'
  o:connectortype="straight" o:gfxdata="UEsDBBQABgAIAAAAIQD+JeulAAEAAOoBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzU7EIBDH
7ya+A+FqWqoHY0zpHqwe1Zj1AQhMW2I7EAbr7ts73e5ejGviEeb/8RuoN7tpFDMk8gG1vC4rKQBt
cB57Ld+3T8WdFJQNOjMGBC33QHLTXF7U230EEuxG0nLIOd4rRXaAyVAZIiBPupAmk/mYehWN/TA9
qJuqulU2YAbMRV4yZFO30JnPMYvHHV+vJAlGkuJhFS5dWpoYR29NZlI1o/vRUhwbSnYeNDT4SFeM
IdWvDcvkfMHR98JPk7wD8WpSfjYTYyiXaNkAweaQWFf+nbSgTlSErvMWyjYRL7V6T3DnSlz4wgTz
f/Nbtr3BfEpXh59qvgEAAP//AwBQSwMEFAAGAAgAAAAhAJYFM1jUAAAAlwEAAAsAAABfcmVscy8u
cmVsc6SQPWsDMQyG90L/g9He8yVDKSW+bIWsIYWuxtZ9kLNkJHNN/n1MoaVXsnWUXvQ8L9rtL2k2
C4pOTA42TQsGKXCcaHDwfnp7egGjxVP0MxM6uKLCvnt82B1x9qUe6ThlNZVC6mAsJb9aq2HE5LXh
jFSTniX5UkcZbPbh7Ae027Z9tvKbAd2KaQ7RgRziFszpmqv5DztNQVi5L03gZLnvp3CPaiN/0hGX
SvEyYHEQRb+WgktTy4G979380xuYCENh+aiOlfwnqfbvBnb1zu4GAAD//wMAUEsDBBQABgAIAAAA
IQDBFXVGkAEAAHIEAAAUAAAAZHJzL2Nvbm5lY3RvcnhtbC54bWy8k1FLwzAQx98Fv0PIu0u3jjnK
uiFDfREZTj/A0aZbIbmEJHTdt/fS1glDRHRIX5Jccr///e+6WLVasUY6XxvM+XiUcCaxMGWNu5y/
vT7czDnzAbAEZVDm/Cg9Xy2vrxY285bRY/SZzfk+BJsJ4Yu91OBHxkqkWGWchkBbtxPWSS8xQCCQ
VmKSJDOhoUa+pFTYrFvc2o2Lm+K52ThWlzlPp5whaMJug4N6tw/szjlzYGuDKItgHEtTLoZHQ4pu
i5SCFuIste8QkLWV04N4+In40sGBHDnTDZmpKtbmfJrSl5B1R9J8m6ZzWhMdMtkGVtAFChUUm0zm
sz4keg3xjnU+PErzZz0sJsq5H5w6WTQmhyGD5smH6MgnMB4rvIQNAWp1jyULR0u9gtiiWD+xFHZN
6H2nkQlHJXvuiyTruvH5dQdoRsjbvr5u8uRaOdaAIg1FQcM2PqkgWsRWtVIXAyedsd+CB15Ey6qi
if1P+InYVW7wcnBdo3FfVR/aD8urntd3v+86/YzeLt8BAAD//wMAUEsDBBQABgAIAAAAIQDJv/ye
xQAAANsAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9Pa8JAFMTvQr/D8gq96cY2iKSuYkUhFwv+gx5f
s69JSPZtzK4a/fRuQfA4zMxvmMmsM7U4U+tKywqGgwgEcWZ1ybmC/W7VH4NwHlljbZkUXMnBbPrS
m2Ci7YU3dN76XAQIuwQVFN43iZQuK8igG9iGOHh/tjXog2xzqVu8BLip5XsUjaTBksNCgQ0tCsqq
7ckoWKTrNP1ajavv38NPtTS3+HjYxEq9vXbzTxCeOv8MP9qpVvARw/+X8APk9A4AAP//AwBQSwEC
LQAUAAYACAAAACEA/iXrpQABAADqAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNd
LnhtbFBLAQItABQABgAIAAAAIQCWBTNY1AAAAJcBAAALAAAAAAAAAAAAAAAAADEBAABfcmVscy8u
cmVsc1BLAQItABQABgAIAAAAIQDBFXVGkAEAAHIEAAAUAAAAAAAAAAAAAAAAAC4CAABkcnMvY29u
bmVjdG9yeG1sLnhtbFBLAQItABQABgAIAAAAIQDJv/yexQAAANsAAAAPAAAAAAAAAAAAAAAAAPAD
AABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD5AAAA4gQAAAAA
" strokecolor="#4a7ebb">
  <v:stroke endarrow="open"/>
 </v:shape><![if !vml]><img border=0 v:shapes="_x0000_s19473"
 src="slide0016_image054.png" style='position:absolute;top:54.41%;left:46.75%;
 width:1.58%;height:3.88%'><![endif]><v:shape id="_x0000_s19474" type="#_x0000_t32"
  style='position:absolute;left:351pt;top:408pt;width:0;height:24pt;
  visibility:visible;mso-wrap-style:square' o:connectortype="straight"
  o:gfxdata="UEsDBBQABgAIAAAAIQD+JeulAAEAAOoBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzU7EIBDH
7ya+A+FqWqoHY0zpHqwe1Zj1AQhMW2I7EAbr7ts73e5ejGviEeb/8RuoN7tpFDMk8gG1vC4rKQBt
cB57Ld+3T8WdFJQNOjMGBC33QHLTXF7U230EEuxG0nLIOd4rRXaAyVAZIiBPupAmk/mYehWN/TA9
qJuqulU2YAbMRV4yZFO30JnPMYvHHV+vJAlGkuJhFS5dWpoYR29NZlI1o/vRUhwbSnYeNDT4SFeM
IdWvDcvkfMHR98JPk7wD8WpSfjYTYyiXaNkAweaQWFf+nbSgTlSErvMWyjYRL7V6T3DnSlz4wgTz
f/Nbtr3BfEpXh59qvgEAAP//AwBQSwMEFAAGAAgAAAAhAJYFM1jUAAAAlwEAAAsAAABfcmVscy8u
cmVsc6SQPWsDMQyG90L/g9He8yVDKSW+bIWsIYWuxtZ9kLNkJHNN/n1MoaVXsnWUXvQ8L9rtL2k2
C4pOTA42TQsGKXCcaHDwfnp7egGjxVP0MxM6uKLCvnt82B1x9qUe6ThlNZVC6mAsJb9aq2HE5LXh
jFSTniX5UkcZbPbh7Ae027Z9tvKbAd2KaQ7RgRziFszpmqv5DztNQVi5L03gZLnvp3CPaiN/0hGX
SvEyYHEQRb+WgktTy4G979380xuYCENh+aiOlfwnqfbvBnb1zu4GAAD//wMAUEsDBBQABgAIAAAA
IQB88jBGkQEAAHIEAAAUAAAAZHJzL2Nvbm5lY3RvcnhtbC54bWy8k29LwzAQxt8LfoeQ966t+0tZ
N2Sob0SG0w9wtMlWSC8hCV377b20dcIQER2+y/WS+z333HW5birFamFdqTHjySjmTGCuixL3GX97
fbhZcOY8YAFKo8h4Kxxfr66vliZ1htFjdKnJ+MF7k0aRyw+iAjfSRiDlpLYVeArtPjJWOIEePIEq
Fd3G8SyqoES+olJYbxrcma0NQf5cby0ri4yPZ5whVITdeQvl/uDZnbX6yDYaUeReWzae8mh4NJTo
QqQSdIjOSrsOAWkjbTWIh5+ILywcyZEz3ZBqKVmT8clkOp/HZF2b8WmySGZ0JjqkovEspwuUyik3
jieLPhX1GsIdY51/FPrPelgolHE3OHWyKCGHIYX6yfngyCcwfFZ4CRs8lOoeC+ZbQ7OCMKLQP7EU
dkPofaeV8a0SPfdFkHXd+vx6ArQj5G3fX7d5YqMsq0GRhjynZUtOKogWsLJU6mLguDP2W/DAC2gh
JW3sf8JPxK5zjZeDVyVq+1X3vvmwXPa8fvr91OlndGb1DgAA//8DAFBLAwQUAAYACAAAACEAViHH
csYAAADbAAAADwAAAGRycy9kb3ducmV2LnhtbESPT2vCQBTE74LfYXmCN934B5HUVaoo5GJB20CP
r9nXJCT7NmZXjf303YLQ4zAzv2FWm87U4katKy0rmIwjEMSZ1SXnCj7eD6MlCOeRNdaWScGDHGzW
/d4KY23vfKLb2eciQNjFqKDwvomldFlBBt3YNsTB+7atQR9km0vd4j3ATS2nUbSQBksOCwU2tCso
q85Xo2CXHJNke1hWb1/pZ7U3P/NLeporNRx0ry8gPHX+P/xsJ1rBbAF/X8IPkOtfAAAA//8DAFBL
AQItABQABgAIAAAAIQD+JeulAAEAAOoBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBl
c10ueG1sUEsBAi0AFAAGAAgAAAAhAJYFM1jUAAAAlwEAAAsAAAAAAAAAAAAAAAAAMQEAAF9yZWxz
Ly5yZWxzUEsBAi0AFAAGAAgAAAAhAHzyMEaRAQAAcgQAABQAAAAAAAAAAAAAAAAALgIAAGRycy9j
b25uZWN0b3J4bWwueG1sUEsBAi0AFAAGAAgAAAAhAFYhx3LGAAAA2wAAAA8AAAAAAAAAAAAAAAAA
8QMAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPkAAADkBAAAAAA=
" strokecolor="#4a7ebb">
  <v:stroke endarrow="open"/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s19475"
  type="#_x0000_m1026" style='position:absolute;left:28.75pt;top:9.625pt;
  width:9in;height:44.375pt;visibility:visible;mso-wrap-style:square;
  v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s19474" src="slide0016_image055.png"
 style='position:absolute;top:75.44%;left:48.07%;width:1.58%;height:4.94%'><![endif]>
 <div v:shape="_x0000_s19475" class=T style='position:absolute;top:3.53%;
 left:5.03%;width:88.07%;height:4.59%'><span style='font-size:45%'><b>Request
 Process</b></span><span style='font-size:45%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
