<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Provider Demographic Form">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="wheel" direction="1" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="29"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_4" o:spid="_x0000_s29698" type="#_x0000_t75"
  style='position:absolute;left:61.875pt;top:102pt;width:595.5pt;height:420pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0027_image072.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_4"
 src="slide0027_image072.gif" style='position:absolute;top:18.9%;left:8.6%;
 width:82.64%;height:77.73%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s29699" type="#_x0000_t202" style='position:absolute;
  left:61.875pt;top:51.125pt;width:595.25pt;height:50.875pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t66" coordsize="21600,21600" o:spt="66"
  adj="5400,5400" path="m@0,l@0@1,21600@1,21600@2@0@2@0,21600,,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="@4,@1,21600,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s29700" type="#_x0000_t66" style='position:absolute;
  left:486pt;top:264pt;width:87.375pt;height:24pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEA9Ndg
X/8CAADkBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WtHNhvuKBQES7UOEIgIf
MPF6k228Y8v2hoSv79jeJEArVDXwEMbrY8+Z47lcXK1axZbSukZjyfPvA84kCl01OCv50+PdwRln
zgNWoDTKkq+l41eXX79cmMIZRofRFabkc+9NkWVOzGUL7rs2Emmv1rYFT0s7y4yVTqIHT45alQ0H
g5OshQb5JV2Fy4kZ22CJ++XYsqYq+SlnCC25HMnas2tr9TM74VkPCvhoI+HJyF5f4uJlUKxq2/Yc
4V84VhaeKfB39KDQdc1WJT/JT4fEm7N1yQ8Pj4dnZJNrKOTKM0GAPB+cnZ8TcREQg6MekCUmAWms
8z+k3psVCxeVXJE0URlSEQpYjpwPWuz8RGGSHPRgfq1kACp8kBRRfLz/FoYeiUIeRs/x3eWtsmwJ
quQgBD11nrbmUMn0+XhAf0ExIrg9EVeRUGBWN0p9GreeQMjJP7klGr2/4FrWtRT+05wPPhImOd96
jJFr/DznbYPa/o2AolfpI0/+UoKkxDCFX93oah3oTOk/FeK+OWK9utWUEVQ0gGKubcmFt6lqlPOT
4HhfJxQPJfy+t8RLKOIW7CjyJeMhGmqZAmiwoqxOsagZdcsQCatk/QjTyUvJz/Ojo9AdKOYIkjDC
G7ugtsBZTWpfx0PQec2Zoj6I/TYdmQPOqPGMOxTkIOWtwokRgZUzYix8KqE8lNCmhl4jbmS9wXqX
sBsYnd/tXtf+A1y/O+2olB9XUdhpN3nZmncUxnZxTwMhQjxMU+OBgtR4SP2YniR0dKorrMZggT6z
Rdc2rf7VJFkp5pJLPHia0Igh/fLQLtk0biZIV3IkJ2EC2WZBowD1JFqcLaQN8yq2YwE0gXqgEfE8
pX8LqnmRP+NyCk6qJswv8oB6bLWugx34KQy/qO+o9aTSSF+cVk0VPka93jaRXRm9QaWC3mjRjbDX
qgvX9HZ8eebXRtYgiNC3Fg+U7+cIvNuQkDaEe7chXF/GO3VjIzWxnjdlTEPRmcvfAAAA//8DAFBL
AwQUAAYACAAAACEA6eQlwtkAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPS08CMRSF9yb+h+aa
uJMOPniMFCImCBuDA8TE3XV6mY5ObydtheHf07jQ5ck5+U6+yayzjTiQD7VjBf1eBoK4dLrmSsFu
u7gZgQgRWWPjmBScKMBsenkxwVy7Ixd02MRKJAiHHBWYGNtcylAashh6riVO3d55izFFX0nt8Zjg
tpG3WTaQFmtODwZbejZUfm9+rIL3l9Vu/nHXvhX9ddUs7eJrPrrfKnV91T09gojUxf/x+tUMHsZ/
5S9qpRUMQeyXp09f6wJDJK8guSXTZAlyegYAAP//AwBQSwECLQAUAAYACAAAACEA8PeKu/0AAADi
AQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx
3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQD0
12Bf/wIAAOQHAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgA
AAAhAOnkJcLZAAAA+QAAAA8AAAAAAAAAAAAAAAAAVgUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAA
BAAEAPUAAABcBgAAAAA=
" adj="2968" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <![if !vml]><img border=0 v:shapes="_x0000_s29700" src="slide0027_image073.png"
 style='position:absolute;top:48.23%;left:67.15%;width:12.84%;height:6.0%'><![endif]>
 <div v:shape="_x0000_s29699">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:10.07%;left:9.53%;width:92.71%;
 height:4.24%'>In this example<span style='mso-spacerun:yes'>  </span>we are
 changing last name from Heart to Heat and address &#13;</div>
 <div class=O style='position:absolute;top:14.13%;left:9.53%;width:97.08%;
 height:4.24%'>line 1. The form will display the original data users submit the
 new information.<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s29700">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:49.11%;left:69.27%;width:9.27%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13" adj="16200,5400"
  path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s29701" type="#_x0000_t13" style='position:absolute;
  left:18pt;top:408pt;width:1in;height:30pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAiU7C
gvgCAADkBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVV9P2zAQf5+072D5dYK0DFgXERAgsT1UqGrg
A1wdp83qnC3bKS2ffmc7bYFNaFp5aS++s+93v/t3cbVuFVtJ6xqNBR8eDziTKHTV4Lzgjw93RyPO
nAesQGmUBd9Ix68uP3+6MLkzjC6jy03BF96bPMucWMgW3LE2EklXa9uCp087z4yVTqIHT45alZ0M
BudZCw3yS3oKV6WZ2CCJ+9XEsqYqODlGaMnltJkvPLu2Vj+xbzzrrcKFKCNdICF7+YqLr0G+rm3b
g4R/AVlZeKLI3+CDXNc1Wxf85GR0PiCGNgU/G46GQSbPkMu1Z4L034enp0EvyODraDhI+izhCIbG
Ov9D6oMxsfBQwW1gJhJDLEIOq7HzgYq9o8hLYoMS5jdKBkOFU0kBxeT9Ny+UpEBJ9BzzLm+VZStQ
BQchKNXDpFpAJdPxGRESGSOAuxsRbgQUkNWNUh+GrQcQavJPbImn3l9wLetaCv9hzgfvEZOc7zzG
yDV+nPO2QW3/BkBRVvrIk79UIKkwTO7XN7raBDgz+qdGPLRGrFe3miqCmgJQLLQtuPA2dY1yvgyO
D3VC8VDBH/pKfIQibsGOI14SplFQqxRAgxVVdYpFzWlahkhYJesHmJXP++6nmKORhDHe2CVNVc5q
Yvs6XoLOa84UzUHs1cTNAnBOc2fSoSAHqW4VlkYEVM6IifCphcJM2fXQS4sbWW9tvUu2u1YzYq+9
rv07dr121lErP6wjsbOufN6JdxTG7uOeFkI08TBLgwdyYmOaxjGlJEx06iusJmCBjtmya5tW/2oS
rRRzwSUePZa0Yoi/4SjMzllUJpOu4EhOwgayzZJWAeoySpwtpQ37itYIjVugDdQbGhHvU/m3oJpn
+TN+zsBJ1YT9ReaoJ1brOsgBn8Lwi/qORk9qjXTitGqqcBj5ej1E9m30yio19JaLbow9V114ppdj
5pnfGFmDIEBfWjxSvt8j8EYhISmEe6MQrm/jPbtp7sd+3rYx7URnLn8DAAD//wMAUEsDBBQABgAI
AAAAIQBB5+uQ2QAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9NSwMxEIbvgv8hjOBF2qwFS12b
liJYe9BqP0C8jZvZzeJmsiRxd/vvGzzocXiH532f+XKwjejIh9qxgttxBoK4cLrmSsHx8DSagQgR
WWPjmBScKMBycXkxx1y7nnfU7WMlEoRDjgpMjG0uZSgMWQxj1xKnrHTeYkynr6T22Ce4beQky6bS
Ys2pwWBLj4aK7/2PVfC+XXdxVnzcmMlx87nqX9blFq1S11fD6gFEpCH+P7+9mund/V/4i9poBWl4
+Xz68rXeYYjkFSS3ZJosQS7OAAAA//8DAFBLAQItABQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAA
AAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADHdX2HSAAAA
jwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAIlOwoL4AgAA
5AcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAUAAYACAAAACEAQefr
kNkAAAD5AAAADwAAAAAAAAAAAAAAAABPBQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA9QAA
AFUGAAAAAA==
" adj="17100" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s29702"
  type="#_x0000_m1026" style='position:absolute;left:35.625pt;top:18pt;width:9in;
  height:38.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s29701" src="slide0027_image074.png"
 style='position:absolute;top:74.91%;left:2.38%;width:10.72%;height:7.24%'><![endif]>
 <div v:shape="_x0000_s29701">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:76.32%;left:3.7%;width:7.01%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s29702" class=T style='position:absolute;top:4.59%;
 left:5.96%;width:88.07%;height:4.59%'><span style='font-size:45%'><b>Provider
 Demographic Form</b></span><span style='font-size:45%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
