<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Network Administrators Approval">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="wipe" direction="left" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="25"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=7)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s25602" type="#_x0000_t75"
  style='position:absolute;left:0;top:82.625pt;width:10in;height:374.75pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0023_image066.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0023_image066.gif" style='position:absolute;top:15.37%;left:0%;
 width:100.0%;height:69.43%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s25603" type="#_x0000_t202" style='position:absolute;
  left:156pt;top:51.5pt;width:453.5pt;height:29.125pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t66" coordsize="21600,21600" o:spt="66"
  adj="5400,5400" path="m@0,l@0@1,21600@1,21600@2@0@2@0,21600,,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="@4,@1,21600,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s25604" type="#_x0000_t66" style='position:absolute;
  left:5in;top:312pt;width:1in;height:24pt;visibility:visible;mso-wrap-style:square;
  v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEA7VlD
afkCAADjBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVcFOGzEQvVfqP1i+VnQTChRWLAiQaA8Righ8
wMTrTbbx2ivbGxK+vs/2JgFaoarhksx6nj1vnj0z55erRrGltK42uuDDrwPOpBamrPWs4I8Ptwen
nDlPuiRltCz4Wjp+efH503mbu5Zhs3Z5W/C5922eZU7MZUPuq2mlhq8ytiGPTzvLWiud1J48AjUq
OxwMTrKGas0vcJReTtqxDZa4W44tq8uCn3CmqUHIkaw8u7LWPLFjnvWggI+2Bh5G9vIQFw+jfFXZ
pudI/8KxtPSExN/Qo9xUFVsV/Oj4O2hDoXXBv52dHB7BRmjK5cozAcDZ8CisMREAg6PT5M8SkQBs
rfM/pNmbFAsHFVxBmSgMRKScliPngxS7OFGXpAbuy6+VDECl7yUSinf337rgjpDxYYwcr13eKMuW
pApOQuCmh8k1p1Km5WNoFwUDwe2OSDcSCsyqWqkP49YTCE/yT25Jpz5eCC2rSgr/YcEH7wmTgm8j
xsyN/rjgTa2N/RsBhVvpM0/x0gNJD6PN/eralOtAZ4p/1OG+b8R6dWPwIlATpMXc2IILb1PRKOcn
IfC+QZAPHvy+p8RDkHFDdhT5wriPhlqmBGpd4lWnXNQMzTJkwkpZPdB08rwrfuQcQZJG+tou0FQ5
q6D2VdxEnTecKbRB3buhzZz0DH1n3GmBAOndKj1pRWDlWjEWPpXQMJTQpoZeIq5ltcF6l7AbGPbv
vFeVfwfXe6cdSvlhFYWddpPnrXmLNLYfd5gHEeJpmhoP5VDjPrVjXElo6KgrXY7JEpbZomvqxvyq
k6zIueBSHzxOMGGg3zC0SzaNzgTpCq4RJAwgWy8wCbSZRIuzhbRhXKEdo9sSBlAPbEXcj+ffkKqf
5c/4OSUnVR3GF+DajK0xVbADP6XDrza3aD2pNNKKM6ouw2LU63UT2ZXRK1Qq6I0W3Uj3WnXhmN6O
N8/8upUVCRD60ugD5fsxQm8ckpJDuDcO4foy3qmb+n6s500ZYya69uI3AAAA//8DAFBLAwQUAAYA
CAAAACEAulncftcAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPUUvDMBSF3wX/Q7iCby51YHHd
sjFE0Ye60SrDx2tz11SbpCR3W/fvDT7o4+EcvsO3WI22F0cKsfNOwe0kA0Gu8bpzrYL3t6ebexCR
0WnsvSMFZ4qwWl5eLLDQ/uQqOtbcigRxsUAFhnkopIyNIYtx4gdyqdv7YJFTDK3UAU8Jbns5zbJc
WuxcejA40IOh5rs+2ESpQ1hPH782s03/UXK5K7Pq0Ch1fTWu5yCYRv4fb19Nfjf7K39RL1pBDmL/
fP4Mna4wMgUFyS2ZJkuQyx8AAAD//wMAUEsBAi0AFAAGAAgAAAAhAPD3irv9AAAA4gEAABMAAAAA
AAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACP
AQAACwAAAAAAAAAAAAAAAAAuAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEA7VlDafkCAADj
BwAAEAAAAAAAAAAAAAAAAAApAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQC6Wdx+
1wAAAPkAAAAPAAAAAAAAAAAAAAAAAFAFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAA
VAYAAAAA
" adj="3600" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s25605"
  type="#_x0000_m1026" style='position:absolute;left:36pt;top:7.5pt;width:9in;
  height:32.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'
  o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAMdNr
SCkDAADkBwAAEAAAAGRycy9zaGFwZXhtbC54bWzEVd9v0zAQfkfif7D8ikqb0o01Woq2SQOkClV0
PKOL43RZHTuy3dLur+eznXYFgUDsgT6k59z57rvvfuTy3a5VbCuta4wuePZ6xJnUwlSNXhX8y93t
4IIz50lXpIyWBd9Lx9/NXr647HLXMVzWLu8Kfu99lw+HTtzLltxr00kNXW1sSx5Huxp2VjqpPXkE
atVwPBqdD1tqNJ/Bld4uu4UNkvi0XVjWVAUfc6apRci7xivJMj7s9cmUEH9uxNr1IOhvQFSWviGz
H+Izbd5bpBADDCOCAxgNLCFod8/8vgMUH6BwwNsVfDKeTqbnb8fTs4AMF5N1FA4OXMyK8l1t2+fi
nF1SbuqahdBnb8EfZ/uCT88u3kwCAMrlzjMB7cV4PD0PagH9JMuy83FEmGBEqAlXl/vdtan24XKJ
fxCfCvrvXKKTPAph7CNn6qN2AJhNJsDi4yEC58yeasofNF7dGFVw3CAt4Kfgwlv0COUazXS18aZu
fOD7ADmolPNLv0eTPBN+pPHQ1f9MQkCEurOW7DxmAuFzFNQ2pdboCqOQslQrzF3IkVWyvqNy+dhz
BgqsT/aS5vrarkOPstpofxUvEcgAy5go3atx5Z70Ch2+2GiBAFlkTullJwIq14mF8GxLcJuNwq9v
jFOLa1n/bHsww/0n7VXtD3beJZ8ndr223Nwoe7eLxJab5eNRvEUax8MnrJZo4qmcu1BeysHG54WF
iEr3U4RZpNyC2fWmbVrz0CRSkXHBpR58WWJVgb3sIjR/GdlKJpuCa4QIm8w2a8yxNssocbaWNuy9
OE6CsAZ6w05E56HpSDWP8kM8luSkasIeRARtFtaYOspVYz2mDW9d62+UJDgd9eQH1NrcNkqlbJSO
vBnVVOFlPNhVCaJ6Fk8r407NZF1L4Q8Mbea6Z3AT/PRy7Ie4rmoSAHoD+KVt+hVBJ5pXrR5ISgrh
flII17cG+A4I/Yx9jT/W/6fT1+Mx1AkNgWe0l7pakCWU8A/Vwnb4f9UKmaVy/KlA4cMmjyXyu/S1
wEg9tz6v2oeB8r8sz8PvyvMwOJbniec0KXg+rXWIrpt9BwAA//8DAFBLAwQUAAYACAAAACEAgGbk
79cAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPTUsDMRRF94L/ITzBjdhMi5RxbFpEKHEldMbq
9jl586GTlyGJ7dRfb3BRl5d7OZez2kx2EAfyoXesYD7LQBDXzvTcKnittrc5iBCRDQ6OScGJAmzW
lxcrLIw78o4OZWxFgnAoUEEX41hIGeqOLIaZG4lT1zhvMaboW2k8HhPcDnKRZUtpsef00OFITx3V
X+W3VVDqZnnzvp/ffep9pbVx+dt4nyt1fTU9PoCINMX/8fYnvnB1Lv9Qz0bBAkSjTx++NzsMkbyC
5JZMkyXI9S8AAAD//wMAUEsBAi0AFAAGAAgAAAAhAPD3irv9AAAA4gEAABMAAAAAAAAAAAAAAAAA
AAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAA
AAAAAAAAAAAuAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAMdNrSCkDAADkBwAAEAAAAAAA
AAAAAAAAAAApAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQCAZuTv1wAAAPkAAAAP
AAAAAAAAAAAAAAAAAIAFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAAhAYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s25604" src="slide0023_image067.png"
 style='position:absolute;top:57.06%;left:49.66%;width:10.72%;height:6.0%'><![endif]>
 <div v:shape="_x0000_s25603">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:10.24%;left:22.64%;width:72.18%;
 height:4.24%'>Network administrators verify account name and approval.<span
 style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s25604">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:57.95%;left:51.78%;width:7.15%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s25605" class=T style='position:absolute;top:2.29%;
 left:5.96%;width:88.07%;height:4.24%'><span style='font-size:41%;color:black'><b>Network
 Administrators Approval</b></span><span style='mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
