<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Open Requests">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="checker" direction="horizontal" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="15"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=10)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s15362" type="#_x0000_t202" style='position:absolute;
  left:12.75pt;top:39.375pt;width:672pt;height:72.625pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s15362">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:7.95%;left:2.78%;width:105.82%;
 height:4.24%'>Any <b>new</b> account request for any account that has an <b>open</b>
 request will be added onto </span><span style='position:absolute;top:11.83%;
 left:2.78%;width:91.39%;height:4.24%'>the current open request.&#13;</span></div>
 <div class=O style='position:absolute;top:15.9%;left:2.78%;width:92.71%;
 height:4.24%'>Here S. Defruscio is adding a new account eBed-DCMH to the open
 request.<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_4" o:spid="_x0000_s15363" type="#_x0000_t75"
  style='position:absolute;left:3.25pt;top:112.5pt;width:716.75pt;height:204pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0012_image036.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_4"
 src="slide0012_image037.png" style='position:absolute;top:20.84%;left:.39%;
 width:99.6%;height:37.8%'><![endif]><v:shape id="Picture_x0020_5" o:spid="_x0000_s15364"
  type="#_x0000_t75" style='position:absolute;left:0;top:342pt;width:10in;
  height:186.125pt;visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0012_image038.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_5"
 src="slide0012_image038.gif" style='position:absolute;top:63.25%;left:0%;
 width:100.0%;height:34.45%'><![endif]><v:shape id="_x0000_s15365" type="#_x0000_t202"
  style='position:absolute;left:2in;top:318.5pt;width:281.125pt;height:29.125pt;
  visibility:visible;mso-wrap-style:none;v-text-anchor:top' filled="f"
  stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t66" coordsize="21600,21600" o:spt="66"
  adj="5400,5400" path="m@0,l@0@1,21600@1,21600@2@0@2@0,21600,,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="@4,@1,21600,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s15366" type="#_x0000_t66" style='position:absolute;
  left:6in;top:450pt;width:1in;height:36pt;visibility:visible;mso-wrap-style:square;
  v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAvT/G
7/cCAADjBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WsEmKFy6YkGARPsQoYjA
B0y83mQbr72yvSHh63tsbxKgFaoKL8ms59hn5tgzc365bhRbSetqows+PBxwJrUwZa3nBX98uD04
48x50iUpo2XBN9Lxy4uvX87b3LUMm7XL24IvvG/zLHNiIRtyh6aVGr7K2IY8Pu08a610UnvyIGpU
djQYnGQN1Zpf4Ci9mrYTGyxxt5pYVpcFB7GmBpRjWXl2Za15Yqc860EBH20NPIzs5SEuHkb5urJN
HyP9S4ylpSck/iY8yk1VsXXBj0dnJ6MBFNrAPh0eD2CDmnK59kwA8H04in4BwOj4FDkGf5YCCcDW
Ov9Dmg8HxcJBBVdQJgoDESmn1dj5xLflibokNXBffqNkACp9L5FQvLv/1gV3hIyPInO8dnmjLFuR
KjgJgZseJteCSpmWg15bQXY7ojwxoBBZVSv1abH1AYQn+WdsSaeeL1DLqpLCfxr54D1hEvmOMWZu
9OeRN7U29m8BKNxKn3niSw8kPYw29+trU25CODP8ow4/+kasVzcGLwI1Q1osjC248DYVjXJ+Gog/
SoJ8UFgfPSUegowbsuMYL4z7aKhVSqDWJV51ykXN0SxDJqyU1QPNps/74kfOESRprK/tEk2Vswpq
X8VN1HnDmUIb1L0b2ixIz9F3Jp0WIEjvVulpK0JUrhUT4VMJDUMJbWvoJeJaVlusdwm7hWH/3ntV
+XdwvXfWoZQf1lHYWTd93pm3SGP3cYd5ECGeZqnxUA417lM7xpWEho660uWELGGZLbumbsyvOsmK
nAsu9cHjFBMG+g3PkBmbRWeCdAXXIAkDyNZLTAJtptHibCltGFehwzJBGEA9sBVxP55/Q6p+lj/j
54ycVHUYX4BrM7HGVMEO8SkdfrW5RetJpZFWnFF1GRajXq+byL6MXqFSQW+16Ma616oLx/R2vHnm
N62sSCCgb40+UL4fI/TGISk5hHvjEK4v4726sZG2sZ63ZYyZ6NqL3wAAAP//AwBQSwMEFAAGAAgA
AAAhAPxHDZfYAAAA+QAAAA8AAABkcnMvZG93bnJldi54bWxEj0FPAjEQhe8m/odmTLhJ191AcGUg
BgJ6AA2oB2/jdtiubttNW2H59zYe9Dh5k++9bzrvTSuO7EPjLMLNMAPBtnKqsTXC68vqegIiRLKK
WmcZ4cwB5rPLiymVyp3sjo/7WIsEsaEkBB1jV0oZKs2GwtB1bFN2cN5QTKevpfJ0SnDTyjzLxtJQ
Y1ODpo4Xmquv/bdB6NYxnyyL9dNn8V6Yzdtou+lzhTi46u/vQETu4//z81aPR7d/4S/qUSGk4YeH
84dv1I5CZI+Q3JJpsgQ5+wEAAP//AwBQSwECLQAUAAYACAAAACEA8PeKu/0AAADiAQAAEwAAAAAA
AAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8B
AAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQC9P8bv9wIAAOMH
AAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhAPxHDZfY
AAAA+QAAAA8AAAAAAAAAAAAAAAAATgUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAABT
BgAAAAA=
" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s15367"
  type="#_x0000_m1026" style='position:absolute;left:36pt;top:7.875pt;width:9in;
  height:32.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s15366" src="slide0012_image039.png"
 style='position:absolute;top:82.68%;left:59.6%;width:10.72%;height:7.77%'><![endif]>
 <div v:shape="_x0000_s15365">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:59.54%;left:21.05%;width:44.37%;
 height:4.24%'>The request now shows 2 accounts .<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s15366">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:84.62%;left:62.11%;width:6.88%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s15367" class=T style='position:absolute;top:2.12%;
 left:5.96%;width:88.07%;height:4.59%'><span style='font-size:45%'><b>Open
 Requests</b></span><span style='font-size:45%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
