<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Employee Sign On Form ">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="20"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s20482" type="#_x0000_t75"
  style='position:absolute;left:159.25pt;top:37.875pt;width:542.25pt;height:496.5pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0018_image056.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0018_image057.png" style='position:absolute;top:7.06%;left:22.11%;
 width:75.36%;height:91.87%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s20483" type="#_x0000_t202" style='position:absolute;
  left:.5pt;top:186pt;width:158.75pt;height:50.875pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s20484"
  type="#_x0000_m1026" style='position:absolute;left:36pt;top:3.125pt;width:9in;
  height:32.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'
  o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEA7l75
yyMDAAB2CQAAEAAAAGRycy9zaGFwZXhtbC54bWzsVt9v2jAQfp+0/8Hy69SGIEoLaqjaSt0moQo1
9HkyjgMpjh3ZhgF//T7boaW8dGonTZPGQzhz57vvvvsRLq82tSRrYWylVUbT0w4lQnFdVGqe0cfp
3ckFJdYxVTCplcjoVlh6Nfr86bIZ2obgsrLDJqML55phkli+EDWzp7oRCrpSm5o5HM08aYywQjnm
EKiWSbfT6Sc1qxQdwZVa583EeInfryeGVEVGu5QoViPktHJSkJQmrT6aMsQfa760LQj2OyAKw34i
s1fxidJfDVIIAZKAYA9GAYsP2iyI2zaA4jwUCnibjPa6g96gf94dnHlkuBitg7B3YENWbLgpTf1R
nKNLNtRlSXzos3PwR8kWYic973sAbCg2jnBoL7rdQd+rudenadrvBoQRRoAacTVDt7nRxdZfnuEb
xMeCvp9LdJJDIbTZUSK/K5vRQdrrAYsLhwCcEnOomb3SOHmrZUZxgykOPxnlzqBH2FChma5XTpeV
I6VWLudMoiSDDj5tfjEJbyyty90WbfPBhAKx+z5/Ny0eETqB1MyMQ24QHoIg1zHZShUYjpi3nGMS
fdakEOWUzfJdyyJIMS7aCzZWN2bpuzaQcR0uMdAD3jFjqlXjyoKpOXp+slIcAdLApVR5wz0q2/AJ
d2TN4Db1TO6pPLS4EeWx7d4M91+016Xb2zkbfR7YtdrZ6laa6SYQO1vlu2fxDjV9Ptxj2QQTx2Zj
64IINh4mBmIS2PShMJ14gNnlqq5q/VRFUpFxRoU6ecyxvMAehgVEzAJb0WSVUYUQfreZaok2UjoP
EiVLYfwmDAPGGRZDa9jw4Ny3IZPVTnwLxxmzQlZ+MyKC0hOjdRnkojIO84dfbe1upWBw2mnJ96iV
vqukjNlIFXjTsir8j+HgN6kAVZFHt4nrCRU7tBJlKbjbE7Qaq5bAlXfTyqEdwv4qGQfOL/XTiXTt
ymBHCsGigtsjBbftjIFtj8+NyI/4IV7AI3z72qAJ8Iyl8aZv1wcb4n99GvGH63NUC6GKCTMMI/TG
tPzVaviGiePwrw7IC89xU4UX7v5Fi38Hthn9AgAA//8DAFBLAwQUAAYACAAAACEAOdfh5dcAAAD5
AAAADwAAAGRycy9kb3ducmV2LnhtbESPTU/DMBBE70j8B2uRuCDqtEIlhG4rhASGcmpK4brEmw+I
7cg2bfrvsTjAcTSjN3qL1Wh6sWcfOmcRppMMBNvK6c42CK/bh8scRIhkNfXOMsKRA6yWpycLKrQ7
2A3vy9iIBLGhIIQ2xqGQMlQtGwoTN7BNXe28oZiib6T2dEhw08tZls2loc6mh5YGvm+5+iq/DUKp
6vnF+2569al2W6W0y9+Gmxzx/Gy8uwUReYz/4/76cf388lf+op40wgxErY4fvtMbCpE9QnJLpskS
5PIHAAD//wMAUEsBAi0AFAAGAAgAAAAhAPD3irv9AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtD
b250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAA
AAAuAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEA7l75yyMDAAB2CQAAEAAAAAAAAAAAAAAA
AAApAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQA51+Hl1wAAAPkAAAAPAAAAAAAA
AAAAAAAAAHoFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAAfgYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s20483">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:34.98%;left:1.05%;width:21.45%;
 height:4.24%'>Required fields in </span><span style='position:absolute;
 top:39.04%;left:1.05%;width:20.13%;height:4.24%'>RED.<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s20484" class=T style='position:absolute;top:-1.06%;
 left:5.96%;width:88.07%;height:9.18%'><span style='font-size:41%'><b>Employee
 Sign On Form</b></span><span style='font-size:91%'><b> </b></span><span
 style='font-size:91%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
