<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Search Results">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="alphafade" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="8"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s8194" type="#_x0000_t75"
  style='position:absolute;left:0;top:138pt;width:10in;height:299.125pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0005_image014.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0005_image014.gif" style='position:absolute;top:25.61%;left:0%;
 width:100.0%;height:55.47%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s8195" type="#_x0000_t202" style='position:absolute;
  left:138pt;top:89.375pt;width:486pt;height:50.875pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t68" coordsize="21600,21600" o:spt="68"
  adj="5400,5400" path="m0@0l@1@0@1,21600@2,21600@2@0,21600@0,10800,xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="10800,0;0,@0;10800,21600;21600,@0"
   o:connectangles="270,180,90,0" textboxrect="@1,@4,@2,21600"/>
  <v:handles>
   <v:h position="#1,#0" xrange="0,10800" yrange="0,21600"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s8196" type="#_x0000_t68" style='position:absolute;
  left:624pt;top:330pt;width:42pt;height:78pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAgvSO
qfsCAADfBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVW1P2zAQ/j5p/8Hy1wnSQmE0IiBAYvtQoYrA
D7g6TpvVOVu2U1p+/c52aIFNaFr50l5yT3zPPb6X88t1q9hKWtdoLPjwcMCZRKGrBucFf3y4PTjj
zHnACpRGWfCNdPzy4uuXc5M7w+hjdLkp+MJ7k2eZEwvZgjvURiL5am1b8PRo55mx0kn04ClQq7Kj
weA0a6FBfkFH4ao0UxsscbeaWtZUBT/lDKGlkI+GXVmrn9gJz3pIQEcbCU1G9voIF4+CfF3btmcI
/8KwsvBEab8jB7mua7Yu+Pfx0ehsQPpsCj4ajocDsik05HLtmSDAyfHxKPgFAcbjwWnyZ4lIABrr
/A+p9ybFwkEF70yUhQSEHFYT54MQuyhRlaQF3ZXfKBmACu8lpRPv7b9VofuhfI9i5Hjl8kZZtgJV
cBCCbnmYXAuoZHp9QmpFuYjg9otINxIKzOpGqU/j1hMI5fgnt6RTHy+ElnUthf+04IOPhEnBtxFj
5ho/L3jboLZ/I6DoVvrMU7xUIKkwTO7X17raBDoz+qce3LdGrFc3miqCOgJQLLQtuPA2tYxyvgyB
9w1C+VDB73tKPIQybsFOIl8y7qOhVimBBiuq6pSLmtOgDJmwStYPMCufqd2Ho9j6lHMESZjgtV3S
QOWsJrWv4kfQec2ZohGIvZu0WQDOaepMOxQUINWtwtKIwMoZMRU+tVAYONseeo24lvUL1ruE3baa
ETvvVe0/wPXeWUet/LCOws668nlr3lIa24c72gUR4mGWBg/kpMZ9GsZ0JWGYU19hNQUL9Jotu7Zp
9a8myUo5F1ziwWNJ24X0G8bBOovOBOkKjhQkLB/bLGkLoC6jxdlS2rCqaIPQrAVaPj3QiPg9lX8L
qnmWP+PjDJxUTVhdBEc9tVrXwQ78FIZf1Lc0elJrpDdOq6YKL6Neb4fIro3eoFJDv2jRTbDXqgvH
9Ha8eeY3RtYgiNC3Fg+U75cIvHNISA7h3jmE69t4p26a+7GfX9qYNqIzF78BAAD//wMAUEsDBBQA
BgAIAAAAIQC4+SUE1wAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/BTgIxFEX3Jv5D80zcSUeN
I4wUYoxEXRAFjG4f7WM6Mn0d2wrD39u4kOXNvTk3ZzztXSt2FGLjWcHloABBrL1puFbwvppdDEHE
hGyw9UwKDhRhOjk9GWNl/J4XtFumWmQIxwoV2JS6SsqoLTmMA98R527jg8OUY6ilCbjPcNfKq6Io
pcOG84PFjh4s6e3yxyn4fiu/1qsw31r9WLwM+fb6Y6Y/lTo/6+/vQCTq03H8Orflzei//EM9GwUl
iM3TYR0as8CYKCjIbtk0W4Kc/AIAAP//AwBQSwECLQAUAAYACAAAACEA8PeKu/0AAADiAQAAEwAA
AAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAA
AI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQCC9I6p+wIA
AN8HAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhALj5
JQTXAAAA+QAAAA8AAAAAAAAAAAAAAAAAUgUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUA
AABWBgAAAAA=
" adj="5815" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s8197"
  type="#_x0000_m1026" style='position:absolute;left:114pt;top:24pt;width:444pt;
  height:48pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s8196" src="slide0005_image015.png"
 style='position:absolute;top:60.6%;left:86.22%;width:7.01%;height:15.37%'><![endif]>
 <div v:shape="_x0000_s8195">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:17.13%;left:20.13%;width:78.27%;
 height:4.24%'>Blue highlight indicates more than 1 account to access the CKHS </span><span
 style='position:absolute;top:21.2%;left:20.13%;width:73.24%;height:4.24%'>network.
 Moussing over the name will display those names.<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s8196">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:67.13%;left:88.74%;width:1.85%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s8197" class=T style='position:absolute;top:6.53%;
 left:16.82%;width:59.73%;height:4.59%'><span style='font-size:45%'><b>Search
 Results</b></span><span style='font-size:45%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
