<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Terminated Requests ">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="circle" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="9"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=3)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s9218" type="#_x0000_t202" style='position:absolute;
  left:90pt;top:78pt;width:546pt;height:50.875pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s9218">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:15.01%;left:13.5%;width:85.16%;
 height:4.24%'>Any account with a Terminated Request will be identified and no
 new </span><span style='position:absolute;top:19.08%;left:13.5%;width:73.9%;
 height:4.24%'>accounts can be added for this account.<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_4" o:spid="_x0000_s9219" type="#_x0000_t75"
  style='position:absolute;left:0;top:157pt;width:10in;height:226pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0007_image016.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_4"
 src="slide0007_image017.png" style='position:absolute;top:29.15%;left:0%;
 width:100.0%;height:41.87%'><![endif]><v:shapetype id="_x0000_t68"
  coordsize="21600,21600" o:spt="68" adj="5400,5400" path="m0@0l@1@0@1,21600@2,21600@2@0,21600@0,10800,xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="10800,0;0,@0;10800,21600;21600,@0"
   o:connectangles="270,180,90,0" textboxrect="@1,@4,@2,21600"/>
  <v:handles>
   <v:h position="#1,#0" xrange="0,10800" yrange="0,21600"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s9220" type="#_x0000_t68" style='position:absolute;
  left:396pt;top:304pt;width:42pt;height:77pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAvSDm
d/sCAADfBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtO4zAQfV9p/8Hy6wqSUq4RAQESuw8Vqih8
wNRx2mydsWU7peXrd2yn5bZCqy08lIln7DNzPGd8frlqFVtK6xqNJR/s55xJFLpqcFbyx4fbvVPO
nAesQGmUJV9Lxy8vvn87N4UzjDajK0zJ596bIsucmMsW3L42EslXa9uCp087y4yVTqIHT0Ctyg7y
/DhroUF+QUfhcmLGNljibjm2rKlKfswZQkuQj4ZdWauf2BHP+pAQHW2kaDKy10e4eBQUq9q2fYbw
LxlWFp6o7HfJQaHrmq1KfpQfnFHWnK1LPjw9zk/JJmgo5MozEQKGw8PgFxRwdnJymA+DP0uJhEBj
nf8p9c5JsXBQyTsTaSECoYDlyPmEtkGJrCQu6K78WskQqPBeUjnx3v6bFbofqvcgIscrlzfKsiWo
koMQdMuD5JpDJdPyUU5/PR3bHZGcmFDIrG6U+rLc+gRCO37MLfHU4wVoWddS+C8Dzz8jJoFvEWPl
Gr8OvG1Q278loOhW+soTXmqQ1Bim8KtrXa1DOlP6TxrctUesVzeaOoIUASjm2pZceJsko5yfBOBd
QagektWup8RDqOIW7CjmS8Z9NNQyFdBgRV2dalEzGpShElbJ+gGmk2eS++AwSp9qjkESRnhtFzRQ
OauJ7au4CTqvOVM0ArF3EzdzwBlNnXGHggBS3yqcGBGyckaMhU8SGgQJbTT0OuJa1ptY71LsJoz2
v3ivav9JXO+ddiTlh1UkdtpNnrfmLZWx/bijtyCGeJimwQMFsXGfhjFdSRjmpCusxmCBltmia5tW
/24SrVRzySXuPU7odSH+BmGYsml0ppCu5Egg4fGxzYJeAdSTaHG2kDY8VXEWC6DHpw80Iu6n9m9B
Nc/yV/ycgpOqCU8XIaAeW63rYIf8FIZf1Lc0epI00orTqqnCYuTr7RB5kdGbqCToDRfdCHuuunBM
b8ebZ35tZA2CEvrR4p7ySRES3jkkJIdw7xzC9TJ+YTcOUhP1vJExvYjOXPwBAAD//wMAUEsDBBQA
BgAIAAAAIQDp9HvV2QAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9NSwMxFEX3gv8hPMGdzag4
6LRpUUFakDL2A1p3r5PXyeDkZUxiO/XXG1zo8nIv53JGk9624kA+NI4VXA8yEMSV0w3XCtarl6t7
ECEia2wdk4ITBZiMz89GWGh35AUdlrEWCcKhQAUmxq6QMlSGLIaB64hTt3feYkzR11J7PCa4beVN
luXSYsPpwWBHz4aqj+WXVfD6vvnc5d3blG+f5Pd8s92uy3Km1OVF/zgEEamP/+NybvK7h7/yFzXT
CnIQ++lp5xu9wBDJK0huyTRZghz/AAAA//8DAFBLAQItABQABgAIAAAAIQDw94q7/QAAAOIBAAAT
AAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADHdX2HS
AAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAL0g5nf7
AgAA3wcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAUAAYACAAAACEA
6fR71dkAAAD5AAAADwAAAAAAAAAAAAAAAABSBQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA
9QAAAFgGAAAAAA==
" adj="5894" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s9221"
  type="#_x0000_m1026" style='position:absolute;left:102pt;top:21.625pt;
  width:444pt;height:44.375pt;visibility:visible;mso-wrap-style:square;
  v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s9220" src="slide0007_image018.png"
 style='position:absolute;top:55.83%;left:54.56%;width:7.01%;height:15.19%'><![endif]>
 <div v:shape="_x0000_s9220">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:62.19%;left:57.08%;width:1.85%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s9221" class=T style='position:absolute;top:5.83%;
 left:15.23%;width:59.73%;height:4.59%'><span style='font-size:45%'><b>Terminated
 Requests </b></span><span style='font-size:45%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
