<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Account Request Information">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="1"
 effect="alphafade" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="13"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s13314" type="#_x0000_t202" style='position:absolute;
  left:135.25pt;top:64.625pt;width:486pt;height:72.75pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s13314">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:12.54%;left:19.73%;width:70.59%;
 height:4.24%'>This will automatically return you to view the request and </span><span
 style='position:absolute;top:16.6%;left:19.73%;width:69.27%;height:4.24%'>items.
 We can also view any current action items for this </span><span
 style='position:absolute;top:20.67%;left:19.73%;width:68.34%;height:4.24%'>request.
 Update and Return to Demographic button are </span><span style='position:absolute;
 top:24.55%;left:19.73%;width:65.56%;height:4.24%'>disabled.<span
 style='mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_6" o:spid="_x0000_s13315" type="#_x0000_t75"
  style='position:absolute;left:0;top:162pt;width:10in;height:357pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0010_image030.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_6"
 src="slide0010_image031.png" style='position:absolute;top:30.03%;left:0%;
 width:100.0%;height:66.07%'><![endif]><v:shapetype id="_x0000_t67"
  coordsize="21600,21600" o:spt="67" adj="16200,5400" path="m0@0l@1@0@1,0@2,0@2@0,21600@0,10800,21600xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="10800,0;0,@0;10800,21600;21600,@0"
   o:connectangles="270,180,90,0" textboxrect="@1,0,@2,@6"/>
  <v:handles>
   <v:h position="#1,#0" xrange="0,10800" yrange="0,21600"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s13316" type="#_x0000_t67" style='position:absolute;
  left:486pt;top:161.5pt;width:48pt;height:96pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEA8V2W
k/4CAADkBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WsFmU64rFgRUtA8Righ8
wMTrTbbxji3bGxK+vmN7E24Vqhp4CF7Psc+ZY8/47GLVKraU1jUaS57vDziTKHTV4KzkD/c3eyec
OQ9YgdIoS76Wjl+cf/1yZgpnGC1GV5iSz703RZY5MZctuH1tJFKs1rYFT592lhkrnUQPnohalQ0H
g6OshQb5OW2Fy4kZ2zASt8uxZU1VciJGaInyh35EdmmtfmTHPOtBAR/HSHgaZC83cXEzKFa1bXuN
8C8aKwuPlPgbeVDoumarkh/lx0PSzdm65MPBYX74/STogUKuPBMBMDg9CnFBgHyYnwZw0JaUBKSx
zv+UemdVLGxU8oqsic6Qi1DAcuR84tvwRGOSHXRgfq1kACq8k5RRPLz/NoYOiVIeRuZ47vJaWbYE
VXIQgo46T6E5VDJNHw7orzdkuyLaEwUFZXWj1Kdp6wWEO/leW/Kp5wvUsq6l8J9GPvjImES+ZYyZ
a/w88rZBbf8mQNGp9JknvnRB0sUwhV9d6Wod5EzpPxXirnfEenWt6UZQUQCKubYlF96mqlHOTwLx
riSUDxXWrrvETSjjFuwo6qXBXRyoZUqgwYpudcpFzahbhkxYJet7mE6eSn6aHxyE6qecI0jCCK/s
gloBZzW5fRkXQec1Z4r6IPZhWjIHnFHjGXcoiCDdW4UTI4IqZ8RY+FRCeSihTQ29RFzJeoP1LmE3
MFr/HL2s/Qe4PjrtqJTvV9HYaTd52g5vKI3txy09CBHiYZoaDxTkxl3qx3QkoaNTXWE1Bgs0zRZd
27T6d5NspZxLLnHvYUJPDPmXnwT3pjGYIF3JkUjCC2SbBT0FqCdxxNlC2vBexXYsgF6gHmhEXE/X
vwXVPMlf8XMKTqomvF/EgHpsta7DOOhTGH5R31DrSaWRZpxWTRUmo1+vm8hzGb1CpYLeeNGNsPeq
C9v043jyzK+NrEGQoG8t7imfKkLCm4CEFBDuTUC4voyf3Y2N1MR63pQxPYrOnP8BAAD//wMAUEsD
BBQABgAIAAAAIQDWL6ii1gAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9BSwMxEIXvgv8hjODN
ZitY6tq0iCAtailtBa/jZnazuJksSZrd/ntDD3oc3vC99y1Wo+1EIh9axwqmkwIEceV0y42Cz+Pr
3RxEiMgaO8ek4EwBVsvrqwWW2g28p3SIjcgQDiUqMDH2pZShMmQxTFxPnLPaeYsxn76R2uOQ4baT
90UxkxZbzg0Ge3oxVP0cTlYBv3+ldarT5rgzNLYn+pi+DXOlbm/G5ycQkcb4/7zbmtnD4194QW20
gjy8Xp+/fav3GCJ5Bdktm2ZLkMtfAAAA//8DAFBLAQItABQABgAIAAAAIQDw94q7/QAAAOIBAAAT
AAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADHdX2HS
AAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAPFdlpP+
AgAA5AcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAUAAYACAAAACEA
1i+ootYAAAD5AAAADwAAAAAAAAAAAAAAAABVBQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA
9QAAAFgGAAAAAA==
" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s13317"
  type="#_x0000_m1026" style='position:absolute;left:114pt;top:21.625pt;
  width:474pt;height:43pt;visibility:visible;mso-wrap-style:square;
  v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s13316" src="slide0010_image032.png"
 style='position:absolute;top:29.68%;left:67.01%;width:7.94%;height:18.55%'><![endif]>
 <div v:shape="_x0000_s13316">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:35.68%;left:69.8%;width:2.25%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s13317" class=T style='position:absolute;top:5.65%;
 left:16.82%;width:63.97%;height:4.59%'><span style='font-size:45%'><b>Account
 Request Information</b></span><span style='font-size:45%;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
