<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Provider Demographic Queue">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="wipe" direction="left" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="30"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=7)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_3" o:spid="_x0000_s30722" type="#_x0000_t75"
  style='position:absolute;left:1in;top:126pt;width:591.75pt;height:354.75pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0028_image075.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_3"
 src="slide0028_image075.gif" style='position:absolute;top:23.32%;left:10.06%;
 width:82.25%;height:65.72%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s30723" type="#_x0000_t202" style='position:absolute;
  left:114pt;top:66pt;width:539.75pt;height:50.875pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><v:shapetype id="_x0000_t13" coordsize="21600,21600" o:spt="13"
  adj="16200,5400" path="m@0,l@0@1,0@1,0@2@0@2@0,21600,21600,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="0,@1,@6,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s30724" type="#_x0000_t13" style='position:absolute;
  left:6pt;top:462pt;width:60pt;height:24pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAG0Bx
0PsCAADjBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVV9P2zAQf5+072D5dWJpGRQWERAgsT1UqGrg
A1wdp83qnC3bKS2ffmc7bYFNaFrhoZxzd77f/Xx/Lq7WrWIraV2jseDDrwPOJApdNTgv+OPD3dE5
Z84DVqA0yoJvpONXl58/XZjcGUbO6HJT8IX3Js8yJxayBfdVG4mkq7VtwdPRzjNjpZPowVOgVmXH
g8Eoa6FBfklX4ao0Exskcb+aWNZUBR9xhtBSyGkzX3h2ba1+Yqc8662CQ5SRHEjIXt7i4m2Qr2vb
9iDhX0BWFp4o8zf4INd1zdYFPxsRbM42BT89H52dkEyBIZdrz8RWTXpBBt8GJ+dJnyUYwdBY539I
fTAkFi4quA3ERF6IRMhhNXY+MLEPFGlJZNB7+Y2SwVDhVFI+8e3+mxZ6I0r5OEaOzy5vlWUrUAUH
Ieilh0m1gEqmz6cD+guMEcCdRzxFQAFZ3Sj1Ydh6AKEk/8SWYPTxQmhZ11L4Dws+eI+YFHwXMWau
8eOCtw1q+zcAil6lzzzFSwWSCsPkfn2jq02AM6P/1IeH1oj16lZTRVBTAIqFtgUX3qauUc6XIfCh
QSgfKvhDb4mXUMYt2HHES8I0CmqVEmiwoqpOuag5DcuQCatk/QCz8rng34cnYSIwyjkaSRjjjV3S
UOWsJravoxN0XnOmaAxiryaXBeCcxs6kQ0EBUt0qLI0IqJwRE+FTCw1DC2176KXFjay3tt4l260Z
+e+117V/x67Xzjpq5Yd1JHbWlc878Y7S2B3uaR9EEw+zNHggJzamaRrTk4SBTn2F1QQs0Ge27Nqm
1b+aRCvlXHCJR48lbRjibxjmJZtFZTLpCo4UJCwg2yxpE6Auo8TZUtqwruI4FkALqDc0IvpT+beg
mmf5Mx5n4KRqwvqiCKgnVus6yAGfwvCL+o5GT2qN9MVp1VThY+Tr9RDZt9Erq9TQWy66MfZcdeGa
Xo4vz/zGyBoEAfrS4pHy/R6BNwoJSSHcG4VwfRvv2Y2D1MR+3rYxrURnLn8DAAD//wMAUEsDBBQA
BgAIAAAAIQAjZ34u1QAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9RS8MwFIXfBf9DuIJvLlW6
4rplQwRRJ0U2/QF3zW1T1iQluXbdvzf44B4P5/AdvtVmsr0YKcTOOwX3swwEudrrzrUKvr9e7h5B
REansfeOFJwpwmZ9fbXCUvuT29G451YkiIslKjDMQyllrA1ZjDM/kEtd44NFTjG0Ugc8Jbjt5UOW
FdJi59KDwYGeDdXH/Y9V8NEw5/n20C6282rIx3euvamUur2ZnpYgmCa+jD8rU8wX/+Uf6k0rKEA0
r+dD6PQOI1NQkNySabIEuf4FAAD//wMAUEsBAi0AFAAGAAgAAAAhAPD3irv9AAAA4gEAABMAAAAA
AAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACP
AQAACwAAAAAAAAAAAAAAAAAuAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAG0Bx0PsCAADj
BwAAEAAAAAAAAAAAAAAAAAApAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQAjZ34u
1QAAAPkAAAAPAAAAAAAAAAAAAAAAAFIFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAA
VAYAAAAA
" adj="17280" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <![if !vml]><img border=0 v:shapes="_x0000_s30724" src="slide0028_image076.png"
 style='position:absolute;top:84.98%;left:.66%;width:9.13%;height:6.0%'><![endif]>
 <div v:shape="_x0000_s30723">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='position:absolute;top:12.89%;left:16.82%;width:87.94%;
 height:4.24%'>Just like any other request, it now is placed in the Provider
 Demo queue&#13;</div>
 <div class=O style='position:absolute;top:16.78%;left:16.82%;width:35.62%;
 height:4.24%'>for approval and completion.<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></div>
 </div>
 <div v:shape="_x0000_s30724">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:85.68%;left:1.98%;width:5.56%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t66" coordsize="21600,21600" o:spt="66" adj="5400,5400"
  path="m@0,l@0@1,21600@1,21600@2@0@2@0,21600,,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="@4,@1,21600,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s30725" type="#_x0000_t66" style='position:absolute;
  left:8in;top:204pt;width:54pt;height:18pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAzKcy
d/0CAADjBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVc1OGzEQvlfqO1i+VnSTlKRhxYIAifYQoYjA
A0y83mQb79iyvSHh6Tu2NwnQClUNHMKsZ+z55pu/88tNo9haWldrLHj/a48ziUKXNS4K/vhwezLm
zHnAEpRGWfCtdPzy4vOnc5M7w+gyutwUfOm9ybPMiaVswH3VRiLpKm0b8PRpF5mx0kn04MlRo7JB
rzfKGqiRX9BTuJ6ZqQ2SuFtPLavLgn/nDKEhlxNZeXZlrX5iI551RsE+ykj2JGQvH3HxMcg3lW06
jPAvGEsLTxT4G3iQ66piG0L0rT8k3JxtCz4YnvXGJJNryOXGM0EGo/EwnDERDAbjUdJnCUgwNNb5
H1IfDYqFhwquiJlIDJEIOawnzgcqDn4iL4kNypffKhkMFd5LCijm7r95oRxRxIPoOaZd3ijL1qAK
DkJQpvtJtYRSpuNhj/4CYQRwfyN+RUABWVUr9WHYOgChJP/ElmB0/oJrWVVS+A9z3nuPmOR87zFG
rvHjnDc1avs3AIqy0kWe/KUCSYVhcr+51uU2wJnTf+rDY2vEenWjqSKoJwDFUtuCC29T0yjnZ8Hx
sU4oHir4Y1+Jj1DEDdhJxEvCfRTUOgVQY0lVnWJRCxqWIRJWyuoB5rPngp/1T09D81PM0UjCBK/t
ioYqZxWxfRUvQes1Z4rGIHZqurIEXNDcmbYoyEGqW4UzIwIqZ8RU+NRC/dBCux56aXEtq52td8l2
Z0b3D9qryr9j12nnLbXywyYSO29nz3vxlsLYf9zRPogmHuZp8EBObNyncUwpCQOd+grLKVigY7Zq
m7rRv+pEK8VccIknjzPaMMRfP47OeVQmk7bgSE7CArL1ijYB6lmUOFtJG9ZVnMYCaAF1hkbE+1T+
Daj6Wf6Mn3NwUtVhfRHZqKdW6yrIAZ/C8Iv6lkZPao104rSqy3AY+Xo9RA5t9MoqNfSOi3aCHVdt
eKaTY+aZ3xpZgSBAXxo8Ub5bI/BGISEphHujEK5r4wO7cZCa2M+7Nqad6MzFbwAAAP//AwBQSwME
FAAGAAgAAAAhALK6vELXAAAA+QAAAA8AAABkcnMvZG93bnJldi54bWxEj1FLwzAUhd8F/0O4A99c
uoHTdcvGEEUf6qRVxMe75q6pNklJsq3791580MfDOXyHb7kebCeOFGLrnYLJOANBrva6dY2C97fH
6zsQMaHT2HlHCs4UYb26vFhirv3JlXSsUiMY4mKOCkxKfS5lrA1ZjGPfk+Nu74PFxDE0Ugc8Mdx2
cpplM2mxdfxgsKd7Q/V3dbBMqULYTB++tvNt91mk4qPIykOt1NVo2CxAJBrS//j1xcxu5n/lL+pZ
K7gFsX8670KrS4yJggJ2Y1O2BLn6AQAA//8DAFBLAQItABQABgAIAAAAIQDw94q7/QAAAOIBAAAT
AAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADHdX2HS
AAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhAMynMnf9
AgAA4wcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAUAAYACAAAACEA
srq8QtcAAAD5AAAADwAAAAAAAAAAAAAAAABUBQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA
9QAAAFgGAAAAAA==
" adj="3600" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s30726"
  type="#_x0000_m1026" style='position:absolute;left:123pt;top:12pt;width:480pt;
  height:44.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s30725" src="slide0028_image077.png"
 style='position:absolute;top:37.1%;left:79.6%;width:8.21%;height:4.94%'><![endif]>
 <div v:shape="_x0000_s30725">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:37.45%;left:81.58%;width:4.9%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s30726" class=T style='position:absolute;top:4.06%;
 left:18.14%;width:64.76%;height:4.59%'><span style='font-size:45%'><b>Provider
 Demographic Queue</b></span><span style='font-size:45%;mso-special-format:
 lastCR;display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
