<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Account Queues">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="alphafade" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="26"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_5" o:spid="_x0000_s26626" type="#_x0000_t75"
  style='position:absolute;left:59.625pt;top:95.25pt;width:600.75pt;height:349.5pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0024_image068.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_5"
 src="slide0024_image068.gif" style='position:absolute;top:17.66%;left:8.34%;
 width:83.44%;height:64.66%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s26627" type="#_x0000_t202" style='position:absolute;
  left:102pt;top:42pt;width:444pt;height:50.875pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape><p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s26628"
  type="#_x0000_m1026" style='position:absolute;left:114pt;top:17.5pt;width:444pt;
  height:26.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'
  o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEASjVB
5g0DAADlBwAAEAAAAGRycy9zaGFwZXhtbC54bWzUVU1P4zAQva+0/8HydQX9oEAbkSJAYnelClW0
nFeO47Shjh3ZTrftr99nO4HCaQWX3RzScebZ8+bNeHp1vask2QpjS61SOjjtUyIU13mpVil9Wt6f
jCmxjqmcSa1ESvfC0uvp1y9XdWJrgs3KJnVK187VSa9n+VpUzJ7qWij4Cm0q5rA0q15thBXKMYdA
lewN+/2LXsVKRac4Sm0X9dx4iz9s54aUeUqHlChWIeSydFKQAe21/ghliD/TfGNbEuxvSOSG/UZm
b+ITpb8bpBAC9AKDjowCFx+0XhO3r0HFeSoU9HYpHQ0no8nF5XBy7plhY0QHozvAhqxYsitM9Vme
0yuW6KIgCD0YjS7HfZRqD5mGg/F45CmwROwc4fCfX5yNg58DcHYGmsPAMRIJZCOzOnG7W53v/eYM
v5A+lvTjaqKXHEqhzYES+VPZlE5AF1xdWIzOL4dYmGNP9sbj5J2WKQWIKY5zUsqdQZewRKGdbhqn
i9KRQiu34EyiKJM+nja/mIQHS+sWbo/G+WRCQdiu0z8si2eEXiAVM7OQG4zHYMhtTLZUOa5HzFuu
cBd91iQXxZJli0OrolfORbxgM3VrNr5vgxg3YRODPNAdt0y1bmxZM7VC188bxRFgELSUalFzz8rW
fM4d2TIcO/BKdlIeI25F8R7bwbD/1XtTuA7nbDzzCNd6s+ZOmuUuCJs1i8OLeY+aviweMG4CxLFs
Zl0wocbj3MDsBTV9KNxPvKDspqnKSj+XUVRknFKhTp4WGF9QD+MGQmRBrQhpUqoQwk83U27QRkov
gkXJRhg/C7GHEs4wGlpgzcPhvg2ZLA/iR1hmzApZ+tkIuNJzo3UR7Lw0DvcPX23l7qRgOLTfiu9Z
K31fShmzkSropmWZ+49h4WepgFRRR7eLAwoVO0aJohDcdQI1M9UK2PhjWju0Q5hgBePg+a16PpGu
HRnsnUOw6OD2nYPb9o5Bbc/PTcmv8JD464uC6uMd3ELlc2YY6vUvl8YnErX/X6vxqnO8FmG6d1Md
f0a2nv4BAAD//wMAUEsDBBQABgAIAAAAIQCLVKff1wAAAPkAAAAPAAAAZHJzL2Rvd25yZXYueG1s
RI9NSwMxFEX3gv8hPMGN2EyLlHFsWkSQuBC0U2u3z8mbD528DEnsTP+9wYUuL/dyLme1mWwvjuRD
51jBfJaBIK6c6bhR8LZ7vM5BhIhssHdMCk4UYLM+P1thYdzIWzqWsREJwqFABW2MQyFlqFqyGGZu
IE5d7bzFmKJvpPE4Jrjt5SLLltJix+mhxYEeWqq+ym+roNT18uqwn9986v1Oa+Py9+E2V+ryYrq/
AxFpiv/jl/HwXL7+lb+oJ6NgAaLWpw/fmS2GSF5BckumyRLk+gcAAP//AwBQSwECLQAUAAYACAAA
ACEA8PeKu/0AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQIt
ABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQIt
ABQABgAIAAAAIQBKNUHmDQMAAOUHAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1s
UEsBAi0AFAAGAAgAAAAhAItUp9/XAAAA+QAAAA8AAAAAAAAAAAAAAAAAZAUAAGRycy9kb3ducmV2
LnhtbFBLBQYAAAAABAAEAPUAAABoBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s26627">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:8.48%;left:15.23%;width:69.0%;
 height:4.24%'>Once network account has been verified as a valid name </span><span
 style='position:absolute;top:12.36%;left:15.23%;width:68.74%;height:4.24%'>then
 the request is distributed to each individual queue.<span style='mso-special-format:
 lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s26628" class=T style='position:absolute;top:3.71%;
 left:16.82%;width:59.73%;height:4.24%'><span style='font-size:41%'><b>Account
 Queues</b></span><span style='font-size:41%;mso-special-format:lastCR;
 display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
