<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 14">
<link id=Main-File rel=Main-File href="../CSCTraining.html">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>PowerPoint Presentation</title>
<meta name=Description content="12/16/2014: Employees">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:76% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><p:slidetransition advancetime="0" speed="0"
 effect="push" direction="right" flag="1"/><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="5"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:755px;height:566px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden;filter:revealtrans(Duration=4, Transition=4)'><p:slide
 coordsize="720,540"
 colors="#ffffff,#000000,#eeece1,#1f497d,#4f81bd,#c0504d,#0000ff,#800080"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s5122" type="#_x0000_t202" style='position:absolute;
  left:60pt;top:48pt;width:558pt;height:94.5pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s5122">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O><span style='position:absolute;top:9.54%;left:9.4%;width:83.84%;
 height:4.24%'>If the employee has an Employee Number then this person has been
 </span><span style='position:absolute;top:13.6%;left:9.4%;width:90.72%;
 height:4.24%'>validated by HR and Name, Position, Entity and Department will
 always be </span><span style='position:absolute;top:17.49%;left:9.4%;
 width:75.62%;height:4.24%'>updated from HR. &#13;</span></div>
 <div class=O style='position:absolute;top:21.55%;left:9.4%;width:82.11%;
 height:4.24%'>This account has the 2 indicators which identifies a valid
 employee.<span style='mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_8" o:spid="_x0000_s5123" type="#_x0000_t75"
  style='position:absolute;left:28.375pt;top:154pt;width:636.75pt;height:383.25pt;
  visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0002_image004.gif" o:title=""/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_8"
 src="slide0002_image004.gif" style='position:absolute;top:28.44%;left:3.97%;
 width:88.47%;height:71.02%'><![endif]><v:shapetype id="_x0000_t66"
  coordsize="21600,21600" o:spt="66" adj="5400,5400" path="m@0,l@0@1,21600@1,21600@2@0@2@0,21600,,10800xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum 21600 0 #1"/>
   <v:f eqn="prod #0 #1 10800"/>
   <v:f eqn="sum #0 0 @3"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="@0,0;0,10800;@0,21600;21600,10800"
   o:connectangles="270,180,90,0" textboxrect="@4,@1,21600,@2"/>
  <v:handles>
   <v:h position="#0,#1" xrange="0,21600" yrange="0,10800"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s5124" type="#_x0000_t66" style='position:absolute;
  left:180pt;top:291.375pt;width:90pt;height:18pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAOr7s
Jv4CAADlBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVdtOGzEQfa/Uf7D8WsFugEJYsSBAon2IUJTA
B0y83mQb79iyvSHh6zu2N+HSClUNL8ms59hz5tgzc3G1bhVbSesajSUfHOacSRS6anBe8seHu4Mh
Z84DVqA0ypJvpONXl1+/XJjCGUab0RWm5AvvTZFlTixkC+5QG4nkq7VtwdOnnWfGSifRg6dArcqO
8vw0a6FBfklH4WpqxjZY4n41tqypiAtRQWgp5kjWnl1bq5/YOc96VNgQbaQNZGSvT3HxNCjWtW17
kvAvJCsLT5T5O35Q6Lpm65IfHQ1P85x4bUp+fJbnZ8M88IFCrj0TBBgMTo4jQBAioQMgS0wC0ljn
f0i9NysWDiq5ImmiMiQjFLAaOZ/ibeNEYZIcdGN+o2QAKpxIyije3n8LQ7cUNImR48XLW2XZClTJ
QQi660FyLaCSafk7aRMVI0F2O6I8kVBgVjdKfRq3nkB4lH9ySzr18UJoWddS+E8Lnn8kTAq+ixgz
1/h5wdsGtf0bAUW30mee4qUHkh6GKfz6RlebQGdG/1SJ+74R69WtphdBRQMoFtqWXHibqkY5Pw2B
9w1C+VBh7XtKPIQybsGOIl8yJtFQq5RAgxW96pSLmlO7DJmwStYPMJs+l/x8cHISugPlHEESRnhj
l9QWOKtJ7eu4CTqvOVPUCLF305YF4Jwaz7hDQQHSu1U4NSKwckaMhU8lNAgltK2h14gbWW+x3iXs
Fkb7X7zXtf8A13tnHZXywzoKO+umzzvzjtLYfdzTRIgQD7PUeKAgNSapH9OVhJZOdYXVGCzQMlt2
bdPqX02SlXIuucSDxynNGNJvMAzqzaIzQbqSIwUJI8g2SxoFqKfR4mwpbRhYNEc4E0AjqAcaEffT
829BNc/yZ/ycgZOqCQOM4KjHVus62IGfwvCL+o5aTyqNtOK0aqqwGPV620ReyugNKhX0VotuhL1W
XTimt+PNM78xsgZBhL61eKB8P0fgnUNCcgj3ziFcX8Yv6sZGamI9b8uYhqIzl78BAAD//wMAUEsD
BBQABgAIAAAAIQCtdyLi1gAAAPoAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/BTsMwDEDvSPxDZCRu
LC2CAWXZhBCIcUDQwYGjadwm0Dhdkm0dX0/EAY72s571ZovR9WJLIVrPCspJAYK48dpyp+Dt9f7k
EkRMyBp7z6RgTxEW88ODGVba77im7Sp1Iks4VqjApDRUUsbGkMM48QNxZq0PDlMeQyd1wF2Wu16e
FsVUOrScPxgc6NZQ87XaOAWPZX1x927XLSVbNvz9stx8rs+UOj4ab65BJBrT//Hzk5meX/3BX9VS
55ac0j7sP4LVNcZEQUHe5NSMQM5/AAAA//8DAFBLAQItABQABgAIAAAAIQDw94q7/QAAAOIBAAAT
AAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgAAAAhADHdX2HS
AAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgAAAAhADq+7Cb+
AgAA5QcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAUAAYACAAAACEA
rXci4tYAAAD6AAAADwAAAAAAAAAAAAAAAABVBQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA
9QAAAFgGAAAAAA==
" adj="2160" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <![if !vml]><img border=0 v:shapes="_x0000_s5124" src="slide0002_image005.png"
 style='position:absolute;top:53.35%;left:24.63%;width:13.24%;height:4.94%'><![endif]>
 <div v:shape="_x0000_s5124">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:53.53%;left:26.62%;width:9.8%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <v:shapetype id="_x0000_t67" coordsize="21600,21600" o:spt="67" adj="16200,5400"
  path="m0@0l@1@0@1,0@2,0@2@0,21600@0,10800,21600xe">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="val #0"/>
   <v:f eqn="val #1"/>
   <v:f eqn="sum height 0 #1"/>
   <v:f eqn="sum 10800 0 #1"/>
   <v:f eqn="sum width 0 #0"/>
   <v:f eqn="prod @4 @3 10800"/>
   <v:f eqn="sum width 0 @5"/>
  </v:formulas>
  <v:path o:connecttype="custom" o:connectlocs="10800,0;0,@0;10800,21600;21600,@0"
   o:connectangles="270,180,90,0" textboxrect="@1,0,@2,@6"/>
  <v:handles>
   <v:h position="#1,#0" xrange="0,10800" yrange="0,21600"/>
  </v:handles>
 </v:shapetype><v:shape id="_x0000_s5125" type="#_x0000_t67" style='position:absolute;
  left:28.375pt;top:162pt;width:31.625pt;height:54pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEANJgp
bwYDAADkBwAAEAAAAGRycy9zaGFwZXhtbC54bWysVV9P2zAQf5+072D5dWJJCnRdRIqAie2hQhWF
D3B1nDarc45sp7R8+p3ttAU2oQngoZxzd77f/Xx/zs43jWJraWytseDZ15QziUKXNS4Kfn93fTTi
zDrAEpRGWfCttPx8/PnTWZvblpEz2rwt+NK5Nk8SK5ayAftVtxJJV2nTgKOjWSStkVaiA0eBGpUM
0nSYNFAjH9NVuJ61U+MlcbOeGlaXhCXjDKGhmD/0A7ILY/QDy1Ke9GbeI8hIHiQkT6+x4TrIN5Vp
epTwPyhLAw+U+guAkOuqYpuCHw/T4Ygo2hZ8kJ5+O0kDHMjlxjFB+pM0Ox6QXpDBcHQ6ivok4hif
Qd4a635K/W5MzF9U8JKYCcQQi5DDemKdZ+IQJ9ASyaAHc1slvaHCW0n5hMd7My30SJTxIEQO7y6v
lGFrUAUHIeips6haQinj59OU/vz7EcC9RzgFQB5ZVSv1Ydh6AL4m/8YWYfTxfGhZVVK4DwuevkZM
DL6PGDLX+HHBmxq1+RcARa/SZx7jxQKJhdHmbnOpy62HM6f/1IjvrRHj1JWmiqCeABRLbQounPEQ
qAqtm/nA7w0SLtvNojeXs0dEQ4M1YCYBLwm3QVDrmECNJVV1zEUtaFr6TFgpqzuYzx4L/j078QOB
Uc7BSMIEL82KJhlnFbF9EZygc5ozRXMQezW5LAEXNHamHQoKEOtW4awVHpVtxVS42EKZb6FdDz21
uJTVztbZaLszI/+D9qJyr9j12nlHrXy3CcTOu9njXrymNPaHG1oIwcTBPA4eyImN2ziNA5s+lMRy
CgboM1t1Td3o33WklXIuuMSj+xmtGOIv8+OSzYMymnQFRwriN5CpV7QJUM+CxNlKGr+vaI3QtAXa
QL1hK4I/lX8Dqn6Uv8JxDlaq2u8vMkc9NVpXXvb4FPpf1Nc0eigdmk3xi9WqLv3HwNfzIXJoo2dW
saF3XHQT7Lnq/DW9HF6euW0rKxAE6EuDR8rFjpDwQiEhKoR9oRC2b+MDuwF6G/p518a0Em07/gMA
AP//AwBQSwMEFAAGAAgAAAAhAGpjirLXAAAA+gAAAA8AAABkcnMvZG93bnJldi54bWxEj0FLAzEQ
Ru8F/0MYwUux2RVbdG1a1CKth1Ja633cTDeLm2RJ0u7uv3fwoMfhDe/jzZe9bcSFQqy9U5BPMhDk
Sq9rVyk4frzdPoCICZ3GxjtSMFCE5eJqNMdC+87t6XJIlWCJiwUqMCm1hZSxNGQxTnxLjtnJB4uJ
z1BJHbBjuW3kXZbNpMXa8YLBll4Nld+Hs1XwMj6v8vFm9d4b7Abzuc6P97ZR6ua6f34CkahP/8+7
rZlNH//gr2qjuSUHcVoPX6HWe4yJggKO41RGIBc/AAAA//8DAFBLAQItABQABgAIAAAAIQDw94q7
/QAAAOIBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAGAAgA
AAAhADHdX2HSAAAAjwEAAAsAAAAAAAAAAAAAAAAALgEAAF9yZWxzLy5yZWxzUEsBAi0AFAAGAAgA
AAAhADSYKW8GAwAA5AcAABAAAAAAAAAAAAAAAAAAKQIAAGRycy9zaGFwZXhtbC54bWxQSwECLQAU
AAYACAAAACEAamOKstcAAAD6AAAADwAAAAAAAAAAAAAAAABdBQAAZHJzL2Rvd25yZXYueG1sUEsF
BgAAAAAEAAQA9QAAAGEGAAAAAA==
" adj="15280" fillcolor="#4f81bd [4]" strokecolor="#385d8a" strokeweight="2pt"/>
 <p:shaperange href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s5126"
  type="#_x0000_m1026" style='position:absolute;left:1in;top:21.625pt;width:558pt;
  height:26.375pt;visibility:visible;mso-wrap-style:square;v-text-anchor:middle'
  o:gfxdata="UEsDBBQABgAIAAAAIQDw94q7/QAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRzUrEMBDH
74LvEOYqbaoHEWm6B6tHFV0fYEimbdg2CZlYd9/edD8u4goeZ+b/8SOpV9tpFDNFtt4puC4rEOS0
N9b1Cj7WT8UdCE7oDI7ekYIdMayay4t6vQvEIrsdKxhSCvdSsh5oQi59IJcvnY8TpjzGXgbUG+xJ
3lTVrdTeJXKpSEsGNHVLHX6OSTxu8/pAEmlkEA8H4dKlAEMYrcaUSeXszI+W4thQZudew4MNfJUx
QP7asFzOFxx9L/lpojUkXjGmZ5wyhjSRJQ8YKGvKv1MWzIkL33VWU9lGfl98J6hz4cZ/uUjzf7Pb
bHuj+ZQu9z/UfAMAAP//AwBQSwMEFAAGAAgAAAAhADHdX2HSAAAAjwEAAAsAAABfcmVscy8ucmVs
c6SQwWrDMAyG74O9g9G9cdpDGaNOb4VeSwe7CltJTGPLWCZt376mMFhGbzvqF/o+8e/2tzCpmbJ4
jgbWTQuKomXn42Dg63xYfYCSgtHhxJEM3Elg372/7U40YalHMvokqlKiGBhLSZ9aix0poDScKNZN
zzlgqWMedEJ7wYH0pm23Ov9mQLdgqqMzkI9uA+p8T9X8hx28zSzcl8Zy0Nz33r6iasfXeKK5UjAP
VAy4LM8w09zU50C/9q7/6ZURE31X/kL8TKv1x6wXNXYPAAAA//8DAFBLAwQUAAYACAAAACEAgNmk
oQgDAADfBwAAEAAAAGRycy9zaGFwZXhtbC54bWzUVU1v4jAQva+0/8HyddUGKIUSNVRtpe6uhCrU
0PPKOA6kOHZkGxb66/fZTlra06q97OYQxpnxzJs3H1xe7WtJdsLYSquM9k97lAjFdVGpVUYfF3cn
F5RYx1TBpFYiowdh6dX065fLJrUNwWVl0yaja+eaNEksX4ua2VPdCAVdqU3NHI5mlTRGWKEccwhU
y2TQ642SmlWKTuFK7fJmbrzE73dzQ6oiowNKFKsRclE5KUifJq0+mjLEn2m+sS0I9jcgCsN+I7M3
8YnS3w1SCAGSgKADo4DFB23WxB0aQHEeCgW8fUaHg8lwMhoPJuceGS5G6yB0DmzIiqX70tSfxTm9
ZKkuS4LQk/5w2EOlDmBpPBydXXgELBV7RzjU497FaOT1HAZnZ0A5CBAjjoA1AmtSt7/RxcFfXuIX
zMeKfpxMtJJDJbR5pkT+VLYFS4kLh+H5eABg5lizfKNx8lbLjMKIKQ4/GeXOoElYqtBN11uny8qR
UiuXcyZRk0kPT5tfTMIbS+tyd0DffDKhQGzX6B+mxSNCK5CamVnIDcJDEOQuJlupAtMR85YrjKLP
mhSiXLBl/vxacuOivWAzdWM2vm0DGdfhEgM94B1Dplo1eFwztULTz7eKI0A/cClV3nCPyjZ8zh3Z
MbjteyY7Ko8tbkT53rYzw/1X7XXpOjtno88ju1a73N5Ks9gHYpfb/PlFvENNXw732DbBxLHlzLog
go2HuYGYBDZ9KIwnXmB2s62rWj9VkVRknFGhTh5zbC+wh20DIpaBrWiyzahCCL/cTLVBGymdB4mS
jTB+FeIOJohhM7SGDQ/OfRsyWT2LH+G4ZFbIyq9GmCs9N1qXQS4q4zB/+GprdysFg9NeS75HrfRd
JWXMRqrAm5ZV4T+Gg1+lAlRFHt0+7idU7NhKlKXgriNoO1MtgVvvppVDO4QFVjIOnN/qpxPp2pXB
3ikEiwpu3ym4bWcMbHt8bkp+tY+vBwqPd9AIVcyZYSjVv1wVn0Ok/X8txCvPcSLCYu8WOv6GbDP9
AwAA//8DAFBLAwQUAAYACAAAACEA4k3OYNYAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPS2sC
MRSF94X+h3AL3ZSaUYpMR6OU0pLuxFHr9jq587CTB0mq4783dGGXh3P4Dt98OeienciHzhoB41EG
jExlVWcaAdvN53MOLEQ0CntrSMCFAiwX93dzLJQ9mzWdytiwBDGhQAFtjK7gPFQtaQwj68ikrrZe
Y0zRN1x5PCe47vkky6ZcY2fSQ4uO3luqfspfLaCU9fRpvxu/HOVuI6Wy+bd7zYV4fBjeZsAiDfF/
7LJ6u/q4lX+oLyVgAqyWl4Pv1BpDJC8guSXTZAl8cQUAAP//AwBQSwECLQAUAAYACAAAACEA8PeK
u/0AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAI
AAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC4BAABfcmVscy8ucmVsc1BLAQItABQABgAI
AAAAIQCA2aShCAMAAN8HAAAQAAAAAAAAAAAAAAAAACkCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0A
FAAGAAgAAAAhAOJNzmDWAAAA+QAAAA8AAAAAAAAAAAAAAAAAXwUAAGRycy9kb3ducmV2LnhtbFBL
BQYAAAAABAAEAPUAAABiBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:f;
   mso-fit-shape-to-text:f' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="_x0000_s5125" src="slide0002_image006.png"
 style='position:absolute;top:29.85%;left:3.44%;width:5.56%;height:10.95%'><![endif]>
 <div v:shape="_x0000_s5125">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='text-align:center'><span style='position:absolute;
 top:32.33%;left:5.56%;width:1.19%;height:4.24%'><span style='color:white;
 mso-special-format:lastCR;display:none'>&#13;</span></span></div>
 </div>
 <div v:shape="_x0000_s5126" class=T style='position:absolute;top:4.41%;
 left:10.99%;width:75.62%;height:4.24%'><span style='font-size:41%'><b>Employees</b></span><span
 style='font-size:41%;mso-special-format:lastCR;display:none'><b>&#13;</b></span></div>
</p:slide></div>

</body>

</html>
