﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="RolesReport.aspx.vb" Inherits="Reports_RolesReport" %>
<%@ Register Assembly="C1.Web.UI.Controls.C1Report.4" Namespace="C1.Web.UI.Controls.C1Report" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <asp:ScriptManager ID="scriptmgr1" runat="server">
    
    </asp:ScriptManager>

    <cc1:C1ReportViewer ID="C1ReportViewer1"  runat="server" Width="100%" AvailableTools="None" Cache-Enabled="False" Cache-Expiration="0">
            <Cache Enabled="False" Expiration="0" ShareBetweenSessions="False"></Cache>
    </cc1:C1ReportViewer>


    </div>
    </form>
</body>
</html>
