﻿

 .accordion {  
            padding: 5px;  
        }  
          
        .accordionHeader {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color:Gray;  
            font-family: Arial, Sans-Serif;  
            font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            margin-top: 5px;  
            cursor: pointer;  
        }  
        
        .accordionHeader div
            { 
            background-image:url('../images/Chevron_down.gif');
            background-repeat:no-repeat;
            width:16px;
            height:16px;
            position:relative;
            display:inline;           
            float:right;
            }
          
        .accordionHeaderSelected {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color:Gray;  
            font-family: Arial, Sans-Serif;  
            font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            margin-top: 5px;  
            cursor: pointer;  
        }  
        
            
        .accordionHeaderSelected div
            { 
            background-image:url('../images/Chevron_up.gif');
            background-repeat:no-repeat;
            width:16px;
            height:16px;
            position:relative;
            display:inline;           
            float:right;
            }
            
        .accordionContent {  
            background-color: #D3DEEF;  
            border: 1px solid #2F4F4F;  
            border-top: none;  
            padding: 5px;  
            /* padding-top: 10px;   */
        }  
        
        .accordion input[type="submit"]
        {
          width: 100%; 
          text-align:left;  
          padding: 5px 5px 5px 5px;
          background-color: #006666;
          font-family:"Tahoma";
          Font-Size:"8pt";
          color:white;
          border:1px solid #D3DEEF;
          white-space:normal;
        /*  margin: 1px 1px 1px 1px;  */
        }
        .accordion input[type="submit"]:hover
        {
            background-color: #009999;
        }
    