﻿.btn {
	width: 120px;
	height: 30px;
	color: White;
	font-family: 'Arial';
	font-weight: bold;
	font-size: small;
	background-color: #336666; /*#fed;*/
	border: 1px solid;
	border-top-color: #696;
	border-left-color: #696;
	border-right-color: #363;
	border-bottom-color: #363;
	box-shadow: inset -1px -2px 1px 2px #000;
	/*  filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
 */
}
.btnhov {
	width: 180px;
	height: 30px;
	color: #d6d64a; /*#fed;*/
	font-family: 'Arial';
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
	font-size: small;
	background-color: #336666;
	border: 1px solid;
	border-top-color: silver;
	border-left-color: silver;
	border-right-color: gray;
	border-bottom-color: gray;
	/*
	filter: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr= '#ffffffff' ,EndColorStr= '#ffeeddaa' );
*/
}

.btnTrans{
   color:White;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#336666;/*#fed;*/
   border:4px solid;
   border-top-color:green;
   border-left-color:green;
   border-right-color:green;
   border-bottom-color:green;
 /*  filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
 */     }
.btnTranshov
{
    
	color:silver;/*#fed;*/
	font-family: 'trebuchet ms' ,helvetica,sans-serif;
	font-size: 84%;
	font-weight: bold;
	background-color:#336666;
	border: 3px solid;
	border-top-color: silver;
	border-left-color: silver;
	border-right-color: silver;
	border-bottom-color: silver;
	cursor:hand;
	
}

/*
.btnhov
{
	color:#336666;
	font-family: 'trebuchet ms' ,helvetica,sans-serif;
	font-size: 84%;
	font-weight: bold;
	background-color:#fed;
	border: 3px solid;
	border-top-color: #c63;
	border-left-color: #c63;
	border-right-color: #930;
	border-bottom-color: #930;
	filter: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr= '#ffffffff' ,EndColorStr= '#ffeeddaa' );
}

*/
.foo {} /* W3C CSS validator likes CSS files to start with a class rather than a comment. Soooooo.... */

/* #006666 This style sheet is intended to contain RARELY CHANGED rules used when the Menu control adapter is enabled. */
/* These rules correspond to the "pure CSS menu" technique that have been evolving over the past several years. */ 
/* See WhitePaper.aspx for details. */


.AspNet-Menu-Horizontal ul.AspNet-Menu li li
{
    float: none;
}
