﻿body, html, form, page {
height:100%;
font-family:"Arial";
Font-Size:.90em;
margin:auto;
}
.calenderClass
{
    width:80px;   
}








input[type=submit] 
{
    
background-color="336666";
color="White";

}
input[type=submit]:hover {
	
}
input[type=submit]:active {
	
}


.CKHSButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #336666), color-stop(1, #3d8080) );
	background:-moz-linear-gradient( center top, #336666 5%, #3d8080 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#336666', endColorstr='#3d8080');
	background-color:#336666;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #336666;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
		font-style:normal;
	height:25px;
	line-height:25px;
	width:125px;
	text-decoration:none;
	text-align:left;
	text-shadow:1px 1px 0px #528ecc;
}
.CKHSButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d8080), color-stop(1, #336666) );
	background:-moz-linear-gradient( center top, #3d8080 5%, #336666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d8080', endColorstr='#336666');
	background-color:#3d8080;
}.CKHSButton:active {
	position:relative;
	top:1px;