﻿.contactModalBackground
{


background-color:Black;
 
filter:alpha(opacity=70);
opacity:0.7;

}

.ModalBackground
{


background-color:Black;
filter:alpha(opacity=70);
opacity:0.7;

}

 .NavModalPopUp 
 {
     background-color:White;
     font-size:large;

       
}

 .ModalPopUpPanel 
 {
     background-color:White;
     font-size:large;
     width:100%;
    
       
}

.contactModalPopup
{
     background-color:White;
     border-width:3px;
     border-style:solid;
     border-color:Gray;
}
.modalPopup 
{
        background-color:Red;
        border-width:3px;
        border-style:solid;
        border-color:Gray;
        padding:3px;
      
}

.scrollContentContainer
{
overflow: auto; 
max-height:200px
}

