﻿ 

table.Master
{

height:792px;
min-width:980px;
width:1001px;
border-collapse:collapse;
align:"center";
margin-left: auto;
margin-right: auto;
margin-bottom:0px;

}



table.Master td.Left
{
width:178px;

}

td.LeftMenu
{

width:178px;
background-color:#FFFFCC;

}

td.PageHeader
{
background-color:#efefef;
align: center;

}

tr.MainContent
{
height:100%;
background-color:  #efefef;

}


.tableRowHeader
    {
     
     text-align:center;
      background-color:  #FFFFCC;
      color:#336666;
      font-weight:bold;
      font-size:x-large;
    }
  .tableRowSubHeader
    {
      text-align:left;
      background-color:  #336666;
      color:white;
      font-weight:bold;
    }

  .tablePageHeader
    {
    
      font-size: large;
      font-weight:bold;
      color: Black;
      
              
    }
 table.ModalPopupTable
   {
        border: 3;
        border-style: solid;
        background-color: #efefef;
        width: 50%;
   }
   
     table.ModalPopupTable th
   {
        
       
        font-size:x-large;
        font-weight:bold;        
        text-align:center;
        background-color:#FFFFCC;
   }
   
   
   table.tblList
   {
        background-color:white;
        width:100%;
         
   }
   
     table.tblList tr
   {
       border-style: solid;
        border-color: black;
       border-width:1px;
       padding: 3px;
       margin: 3px;
       
   }
   .tableCellDisplay
   {
       font-weight:bold;
     
   }
   
   .tableContactUpdate
   {
       border-style: solid;
       border-color: black;
       border-width:1px;
       padding: 3px;
       background-color: White;
  
   }
   
   .tableContactUpdate td:first-child {
 background-color: red; 
 color: #ffffff;
 }
   table.Requests
   {
   
    border-style: solid;
    border-color: black;
    border-width:1px;
    padding: 3px;
    background-color: White;
    font-size:medium;
    vertical-align:top;
   
   }
   
   table.Requests .header
   {
      text-align:left;
      background-color:  #336666;
      color:white;
      font-weight:bold;
      font-size:larger;
      border-style: solid;
      border-color: black;
   }
   
    table.Requests td
   {
       padding:5px; 
    
   
   }
   table.Requests .header a
   {
   
      color:white;
      text-decoration:none;
      
   
   }
     
   table.Requests .header a:visited
   {
   
      color:yellow;
   
   }
   table.Requests .displayCell 
   {     
          font-weight:bold;
         
   }