﻿


.textInputRequired
{
    border-color: #000000;
    border-style: solid;
    background-color: Yellow;
}

.textInputRequired:focus {background-color: #FFA6A6 !important; border:solid 2px #B20000 !important;}

input[type=text]:focus { 
       border: 2px solid green;   
}
