﻿ .tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
   
    background: blue;
    border-color: black;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    
}


.tooltip:hover:before{
    border: solid;
    border-color: black transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    
}

.tooltip:focus:after{
   
    background: blue;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}


.tooltip:focus:before{
    border: solid;
    border-color: blue transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    
}

.tooltiptest{
    display: inline;
    position: relative;
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: "test";
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltipMove {
	display:none;
	position:absolute;
	border:3px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:0px;
	color:#fff;
	font-size:12px Arial;
}

.masterTooltip:after
{ 
content:url(Images/arrow16.png);
position:relative;
display:inline;
margin-left: 5px;
}
.tooltipADInfo {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#336644;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}


.tooltipContact
{ 
    vertical-align:middle;
}

 .contactToolTip:after
{ 
content:url(Images/contact24.png);
position:relative;
top:3px;
display:inline;
margin-left: 5px;
}
 .TestAfterCss:after
{ 
content:url(Images/contact24.png);
position:relative;
top:3px;
display:inline;
margin-left: 5px;
}